#
# For a description of the syntax of this configuration file,
# see Documentation/kbuild/kconfig-language.txt.
#

mainmenu "Linux Kernel/Padre Configuration"

config SPARC
        bool
        default y

# Identify this as a Sparc32 build
config SPARC32
        bool
        default y

config PADRE
	bool
	default y

config MMU
	bool
	default y


source "init/Kconfig"

source "kernel/Kconfig.preempt"
source "kernel/Kconfig.hz"

menu "General setup for PADRE"

config PADRE_NONCACHESIZE
	int "Non-cacheable area for DMA (in 16Mbyte units)"
	help
	  this number is mutiple by 16M

config PADRE_STACK_16K
	bool "support 16K kernel stack"

choice
	prompt "padre page size"
	default PADRE_4K_PAGE

	config PADRE_4K_PAGE
		bool "support 4k page size"

	config PADRE_8K_PAGE
		bool "support 8k page size"

	config PADRE_16K_PAGE
		bool "support 16k page size"

	config PADRE_RESERVE_DMA
		bool "reserve DMA memory for page table"
		depends PADRE_16K_PAGE
		
endchoice

#config PADRE_BLK
#	bool "padre blk device support"

#config BLK_DEV_PADREDISK
#	bool
#	default y	

config RWSEM_GENERIC_SPINLOCK
	bool
	default y

config RWSEM_XCHGADD_ALGORITHM
        bool

config GENERIC_FIND_NEXT_BIT
        bool
        default y

config GENERIC_HWEIGHT
        bool
        default y

config GENERIC_CALIBRATE_DELAY
        bool
        default y

config PADRE_SERIAL
        bool
	default y
	
config PADRE_SERIAL_CONSOLE
        bool
	default y

config SERIAL_CORE
        bool
	default y

config SERIAL_CORE_CONSOLE
        bool
	default y

config UNIX98_PTYS
	bool
	default y
	

config OBSOLETE_INTERMODULE
	bool
	default y

config LBD
	bool
	default y

config PCI
	bool 
	default y


source "drivers/pci/Kconfig"

source "fs/Kconfig.binfmt"

source "mm/Kconfig"

endmenu

menu "Padre debug message and system patch"

config PADRE_64BIT
        int "Support 64 bit in PADRE"

config PADRE_UNEXPECT_TLBTRAP
	bool "PADRE chip can generate unexpect tlb trap"
	help
		turn on this option will cause debug message if our sofeware patch
		failure.

config PADRE_UNALIGNED
	bool "Turn on register and stack dump for unaligned acess"

config PADRE_BUG179
	bool "Turn on bug 179 fix and trace"
	default n
	help
	  Turn on debug message for bug 179

config PADRE_BUG893
	bool "Turn on bug 893 fix and trace"
	default y
	help
	  Turn on debug message for bug 893

config PADRE_DIV_BUG
        bool "Turn on bug 940(divide) fix and trace"
        default y
        help
          Turn on debug message for bug 940

endmenu

menu "Device support for padre"

config PADRE_FLASH
        bool "Padre flash device support"
        select MTD
        select MTD_COMPLEX_MAPPINGS
        select MTD_PARTITIONS
        select MTD_CHAR
        select MTD_BLOCK
        select MTD_MAP_BANK_WIDTH_1
        select MTD_CFI
        select MTD_GEN_PROBE
        select MTD_CFI_INTELEXT
        select MTD_CFI_AMDSTD
        select MTD_CFI_I1
        select MTD_CFI_UTIL
        select MTD_ATMEL
        select MTD_NAND
        select MTD_NAND_ECC
        select MTD_NAND_VERIFY_WRITE
        select MTD_NAND_IDS

config MTD
	bool
config MTD_COMPLEX_MAPPINGS
	bool
config MTD_PARTITIONS
	bool
config MTD_CHAR
	bool
config MTD_BLOCK
	bool
config MTD_MAP_BANK_WIDTH_1
	bool
config MTD_CFI
	bool
config MTD_GEN_PROBE
	bool
config MTD_CFI_INTELEXT
	bool
config MTD_CFI_AMDSTD
	bool
config MTD_CFI_I1
	bool
config MTD_CFI_UTIL
	bool
config MTD_ATMEL
	bool
config MTD_NAND
	bool
config MTD_NAND_VERIFY_WRITE
	bool
config MTD_NAND_IDS
	bool

config MTD_DEBUG
	bool "MTD debugging"
	depends on MTD

config MTD_DEBUG_VERBOSE
        int "Debugging verbosity (0 = quiet, 3 = noisy)"
        depends on MTD_DEBUG
        default "0"
        help
          Determines the verbosity level of the MTD debugging messages.
	
endmenu

source "net/Kconfig"
source "drivers/net/Kconfig"

source "drivers/base/Kconfig"

source "drivers/block/Kconfig"

# source "drivers/mtd/Kconfig"

source "drivers/ide/Kconfig"

source "drivers/scsi/Kconfig"

source "drivers/md/Kconfig"

# This one must be before the filesystem configs. -DaveM

source "fs/Kconfig"

menu "Instrumentation Support"
source "arch/padre/oprofile/Kconfig"
endmenu

source "drivers/usb/Kconfig"

source "arch/padre/Kconfig.debug"

source "security/Kconfig"

source "crypto/Kconfig"

source "lib/Kconfig"

