#! /usr/bin/make -f

package := libdb1-compat

dtmp := $(CURDIR)/debian/$(package)

DEB_HOST_ARCH := $(shell dpkg-architecture -qDEB_HOST_ARCH)

ifeq ($(DEB_HOST_ARCH),alpha)
soversion=.2.1
else
soversion=.2
endif

build: libdb1.so$(soversion)
libdb1.so$(soversion):
	dh_testdir
	$(MAKE) libdb.so-version=$(soversion)

clean:
	dh_testdir
	$(MAKE) clean libdb.so-version=$(soversion)
	dh_clean

binary-arch:
	dh_testdir
	dh_testroot
	dh_installdirs lib
	# match glibc
	install -m644 libdb1.so$(soversion) $(dtmp)/lib/libdb1-2.2.5.so
	ln -s libdb1-2.2.5.so $(dtmp)/lib/libdb1.so$(soversion)
	ln -s libdb1-2.2.5.so $(dtmp)/lib/libdb.so$(soversion)
	dh_installdocs
	dh_installchangelogs
	dh_strip
	dh_compress
	dh_fixperms
	dh_makeshlibs
	dh_installdeb
	dh_shlibdeps
	dh_gencontrol
	dh_md5sums
	dh_builddeb

binary-indep:

binary: binary-arch binary-indep

.PHONY: build clean binary-arch binary-indep binary
