Source: sysvinit
Section: admin
Priority: required
Maintainer: Debian sysvinit maintainers <pkg-sysvinit-devel@lists.alioth.debian.org>
Uploaders: Petter Reinholdtsen <pere@debian.org>, Henrique de Moraes Holschuh <hmh@debian.org>, Kel Modderman <kel@otaku42.de>
Build-Depends: debhelper (>= 7), po-debconf, quilt (>= 0.40), libselinux1-dev (>= 1.14) [!hurd-i386 !kfreebsd-i386 !kfreebsd-amd64], libsepol1-dev [!hurd-i386 !kfreebsd-i386 !kfreebsd-amd64]
Standards-Version: 3.9.1
Homepage: http://savannah.nongnu.org/projects/sysvinit
Vcs-Svn: svn://svn.debian.org/pkg-sysvinit/sysvinit/trunk
Vcs-Browser: http://svn.debian.org/wsvn/pkg-sysvinit/sysvinit/trunk/

Package: sysvinit
Essential: yes
Architecture: any
Pre-Depends: initscripts, sysv-rc | file-rc, sysvinit-utils (>= 2.86.ds1-66)
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: System-V-like init utilities
 This package contains programs required for booting
 a Debian system and doing basic process management.
 .
 The most important program in the package is /sbin/init.
 It is the first process started on boot and continues
 to run as process number 1 until the system halts. All
 other processes are descended from it.

Package: sysvinit-utils
Essential: yes
Architecture: any
Conflicts: last, sysvconfig, chkconfig (<< 11.0-79.1-2)
Replaces: last, sysvinit (<= 2.86.ds1-65)
Depends: ${shlibs:Depends}, ${misc:Depends}
Suggests: sash
Description: System-V-like utilities
 This package contains the important System-V-like utilities.
 .
 Specifically, this package includes:
 killall5, last, lastb, mesg, pidof, service, sulogin

Package: sysv-rc
Architecture: all
Recommends: lsb-base (>= 3.2-14)
Conflicts: file-rc
Replaces: file-rc
Suggests: sysv-rc-conf, bum
Depends: ${misc:Depends}, sysvinit-utils (>= 2.86.ds1-62), insserv (>> 1.12.0-10)
Breaks: initscripts (<< 2.86.ds1-63)
Description: System-V-like runlevel change mechanism
 This package provides support for the System-V like system
 for booting, changing runlevels, and shutting down,
 configured through symbolic links in /etc/rc?.d/.

Package: initscripts
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ${mount:Depends}, debianutils (>= 2.13.1), lsb-base (>= 3.2-14), sysvinit-utils (>= 2.86.ds1-64), sysv-rc | file-rc, coreutils (>= 5.93)
Recommends: psmisc, e2fsprogs
Conflicts: libdevmapper1.02.1 (<< 2:1.02.24-1)
Replaces: libc6, libc6.1, libc0.1, libc0.3
Description: scripts for initializing and shutting down the system
 The scripts in this package initialize a standard Debian
 system at boot time and shut it down at halt or reboot time.
