[D-BUS Service]
Name=org.freedesktop.DBus.TestSuiteForkingEchoService
Exec=/src/jhbuild/checkout/dbus/test/test-service org.freedesktop.DBus.TestSuiteForkingEchoService fork
