
# sample raiddev configuration file

#
# 'persistent' RAID5 setup, with no spare disks:
#
raiddev /dev/md0
    raid-level                5
    nr-raid-disks             3
    nr-spare-disks            0
    persistent-superblock     1
    chunk-size                4

    device                    /dev/sdb1
    raid-disk                 0
    device                    /dev/sda1
    raid-disk                 1
    device                    /dev/sdc1
    raid-disk                 2

#
# compatible (old) RAID0 setup:
#
raiddev /dev/md1
    raid-level                0
    nr-raid-disks             3
    persistent-superblock     1
    chunk-size                4

    device                    /dev/sda1
    raid-disk                 0
    device                    /dev/sdb1
    raid-disk                 1
    device                    /dev/sdc1
    raid-disk                 2

#
# persistent RAID1 array with 1 spare disk.
#
raiddev /dev/md2
    raid-level                1
    nr-raid-disks             2
    nr-spare-disks            1
    persistent-superblock     1
    chunk-size                4

    device                    /dev/sda1
    raid-disk                 0
    device                    /dev/sdb1
    raid-disk                 1
    device                    /dev/sdc1
    spare-disk                0

