# Sample raid-0 configuration

raiddev			/dev/md0

raid-level		0    # it's not obvious but this *must* be 
			     # right after raiddev

persistent-superblock   0    # set this to 1 if you want autostart,
                             # BUT SETTING TO 1 WILL DESTROY PREVIOUS
                             # CONTENTS if this is a RAID0 array created
                             # by older raidtools (0.40-0.51) or mdtools!

chunk-size		16

nr-raid-disks		2
nr-spare-disks		0

device			/dev/hda1
raid-disk		0

device			/dev/hdb1
raid-disk		1

