# Sample raid-5 configuration
raiddev			/dev/md0
raid-level		5
nr-raid-disks		3
chunk-size		4

# Parity placement algorithm

#parity-algorithm	left-asymmetric

#
# the best one for maximum performance:
#
parity-algorithm	left-symmetric

#parity-algorithm	right-asymmetric
#parity-algorithm	right-symmetric

# Spare disks for hot reconstruction
#nr-spare-disks		0

device			/dev/hda1
raid-disk		0

device			/dev/hdb1
raid-disk		1

device			/dev/hdc1
raid-disk		2
