#!/usr/bin/make -f

CFLAGS += -Wall -g -O$(if $(findstring noopt,$(DEB_BUILD_OPTIONS)),0,2)
CXXFLAGS += -Wall -g -O$(if $(findstring noopt,$(DEB_BUILD_OPTIONS)),0,2)

%:
	dh --with quilt $@

override_dh_strip:
	dh_strip --dbg-package=faad2-dbg
