Source: libapache2-mod-perl2
Section: httpd
Priority: optional
Maintainer: Debian Perl Group <pkg-perl-maintainers@lists.alioth.debian.org>
Uploaders: Gunnar Wolf <gwolf@debian.org>, Damyan Ivanov <dmn@debian.org>,
 Niko Tyni <ntyni@debian.org>, gregor herrmann <gregoa@debian.org>
Standards-Version: 3.8.4
Homepage: http://perl.apache.org/
Vcs-Svn: svn://svn.debian.org/pkg-perl/trunk/libapache2-mod-perl2/
Vcs-Browser: http://svn.debian.org/viewsvn/pkg-perl/trunk/libapache2-mod-perl2/
Build-Depends: perl (>= 5.8.7-3), libperl-dev (>= 5.8.7-3),
 apache2-threaded-dev (>= 2.2.3) | apache2-prefork-dev (>= 2.2.3),
 debhelper (>= 6), libwww-perl, libdevel-symdump-perl, libhtml-parser-perl,
 libgdbm-dev, libgtop2-dev, quilt, apache2, libcompress-zlib-perl,
 libbsd-resource-perl, locales-all, netbase,
 perl (>= 5.10.0-14) | libcgi-pm-perl (>= 3.33)
Build-Conflicts: libapache2-mod-perl2 (<= 1.999.22-1)

Package: libapache2-mod-perl2
Architecture: any
Depends: ${misc:Depends}, apache2.2-common, ${perl:Depends}, libwww-perl, libmime-base64-perl,
 libdevel-symdump-perl, liburi-perl, ${shlibs:Depends}, netbase,
 apache2 (>= 2.2.4) | apache2-mpm-itk (>= 2.2.4)
Recommends: libbsd-resource-perl, libapache2-reload-perl
Description: Integration of perl with the Apache2 web server
 mod_perl allows the use of Perl for just about anything
 Apache-related, including <Perl> sections in the config
 files and the famous Apache::Registry module for caching
 compiled scripts.
 .
 It can produce anywhere from a 400% to 2000% speed increase
 on sites using perl scripts, and is used on many large script-
 based web sites - for example, http://slashdot.org.
 
Package: libapache2-mod-perl2-dev
Architecture: all
Section: libdevel
Depends: ${misc:Depends}, libapache2-mod-perl2
Description: Integration of perl with the Apache2 web server - development files
 mod_perl allows the use of Perl for just about anything
 Apache-related, including <Perl> sections in the config
 files and the famous Apache::Registry module for caching
 compiled scripts.
 .
 This package contains the header files required for building
 C-based modules integrating with mod_perl.

Package: libapache2-mod-perl2-doc
Architecture: all
Section: doc
Depends: ${misc:Depends}
Description: Integration of perl with the Apache2 web server - documentation
 mod_perl allows the use of Perl for just about anything
 Apache-related, including <Perl> sections in the config
 files and the famous Apache::Registry module for caching
 compiled scripts.
 .
 This package contains additional documentation for mod_perl.
