Source: ntp
Section: net
Priority: optional
Maintainer: Bdale Garbee <bdale@gag.com>
Build-Depends: debhelper, autoconf, automake, libssl-dev, lynx, libreadline4-dev
Standards-Version: 3.5.6.0

Package: ntp
Architecture: any
Depends: ntp-simple | ntp-refclock, debconf, ${shlibs:Depends}
Suggests: ntpdate,ntp-doc
Replaces: xntp,xntp3
Conflicts: chrony
Description: Daemon and utilities for full NTP v4 timekeeping participation.
 The Network Time Protocol allows for the synchronization of clocks on
 networked computers.  The ntpd daemon implements NTP, allowing Unix
 systems to participate in this synchronization.
 .
 To minimize resource consumption in the general case, this package no longer
 includes the actual daemon.  You will need either ntp-simple or ntp-refclock,
 depending on whether you want the drivers for radio clocks included in the
 refclock version of the daemon.
 .
 NTP was designed with attention to details which might introduce
 systematic bias into the computations, and the protocol is capable of
 synchronizing with even the most precise external time sources.
 .
 For more information on how NTP works, and how to configure a campus of 
 ntpd daemons, load the optional Debian package 'ntp-doc'.

Package: ntp-simple
Architecture: any
Depends: debconf, ${shlibs:Depends}
Suggests: ntpdate,ntp-doc,ntp
Replaces: xntp,xntp3,ntp (<= 1:4.1.0-2)
Conflicts: chrony, ntp (<< 1:4.1.0), ntp-refclock
Description: NTP v4 daemon for simple systems.
 This version of the ntp daemon is sufficient for most systems.
 .
 If you wish to configure a reference clock, particularly if you have a radio 
 clock, use the ntp-refclock package instead.

Package: ntp-refclock
Architecture: any
Priority: extra
Depends: debconf, ${shlibs:Depends}
Suggests: ntpdate,ntp-doc,ntp
Replaces: xntp,xntp3,ntp (<= 1:4.1.0-2)
Conflicts: chrony, ntp (<< 1:4.1.0), ntp-simple
Description: NTP v4 daemon for reference clocks.
 This version of the ntp daemon includes drivers to interface to various
 radio clocks and other devices used for creating reference clocks.
 .
 If you do not have a radio clock, use the ntp-simple package instead, as it
 consumes far less memory!
 .
 If you're serious about building a high-quality stratum 1 timekeeper, please
 take a look at Ulrich Windl's PPSkit patchset for the Linux kernel, available
 from the kernel.org mirror network in pub/linux/daemons/ntp.

Package: ntpdate
Architecture: any
Depends: debconf, ${shlibs:Depends}
Suggests: ntp
Conflicts: ntp (<< 1:4.0.98a),chrony
Replaces: ntp (<< 1:4.0.98a),xntp,xntp3
Description: The ntpdate client for setting system time from NTP servers.
 The ntpdate client allows a system's clock to be set to match the time
 obtained by communicating with one or more servers running the NTP protocol.
 .
 The use of ntpdate is optional if you're running the ntp package, it can help
 a system obtain lock if it starts with a time that's pretty close by using
 ntpdate before starting the daemon.
 .
 The ntpdate client by itself is useful for occasionally setting the time on
 machines that are not on the net full-time, such as laptops.

Package: ntp-doc
Architecture: all
Conflicts: xntp-doc,xntp3-doc
Replaces: xntp-doc,xntp3-doc
Description: HTML documentation for the ntp and ntpdate packages
 Documentation for xntp in HTML format plus some hints in ASCII.

