Source: libcsv
Section: libs
Priority: optional
Maintainer: Pino Toscano <pino@debian.org>
Build-Depends: debhelper (>= 9), dh-autoreconf,
Standards-Version: 3.9.6
Homepage: http://sourceforge.net/projects/libcsv/
Vcs-Browser: http://anonscm.debian.org/gitweb/?p=users/pino/libcsv.git
Vcs-Git: git://anonscm.debian.org/users/pino/libcsv.git

Package: libcsv3
Architecture: any
Multi-Arch: same
Pre-Depends: ${misc:Pre-Depends}
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: CSV parser and writer library
 The CSV library provides a flexible, intuitive interface for parsing and
 writing CSV data.
 .
 This package contains the shared library.

Package: libcsv-dev
Section: libdevel
Architecture: any
Multi-Arch: same
Depends: ${misc:Depends}, libcsv3 (= ${binary:Version})
Description: CSV parser and writer library - development files
 The CSV library provides a flexible, intuitive interface for parsing and
 writing CSV data.
 .
 This package contains development files for building software that uses
 libcsv.

Package: libcsv3-dbg
Section: debug
Priority: extra
Architecture: any
Multi-Arch: same
Depends: ${misc:Depends}, libcsv3 (= ${binary:Version})
Description: CSV parser and writer library - debug symbols
 The CSV library provides a flexible, intuitive interface for parsing and
 writing CSV data.
 .
 This package contains debugging files used to investigate problems with
 libcsv.
