#!/usr/bin/make -f
# -*- mode: makefile; coding: utf-8 -*-

# make builds verbose
export V=1

%:
	dh $@ --parallel --with autoreconf

override_dh_install:
	dh_install --list-missing -X.la

override_dh_strip:
	dh_strip --dbg-package=libcsv3-dbg

prune-nonfree:
	# Remove sourceless PDF
	rm -fv csv.pdf
