Source: snapper
Priority: optional
Section: admin
Maintainer: Justin Maggard <justin.maggard@netgear.com>
Build-Depends: debhelper (>= 9),
               g++ (>= 4.9),
               libboost-dev,
               libboost-thread-dev,
               libboost-system-dev,
               libboost-test-dev,
               libmount-dev,
               libxml2-dev,
               libz-dev,
               libdbus-1-dev,
               libpam-dev,
               btrfs-tools-dev,
               xsltproc,
               docbook-xsl,
               dh-autoreconf,
               e2fslibs-dev
Standards-Version: 3.9.6
Homepage: http://en.opensuse.org/Portal:Snapper

Package: snapper
Priority: optional
Section: admin
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Replaces: libsnapper2, libsnapper3
Description: Linux filesystem snapshot management tool
 Snapper is a tool for Linux filesystem snapshot management. Apart from the
 obvious creation and deletion of snapshots, it can compare snapshots and
 revert differences between snapshots. In simple terms, this allows root and
 non-root users to view older versions of files and revert changes.

Package: snapper-dev
Priority: optional
Section: libdevel
Architecture: any
Multi-Arch: same
Depends: snapper, ${misc:Depends}
Description: Library for Linux filesystem snapshot management tool (header files)
 This package contains header files and documentation for developing with
 libsnapper.

Package: libpam-snapper
Priority: optional
Section: admin
Architecture: any
Multi-Arch: same
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: PAM module for Linux filesystem snapshot management tool
 A PAM module for calling snapper during user login and logout.
