#!/usr/bin/make -f
DESTDIR = $(CURDIR)/debian/tmp

%:
	dh $@ --parallel --with autoreconf

override_dh_auto_configure:
	dh_auto_configure -- --disable-ext4 --disable-zypp --disable-lvm --enable-xattrs --disable-btrfs-quota

override_dh_install:
	install -D -m 644 data/sysconfig.snapper $(DESTDIR)/etc/sysconfig/snapper
	mv $(DESTDIR)/etc/cron.hourly/suse.de-snapper $(DESTDIR)/etc/cron.hourly/snapper
	mv $(DESTDIR)/etc/cron.daily/suse.de-snapper $(DESTDIR)/etc/cron.daily/snapper
	dh_install

override_dh_auto_test:
