Source: busybox-utils
Maintainer: Justin Maggard <justin.maggard@netgear.com>
Priority: extra
Build-Depends: debhelper
Standards-Version: 3.9.2

Package: busybox-ping
Architecture: all
Section: net
Depends: busybox (>= 1:1.20.0), ${misc:Depends}
Provides: ping
Description: Tools to test the reachability of network hosts
 The ping command sends ICMP ECHO_REQUEST packets to a host in order to
 test if the host is reachable via the network.
 .
 This package includes only symlinks to execute the busybox builtin
 versions of the commands.

Package: busybox-cpio
Architecture: all
Section: utils
Depends: busybox (>= 1:1.20.0), ${misc:Depends}
Provides: cpio
Conflicts: cpio
Description: cpio -- a program to manage archives of files
 cpio is a tool for creating and extracting archives, or copying
 files from one place to another.  It handles a number of cpio formats
 as well as reading and writing tar files.
 .
 This package includes only symlinks to execute the busybox builtin
 version of the command.

Package: busybox-kmod
Architecture: all
Section: admin
Depends: busybox (>= 1:1.20.0), ${misc:Depends}
Provides: kmod
Conflicts: kmod
Description: tools for managing Linux kernel modules
 This package contains a set of programs for loading, inserting, and
 removing kernel modules for Linux.
 .
 This package includes only symlinks to execute the busybox builtin
 versions of the commands.

Package: busybox-net-tools
Architecture: all
Section: net
Depends: busybox (>= 1:1.20.0), ${misc:Depends}
Provides: net-tools
Description: busybox networking toolkit
 This package includes the important tools for controlling the network
 subsystem of the Linux kernel.  This includes arp, ifconfig, netstat,
 nameif and route.
 .
 This package includes only symlinks to execute the busybox builtin
 versions of the commands.

Package: busybox-dnsutils
Architecture: all
Section: net
Depends: busybox (>= 1:1.20.0), ${misc:Depends}
Provides: dnsutils
Conflicts: dnsutils
Description: DNS utilities
 This package includes nsloolup, which can query the DNS in various ways.
 .
 This package includes only symlinks to execute the busybox builtin
 version of the command.

Package: busybox-tftp
Architecture: all
Section: net
Depends: busybox (>= 1:1.20.0), ${misc:Depends}
Provides: tftp
Conflicts: tftp
Description: TFTP client utility
 This package includes a simple TFTP client.
 .
 This package includes only symlinks to execute the busybox builtin
 version of the command.

Package: busybox-unzip
Architecture: all
Section: utils
Depends: busybox (>= 1:1.20.0), ${misc:Depends}
Provides: unzip
Conflicts: unzip
Description: De-archiver for .zip files
 BusyBox's unzip program. This program can handle most files produced
 either by PKZIP, or the InfoZIP zip program.
 .
 This package includes only symlinks to execute the busybox builtin
 version of the command.

Package: busybox-less
Architecture: all
Section: text
Depends: busybox (>= 1:1.20.0), ${misc:Depends}
Provides: less
Conflicts: less
Description: pager program similar to more
 This package provides "less", a file pager (that is, a memory-efficient
 utility for displaying text one screenful at a time). Less has many
 more features than the basic pager "more".
 .
 This package includes only symlinks to execute the busybox builtin
 version of the command.

Package: busybox-vlan
Architecture: all
Section: misc
Depends: busybox (>= 1:1.20.0), ${misc:Depends}
Provides: vlan
Conflicts: vlan
Description: user mode programs to enable VLANs on your ethernet devices
 This package contains the user mode programs you need to add and remove
 VLAN devices from your ethernet devices.
 .
 This package includes only symlinks to execute the busybox builtin
 version of the command.
