Source: libcsv
Priority: optional
Maintainer: Christopher Howard <christopher.howard@frigidcode.com>
Build-Depends: debhelper (>= 8.0.0), autotools-dev
Standards-Version: 3.9.3
Section: libs
Homepage: http://sourceforge.net/projects/libcsv

Package: libcsv-dev
Section: libdevel
Architecture: any
Depends: libcsv3 (= ${binary:Version})
Description: development files for the libcsv library
 libcsv is a small, simple, and fast CSV library written in pure
 ANSI C89 for reading and writing CSV data. It provides a straight
 forward interface using callback functions to handle parsed fields and
 rows. It can also handle improperly formatted CSV files.
 .
 This package contains the header files, static libraries, documentation,
 and example files for developing with the libcsv library.

Package: libcsv3
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: simple, fast library to read and write CSV data
 libcsv is a small, simple, and fast CSV library written in pure
 ANSI C89 for reading and writing CSV data. It provides a straight
 forward interface using callback functions to handle parsed fields and
 rows. It can also handle improperly formatted CSV files.
