Source: snapper
Priority: optional
Section: admin
Maintainer: Justin Maggard <justin.maggard@netgear.com>
Build-Depends: debhelper (>= 9), g++, libboost-dev, libboost-thread-dev, libboost-system-dev, libboost-test-dev, libmount-dev, libxml2-dev, libz-dev, libdbus-1-dev, libpam-dev, btrfs-tools-dev, xsltproc, docbook-xsl
Standards-Version: 3.9.3
Homepage: http://en.opensuse.org/Portal:Snapper

Package: snapper
Priority: optional
Section: admin
Architecture: any
Depends: ${shlibs:Depends}
Description: snapper daemon and utilities
 This package contains snapper, a tool for filesystem snapshot management.

Package: libsnapper2
Priority: optional
Section: libs
Architecture: any
Pre-Depends: ${misc:Pre-Depends}
Depends: ${shlibs:Depends}
Multi-Arch: same
Description: snapper shared libraries
 This package contains libsnapper, a library for filesystem snapshot management.

Package: libsnapper-dev
Priority: optional
Section: libdevel
Architecture: any
Multi-Arch: same
Description: snapper
 This package contains header files and documentation for developing with
 libsnapper.

Package: libpam-snapper
Priority: optional
Section: admin
Architecture: any
Multi-Arch: same
Description: pam_snapper
 A PAM module for calling snapper during user login and logout.
