Source: ffmpeg
Section: graphics
Priority: optional
Maintainer: Justin Maggard <justin.maggard@netgear.com>
Homepage: http://ffmpeg.mplayerhq.hu/
Standards-Version: 3.9.6
Build-Conflicts: libroar-dev
Build-Depends: debhelper (>= 9), zlib1g-dev, quilt,
 yasm [amd64 i386 kfreebsd-i386 kfreebsd-amd64],
 libmp3lame-dev

Package: ffmpeg
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Suggests: nvidia-libvdpau1 [ i386 amd64 ]
Replaces: libavcodec52
Conflicts: ffprobe, libav-tools
Description: audio/video encoder, streaming server & audio/video file converter.
 FFmpeg is a hyper fast real time audio/video encoder, a streaming server
 and a generic audio and video file converter.
 .
 It can grab from a standard Video4Linux video source and convert it into
 several file formats based on DCT/motion compensation encoding. Sound is
 compressed in MPEG audio layer 2 or using an AC3 compatible stream.

Package: ffmpeg-dbg
Section: debug
Priority: extra
Architecture: any
Depends: libavutil55 (= ${binary:Version}), libavcodec57 (= ${binary:Version}), libavdevice57 (= ${binary:Version}), libavformat57 (= ${binary:Version}), libswscale4 (= ${binary:Version}), libswresample2 (= ${binary:Version}), libavfilter6 (= ${binary:Version}), ffmpeg (= ${binary:Version}), ${misc:Depends}
Description: Debug symbols for FFmpeg related packages.
 This package contains debug data of the FFmpeg related shared libraries.
 .
 Most people will not need this package. Please install it to produce useful
 stacktraces to help debugging the FFmpeg library.

Package: ffmpeg-doc
Section: doc
Architecture: all
Depends: ${misc:Depends}
Description: Documentation of the FFmpeg API.
 This package contains the html doxygen documentation of the FFmpeg API.

Package: libavcodec57
Architecture: any
Section: libs
Multi-Arch: same
Pre-Depends: ${misc:Pre-Depends}
Conflicts: libavcodec-extra-57
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Library to encode decode multimedia streams - runtime files.
 FFmpeg is a hyper fast real time audio/video encoder, a streaming server
 and a generic audio and video file converter.
 .
 It can grab from a standard Video4Linux video source and convert it into
 several file formats based on DCT/motion compensation encoding. Sound is
 compressed in MPEG audio layer 2 or using an AC3 compatible stream.

Package: libavcodec-dev
Architecture: any
Section: libdevel
Multi-Arch: same
Depends: libavcodec57 (= ${binary:Version}), zlib1g-dev, libavutil-dev (>= ${binary:Version}), ${misc:Depends}
Conflicts: libffmpeg0, libavcodec1-dev, libavcodec2-dev
Description: Library to encode decode multimedia streams - devel files.
 FFmpeg is a hyper fast real time audio/video encoder, a streaming server
 and a generic audio and video file converter.
 .
 It can grab from a standard Video4Linux video source and convert it into
 several file formats based on DCT/motion compensation encoding. Sound is
 compressed in MPEG audio layer 2 or using an AC3 compatible stream.

Package: libavutil55
Architecture: any
Section: libs
Multi-Arch: same
Pre-Depends: ${misc:Pre-Depends}
Conflicts: libpostproc0, libavutil-extra-55
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: FFmpeg avutil library - runtime files
 This package contains the FFmpeg video utility.

Package: libavutil-dev
Architecture: any
Section: libdevel
Multi-Arch: same
Depends: libavutil55 (= ${binary:Version}), ${misc:Depends}
Description: FFmpeg avutil devel files - devel files.
 This package contains the FFmpeg video utility.

Package: libavformat57
Architecture: any
Section: libs
Multi-Arch: same
Pre-Depends: ${misc:Pre-Depends}
Conflicts: libavformat-extra-57
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: FFmpeg file format library.
 This is the demuxer library from the FFmpeg project. It supports most
 existing file formats (AVI, MPEG, OGG, Matroska, ASF...).

Package: libavformat-dev
Architecture: any
Section: libdevel
Multi-Arch: same
Depends: libavformat57 (= ${binary:Version}), ${misc:Depends}
Description: Development files for libavformat.
 This is the demuxer library from the FFmpeg project. It supports most
 existing file formats (AVI, MPEG, OGG, Matroska, ASF...).

Package: libswscale4
Architecture: any
Section: libs
Multi-Arch: same
Pre-Depends: ${misc:Pre-Depends}
Conflicts: libswscale-extra-4
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: FFmpeg video scaling library.
 This is the video scaling library from the FFmpeg project.
 .
 Please send me a better description.

Package: libswscale-dev
Architecture: any
Section: libdevel
Multi-Arch: same
Depends: libswscale4 (= ${binary:Version}), ${misc:Depends}
Description: Development files for libswscale.
 This is the video scaling library from the FFmpeg project.
 .
 Please send me a better description.

Package: libavdevice57
Architecture: any
Section: libs
Multi-Arch: same
Pre-Depends: ${misc:Pre-Depends}
Conflicts: libavdevice-extra-57
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: FFmpeg device handling library.
 This is the device handling library from the FFmpeg project.

Package: libavdevice-dev
Architecture: any
Section: libdevel
Multi-Arch: same
Depends: libavdevice57 (= ${binary:Version}), libavformat-dev (>= ${binary:Version}), ${misc:Depends}
Description: Development files for libavdevice.
 This is the device handling library from the FFmpeg project.
 .
 This package contains the header files and static libraries needed to
 compile applications or shared objects that use libavdevice.

Package: libavfilter6
Architecture: any
Section: libs
Multi-Arch: same
Pre-Depends: ${misc:Pre-Depends}
Conflicts: libavfilter-extra-6, libavfilter2
Replaces: libavfilter2
Depends: ${shlibs:Depends}, ${misc:Depends}, libavcodec57 (= ${binary:Version}), libavformat57 (= ${binary:Version})
Description: FFmpeg filter library.
 libavfilter is a graphics library, therefore for:
 .
  * drawing text
    Create a single drawtext filter using freetype
  * supporting filters from libmpcodecs
    Create a single filter that links to libmpcodecs
  * supporting filters from gimp
    Create a single filter that links to it
  * reading images
    Create a filter using libavcodec
  * blending two things
    Create a single filter doing the blending using C

Package: libavfilter-dev
Architecture: any
Section: libdevel
Multi-Arch: same
Depends: libavfilter6 (= ${binary:Version}), libavcodec-dev, ${misc:Depends}
Description: Development files for libavfilter.
 libavfilter is a graphics library, therefore for:
 .
  * drawing text
    Create a single drawtext filter using freetype
  * supporting filters from libmpcodecs
    Create a single filter that links to libmpcodecs
  * supporting filters from gimp
    Create a single filter that links to it
  * reading images
    Create a filter using libavcodec
  * blending two things
    Create a single filter doing the blending using C .
 .
 This package contains the header files and static libraries needed to
 compile applications or shared objects that use libavfilter0.

Package: libswresample2
Architecture: any
Section: libs
Multi-Arch: same
Pre-Depends: ${misc:Pre-Depends}
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: FFmpeg audio rescaling library.
 This is the audio scaling library from the FFmpeg project.
 .
 Please send me a better description.

Package: libswresample-dev
Architecture: any
Section: libdevel
Multi-Arch: same
Depends: libswresample2 (= ${binary:Version}), ${misc:Depends}, libavutil-dev
Description: Development files for libswresample.
 This is the audio scaling library from the FFmpeg project.
 .
 Please send me a better description.

Package: libavresample3
Architecture: any
Section: libs
Multi-Arch: same
Pre-Depends: ${misc:Pre-Depends}
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: FFmpeg audio conversion library.
 This is the audio conversion library from the FFmpeg project.
 .
 It is just a API wrapper for libav compatibility.

Package: libavresample-dev
Architecture: any
Section: libdevel
Multi-Arch: same
Depends: libavresample3 (= ${binary:Version}), ${misc:Depends}
Description: Development files for libswresample.
 This is the audio conversion library from the FFmpeg project.
 .
 It is just a API wrapper for libav compatibility.
