Source: makedev
Section: admin
Priority: extra
Maintainer: Bdale Garbee <bdale@gag.com>
Build-Depends: debhelper (>= 5)
Standards-Version: 3.8.2

Package: makedev
Architecture: all
Depends: base-passwd (>= 3.0.4)
Conflicts: udev (<= 0.024-7)
Description: creates device files in /dev
 The MAKEDEV executable is used to create device files, often in /dev.
 .
 Device files are special files through which applications can interact 
 with hardware.
 .
 This package is not necessary for most modern Linux systems, where the udev
 subsystem provides a more dynamic mechanism for device file management.
