Source: db2
Section: libs
Priority: optional
Maintainer: Matthew Wilcox <willy@debian.org>
Build-Depends: debhelper, autoconf, automake, binutils (>= 2.11.90.0.7-1)
Build-Depends-Indep: gs, gsfonts, lynx
Standards-Version: 3.5.6

Package: libdb2
Architecture: any
Priority: required
Section: base
Pre-Depends: libc6 (>= 2.2.2-4) | libc6.1 (>= 2.2.2-4) | libc0.2 (>= 2.2.2-4) | libc0.3
Depends: ${shlibs:Depends}
Conflicts: lib-bdb2
Replaces: libdb2.6, lib-bdb2, libc6 (<< 2.2.2-4), libc6.1 (<< 2.2.2-4), libc0.2 (<< 2.2.2-4)
Description: The Berkeley database routines (run-time files).
 libdb2 is a library for manipulating database files, developed at
 Berkeley and extended by Sleepycat Software Inc.
 This is the stable version, also commercially supported.
 .
 It supports three kinds of file formats:
  * btree. A representation of a sorted, balanced tree structure.
  * hashed. An extensible, dynamic hashing scheme.
  * UNIX file oriented. A byte stream file with fixed or variable
    length records.
 Other core database services:
  * page cache management for fast access, clean page allocation.
  * lock with multiple reader/writer granularity.
  * nested transaction support with logging and rollback recovery
    (two phase commit).
  * Large set of utilities, to dump/load/restore data and examine log.

Package: libdb2-util
Architecture: any
Section: devel
Depends: ${shlibs:Depends}
Conflicts: lib-bdb2-util, libc6-bin
Replaces: libdb2.6-util, lib-bdb2-util, libc6-bin, libdb2-dbg
Description: The Berkeley database routines (development files).
 libdb2 is a library for manipulating database files, developed at
 Berkeley and extended by Sleepycat Software Inc.
 This is the stable version, also commercially supported.
 .
 This package contains several programs for managing database files.

Package: libdb2-dev
Architecture: any
Priority: extra
Section: devel
Depends: libdb2 (= ${Source-Version}), libdb2-util (= ${Source-Version})
Conflicts: lib-bdb2-dev, libdb3-dev
Replaces: libdb2.6-dev, lib-bdb2-dev, libc6-dev (<< 2.2.1-1)
Suggests: db2-doc
Description: The Berkeley database routines (development files).
 libdb2 is a library for manipulating database files, developed at
 Berkeley and extended by Sleepycat Software Inc.
 This is the stable version, also commercially supported.
 .
 This development package contains the needed headers and libraries for
 developing software using the libdb2 interface.

Package: libdb2-dbg
Architecture: any
Section: devel
Priority: extra
Depends: libc-dev, libdb2-dev (=${Source-Version}), ${shlibs:Depends}
Conflicts: lib-bdb2-dbg, libc6-bin, lib-bdb2++, libdb2++-dbg, lib-bdb2++-dbg
Replaces: libdb2.6-dbg, lib-bdb2-dbg, libc6-bin, libdb2.6++-dbg, lib-bdb2++-dbg, libdb2++-dbg
Suggests: gdb
Description: The Berkeley database routines (debugging libraries, C and C++).
 libdb2 is a library for manipulating database files, developed at
 Berkeley and extended by Sleepycat Software Inc.
 This is the stable version, also commercially supported.
 .
 This development package contains unstripped shared libraries
 compiled with debugging symbols needed by gdb. It contains also
 unstripped shared libraries.

Package: libdb2++
Architecture: any
Depends: ${shlibs:Depends}
Conflicts: lib-bdb2++
Replaces: libdb2.6++, lib-bdb2++
Description: The Berkeley database routines (c++ run-time files).
 libdb2 is a library for manipulating database files, developed at
 Berkeley and extended by Sleepycat Software Inc.
 This is the stable version, also commercially supported.

Package: libdb2++-dev
Architecture: any
Priority: extra
Section: devel
Depends: libstdc++-dev, libdb2++ (= ${Source-Version}), libdb2-dev (= ${Source-Version})
Conflicts: lib-bdb2++-dev
Replaces: libdb2.6++-dev, lib-bdb2++-dev
Suggests: db2-doc
Description: The Berkeley database routines (c++ development files).
 libdb2 is a library for manipulating database files, developed at
 Berkeley and extended by Sleepycat Software Inc.
 This is the stable version, also commercially supported.
 .
 This development package contains unstripped shared libraries
 compiled with debugging symbols needed by gdb. It contains also
 unstripped shared libraries.

Package: db2-doc
Architecture: all
Section: doc
Depends: libdb2
Replaces: libdb2-dev (<= 2:2.7.7-3)
Description: Berkeley v2 Database Documentation [html txt ps]
 Complete documentation for all of DB2's APIs and utilities.
