Source: libfile-copy-recursive-perl
Section: perl
Priority: optional
Build-Depends: debhelper (>= 7)
Build-Depends-Indep: perl (>= 5.8.0-7)
Uploaders: Krzysztof Krzyżaniak (eloy) <eloy@debian.org>,
 gregor herrmann <gregoa@debian.org>,
 Ansgar Burchardt <ansgar@43-1.org>
Maintainer: Debian Perl Group <pkg-perl-maintainers@lists.alioth.debian.org>
Standards-Version: 3.8.0
Homepage: http://search.cpan.org/dist/File-Copy-Recursive/
Vcs-Svn: svn://svn.debian.org/pkg-perl/trunk/libfile-copy-recursive-perl/
Vcs-Browser: http://svn.debian.org/viewsvn/pkg-perl/trunk/libfile-copy-recursive-perl/

Package: libfile-copy-recursive-perl
Architecture: all
Depends: ${perl:Depends}, ${misc:Depends}
Description: Perl extension for recursively copying files and directories
 File::Copy::Recursive module copies and moves directories recursively 
 (or single files, well... singley) to an optional depth and attempts 
 to preserve each file or directory's mode.
