Source: libjson
Section: libs
Priority: required
Maintainer: Justin Maggard <justin.maggard@netgear.com>
Standards-Version: 3.9.6
Build-Depends: debhelper (>= 9), dpkg-dev (>= 1.16)

Package: libjson7
Section: libs
Architecture: any
Multi-arch: same
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: JSON reader and writer
 A JSON reader and writer which is super-effiecient and usually runs circles
 around other JSON libraries. It's highly customizable to optimize for your
 particular project, and very lightweight.

Package: libjson-dev
Section: libdevel
Architecture: any
Multi-arch: same
Depends: libjson7 (= ${binary:Version}), ${misc:Depends}
Description: JSON reader and writer - development files
 A JSON reader and writer which is super-effiecient and usually runs circles
 around other JSON libraries. It's highly customizable to optimize for your
 particular project, and very lightweight.
 .
 This package contains the development files.
