#!/usr/bin/make -f

unexport CXXFLAGS
export SHARED=1
export libdir=lib/$(shell dpkg-architecture -qDEB_BUILD_MULTIARCH)

%:
	dh $@

override_dh_auto_clean:
	$(MAKE) clean
	rm -f libjson.so libjson.so.7

override_dh_auto_install:
	$(MAKE) install prefix=`pwd`/debian/tmp/usr
	find `pwd`/debian/tmp -name \\._* -exec rm {} \;

override_dh_auto_test:
	:
