menu "USI MV88F6281 HDD Power Control"

config USI_POWER_CTL
	tristate "NAS MV88F6281 HDD Power Control Support"
	depends on MV88F6281
	default y
	help
	  Select this option to enable the Fan Control with pwm (gpio) support 
	  support on the NAS Topkick unit.

endmenu
