Source: proftpd
Section: net
Priority: optional
Maintainer: Justin Maggard <justin.maggard@netgear.com>
Standards-Version: 3.0.1.0
Build-Depends: libpam-dev [!solaris-i386], debhelper (>=4.1.16), zlib1g-dev, libssl-dev, libwrap0-dev, libcap-dev [!solaris-i386], autotools-dev, libacl1-dev, quilt

Package: proftpd
Architecture: any
Depends: netbase, ${perl:Depends}, ${shlibs:Depends}, debconf, adduser, debianutils, libpam-runtime
Conflicts: wu-ftpd, wu-ftpd-academ, ftp-server, proftpd-common
Replaces: proftpd-common
Provides: ftp-server, proftpd-common
Description: Versatile, virtual-hosting FTP daemon
 A powerful replacement for wu-ftpd, this File Transfer Protocol
 daemon supports hidden directories, virtual hosts, and per-directory
 ".ftpaccess" files.  It uses a single main configuration file, with a
 syntax similar to Apache.
 .
 Because of the advanced design, anonymous-FTP directories can have
 an arbitrary internal structure (bin, lib, etc, and special files are
 not needed).  Advanced features like multiple password files and
 upload/download ratios are also supported.
 .
 This package contains all core and contributed modules of proftpd. 
 .
 More information can be found at http://www.proftpd.org/.
