Source: readline4
Section: base
Priority: standard
Maintainer: Matthias Klose <doko@debian.org>
Standards-Version: 3.6.1
Build-Depends: patch, libncurses5-dev, lib64ncurses5-dev [sparc], mawk | awk, autotools-dev

Package: libreadline4
Architecture: any
Depends: ${shlibs:Depends}
Conflicts: libreadline4-dev (<< 2.5a)
Replaces: libreadline4-dev (<< 2.5a)
Section: libs
Priority: standard
Description: GNU readline and history libraries, run-time libraries
 The GNU readline library aids in the consistency of user interface
 across discrete programs that need to provide a command line
 interface.
 .
 The GNU history library provides a consistent user interface for
 recalling lines of previously typed input.

Package: lib64readline4
Architecture: sparc
Depends: ${shlibs:Depends}
Section: libs
Priority: optional
Description: GNU readline and history libraries, run-time libraries (64-bit)
 The GNU readline library aids in the consistency of user interface
 across discrete programs that need to provide a command line
 interface.
 .
 The GNU history library provides a consistent user interface for
 recalling lines of previously typed input.

Package: libreadline4-dev
Architecture: any
Depends: libreadline4 (= ${Source-Version}), libncurses5-dev
Conflicts: libreadline4 (<< 2.5a), libreadline-dev
Replaces: libreadline4 (<< 2.5a)
Provides: libreadline-dev
Section: libdevel
Priority: optional
Description: GNU readline and history libraries, development files
 The GNU readline library aids in the consistency of user interface
 across discrete programs that need to provide a command line
 interface.
 .
 The GNU history library provides a consistent user interface for
 recalling lines of previously typed input.
 .
 This package contains as well the readline documentation in info format.

Package: lib64readline4-dev
Architecture: sparc
Depends: lib64readline4 (= ${Source-Version}), lib64ncurses5-dev
Provides: lib64readline-dev
Section: libdevel
Priority: optional
Description: GNU readline and history libraries, development files (64-bit)
 The GNU readline library aids in the consistency of user interface
 across discrete programs that need to provide a command line
 interface.
 .
 The GNU history library provides a consistent user interface for
 recalling lines of previously typed input.

Package: libreadline4-dbg
Architecture: any
Depends: libreadline4 (= ${Source-Version})
Conflicts: libreadline-dbg
Provides: libreadline-dbg
Suggests: libreadline4-dev
Section: libdevel
Priority: extra
Description: GNU readline and history libraries, debugging libraries
 The GNU readline library aids in the consistency of user interface
 across discrete programs that need to provide a command line
 interface.
 .
 The GNU history library provides a consistent user interface for
 recalling lines of previously typed input.

Package: rlfe
Architecture: any
Depends: libreadline4 (= ${Source-Version})
Section: utils
Priority: optional
Description: A front-end using readline to "cook" input lines for other programs
 This tool lets you use history and line-editing in any text oriented
 tool. This is especially useful with third-party proprietary tools that
 cannot be distributed linked against readline. It is not perfect but it
 works pretty well.
 .
 See the cle package for another program of that kind.
