#!/usr/bin/make -f
# -*- makefile -*-

soversion = 4
libversion = $(soversion).3

# architecture dependent variables
DEB_HOST_ARCH		:= $(shell dpkg-architecture -qDEB_HOST_ARCH)
DEB_HOST_GNU_CPU	:= $(shell dpkg-architecture -qDEB_HOST_GNU_CPU)
DEB_HOST_GNU_SYSTEM	:= $(shell dpkg-architecture -qDEB_HOST_GNU_SYSTEM)
DEB_HOST_GNU_TYPE	:= $(shell dpkg-architecture -qDEB_HOST_GNU_TYPE)

ifeq ($(DEB_HOST_GNU_TYPE),sparc-linux)
  build64 = yes
  CC64 = gcc -m64
  HOST64 = sparc64-linux
endif

ifeq ($(DEB_HOST_GNU_SYSTEM),gnu)
  LD_PRELOAD_STUB = ""
else
  LD_PRELOAD_STUB = $(d_rl)/lib/readline/libreadline.so.$(soversion)
endif

ifeq ($(DEB_HOST_GNU_SYSTEM),netbsdelf-gnu)
  CC_LINK_FLAGS =
else
  CC_LINK_FLAGS = -Wl,
endif
CC	= gcc

STRIP	= strip
SHELL	= bash
IX	= install -o 0 -g 0
ID	= install -o 0 -g 0 -m 644

PWD	:= $(shell pwd)
p_rl	= libreadline4
p_rl64  = lib64readline4
p_rld	= $(p_rl)-dev
p_rld64 = $(p_rl64)-dev
p_rlg	= $(p_rl)-dbg
p_doc	= $(p_rl)-doc
p_rlfe	= rlfe

d	= debian/tmp
d64     = debian/tmp64
d_rl	= debian/tmp-rl
d_rld	= debian/tmp-rld
d_rlg	= debian/tmp-rlg
d_doc	= debian/tmp-doc
d_rlfe	= debian/$(p_rlfe)
d_rl64  = debian/tmp-rl64
d_rld64 = debian/tmp-rld64

srcdir		= $(PWD)
builddir	= $(PWD)/build
builddir64	= $(PWD)/build64

default: build

configure: configure-stamp
configure-stamp: patch-stamp
	$(checkdir)
	rm -rf $(builddir)
	mkdir $(builddir)
	cp -p /usr/share/misc/config.* ./support/
	cd $(builddir) && \
	  CC=$(CC) $(srcdir)/configure \
		--host=$(DEB_HOST_GNU_TYPE) --with-curses --prefix=/usr

ifneq ($(build64),)
	rm -rf $(builddir64)
	mkdir $(builddir64)
	cp -p /usr/share/misc/config.* ./support/
	cd $(builddir64) && \
	  CC="$(CC64)" $(srcdir)/configure \
	         --host=$(HOST64) --with-curses --prefix=/usr
endif

	touch configure-stamp

build: build-stamp build-rlfe-stamp

build-stamp: configure-stamp
	$(checkdir)
	$(MAKE) -C $(builddir) \
	    CFLAGS="-g -O2 -D_REENTRANT" \
	    SHOBJ_LDFLAGS='-shared' \
	    SHLIB_XLDFLAGS='$(CC_LINK_FLAGS)-soname,`echo $$@ | sed s/\\..$$$$//`' \
	    SHLIB_LIBS=-lncurses
#	cd debian && $(CC) -O2 -Wall -s \
#		-DPKG_NAME=\"$(p_rl)\" -o rl.postinst rl.postinst.c

ifneq ($(build64),)
	$(MAKE) -C $(builddir64) \
	    CC="$(CC64)" CFLAGS="-g -O2 -D_REENTRANT" \
	    SHOBJ_LDFLAGS='-shared' \
	    SHLIB_XLDFLAGS='$(CC_LINK_FLAGS)-soname,`echo $$@ | sed s/\\..$$$$//`' \
	    SHLIB_LIBS=-lncurses
endif

	touch build-stamp

build-rlfe-stamp: configure-stamp
	$(checkdir)
	ln -sf libhistory.so.$(libversion) \
	    $(builddir)/shlib/libhistory.so.$(soversion)
	ln -sf libhistory.so.$(soversion) $(builddir)/shlib/libhistory.so
	ln -sf libreadline.so.$(libversion) \
	    $(builddir)/shlib/libreadline.so.$(soversion)
	ln -sf libreadline.so.$(soversion) $(builddir)/shlib/libreadline.so
	$(MAKE) -C $(builddir)/examples \
	    CFLAGS="-g -O2" LDFLAGS="-g -L../shlib" rlfe
	touch build-rlfe-stamp

clean:
	$(checkdir)
	rm -f configure*-stamp build*-stamp install-stamp
	rm -f support/config.guess support/config.sub
	rm -rf $(builddir)
	rm -f doc/*.dvi
	rm -rf $(d) $(d_rl) $(d_rld) $(d_rlg) $(d_rlfe)
	# 64-bit stuff
	rm -rf $(builddir64) $(d64) $(d_rl64) $(d_rld64)
	$(MAKE) -f debian/rules unpatch
#	rm -f debian/{files*,substvars,rl.postinst}
	rm -f debian/{files*,substvars}
	find . -name '*~' -print0 | xargs -0 rm -f

install:  checkroot install-stamp
install-stamp:
	$(checkdir)
	rm -rf $(d)
	mkdir -p $(d)/usr
	$(MAKE) -C $(builddir) install \
	    CFLAGS="-g -O2 -D_REENTRANT" \
	    SHOBJ_LDFLAGS='-shared' \
	    SHLIB_XLDFLAGS='$(CC_LINK_FLAGS)-soname,`echo $$@ | sed s/\\..$$$$//`' \
	    SHLIB_LIBS=-lncurses \
	    prefix=$(PWD)/$(d)/usr \
	    mandir=$(PWD)/$(d)/usr/share/man \
	    infodir=$(PWD)/$(d)/usr/share/info
	: # move $(p_rl)
	rm -rf $(d_rl)
	$(IX) -d $(d_rl)/{DEBIAN,etc,lib,usr/share/{doc/$(p_rl),info}}
	cp -a $(d)/usr/lib/lib{history,readline}.so.$(libversion) $(d_rl)/lib/
	ln -s libhistory.so.$(libversion) \
		$(d_rl)/lib/libhistory.so.$(soversion)
	ln -s libreadline.so.$(libversion) \
		$(d_rl)/lib/libreadline.so.$(soversion)
	mv $(d)/usr/share/man $(d_rl)/usr/share/.
	mv $(d_rl)/usr/share/man/man3/history.3 \
		$(d_rl)/usr/share/man/man3/history.3readline
	mv $(d_rl)/usr/share/man/man3/readline.3 \
		$(d_rl)/usr/share/man/man3/readline.3readline
	gzip -9f $(d_rl)/usr/share/man/man3/*
	mv $(d)/usr/share/info/rluserman.info $(d_rl)/usr/share/info/.

	: # move $(p_rlg)
	rm -rf $(d_rlg)
	$(IX) -d $(d_rlg)/{DEBIAN,usr/{lib/debug,share/doc}}
	mv $(d)/usr/lib/lib{history,readline}.so.$(libversion) \
		$(d_rlg)/usr/lib/debug/.
	ln -s libhistory.so.$(libversion) \
		$(d_rlg)/usr/lib/debug/libhistory.so.$(soversion)
	ln -s libreadline.so.$(libversion) \
		$(d_rlg)/usr/lib/debug/libreadline.so.$(soversion)

	: # move $(p_rld)
	rm -rf $(d_rld)
	$(IX) -d $(d_rld)/{DEBIAN,usr/lib,usr/share/doc,usr/share/info}
	ln -s /lib/libhistory.so.$(soversion) $(d_rld)/usr/lib/libhistory.so
	ln -s /lib/libreadline.so.$(soversion) $(d_rld)/usr/lib/libreadline.so
	mv $(d)/usr/lib/lib{history,readline}.a	$(d_rld)/usr/lib/.
	mv $(d)/usr/include $(d_rld)/usr/.
	mv $(d)/usr/share/info/{readline.info,history.info} \
		$(d_rld)/usr/share/info/.

ifneq ($(build64),)
	rm -rf $(d64)
	mkdir -p $(d64)/usr
	$(MAKE) -C $(builddir64) install \
             CC="$(CC64)" CFLAGS="-g -O2 -D_REENTRANT" \
             SHOBJ_LDFLAGS='-shared' \
             SHLIB_XLDFLAGS='$(CC_LINK_FLAGS)-soname,`echo $$@ | sed s/\\..$$$$//`' \
             SHLIB_LIBS=-lncurses \
             prefix=$(PWD)/$(d64)/usr \
             mandir=$(PWD)/$(d64)/usr/share/man \
             infodir=$(PWD)/$(d64)/usr/share/info

	rm -rf $(d_rl64)
	$(IX) -d $(d_rl64)/{DEBIAN,lib64,usr/share/doc/$(p_rl64)}
	cp -a $(d64)/usr/lib/lib{history,readline}.so.$(libversion) $(d_rl64)/lib64/
	ln -s libhistory.so.$(libversion) \
                $(d_rl64)/lib64/libhistory.so.$(soversion)
	ln -s libreadline.so.$(libversion) \
                $(d_rl64)/lib64/libreadline.so.$(soversion)

	rm -rf $(d_rld64)
	$(IX) -d $(d_rld64)/{DEBIAN,usr/lib64,usr/share/doc}
	ln -s /lib64/libhistory.so.$(soversion) $(d_rld64)/usr/lib64/libhistory.so
	ln -s /lib64/libreadline.so.$(soversion) $(d_rld64)/usr/lib64/libreadline.so
	mv $(d64)/usr/lib/lib{history,readline}.a $(d_rld64)/usr/lib64/.
endif

# remove HAVE_CONFIG_H from installed headers
	awk '/^#if defined \(HAVE_CONFIG_H\)/, /^#endif/ \
	     {if ($$0 == "#else") print "#include <string.h>"; next} {print}' \
	  $(d_rld)/usr/include/readline/chardefs.h \
	  > $(d_rld)/usr/include/readline/chardefs.h.new
	if diff -u $(d_rld)/usr/include/readline/chardefs.h \
		$(d_rld)/usr/include/readline/chardefs.h.new; \
	then \
	  rm -f $(d_rld)/usr/include/readline/chardefs.h.new; \
	else \
	  mv -f $(d_rld)/usr/include/readline/chardefs.h.new \
	    $(d_rld)/usr/include/readline/chardefs.h; \
	fi

	awk '/^#if defined \(HAVE_CONFIG_H\)/, /^#endif/ {next} {print}' \
	  $(d_rld)/usr/include/readline/tilde.h \
	  > $(d_rld)/usr/include/readline/tilde.h.new
	if diff -u $(d_rld)/usr/include/readline/tilde.h \
		$(d_rld)/usr/include/readline/tilde.h.new; \
	then \
	  rm -f $(d_rld)/usr/include/readline/tilde.h.new; \
	else \
	  mv -f $(d_rld)/usr/include/readline/tilde.h.new \
	    $(d_rld)/usr/include/readline/tilde.h; \
	fi

#	: # move $(p_doc)
#	rm -rf $(d_doc)
#	$(IX) -d $(d_doc)/{DEBIAN,usr/share/doc/$(p_doc)}
#	mv $(d)/usr/share/info $(d_doc)/usr/share/.

	: # install $(p_rlfe)
	rm -rf $(d_rlfe)
	mkdir -p \
	    $(d_rlfe)/DEBIAN \
	    $(d_rlfe)/usr/bin $(d_rlfe)/usr/share/man/man1 \
	    $(d_rlfe)/usr/share/doc/$(p_rlfe)
	cp -p $(builddir)/examples/rlfe $(d_rlfe)/usr/bin/.
	cp -p debian/rlfe.1 $(d_rlfe)/usr/share/man/man1/.
	gzip -9f $(d_rlfe)/usr/share/man/man1/*

	chmod -R a+rX $(d_rl) $(d_rld) $(d_rlg) $(d_rlfe) #$(d_doc)
	chown -R 0.0 $(d_rl) $(d_rld) $(d_rlg) $(d_rlfe) #$(d_doc)
	-find $(d_rl) $(d_rld) $(d_rlg) $(d_rlfe) \
	    -type d ! -perm 755 | xargs chmod 755

	touch install-stamp

binary-indep: checkroot build install

no-doc:
	$(checkdir)
	$(ID) debian/changelog \
		$(d_doc)/usr/share/doc/$(p_doc)/changelog.Debian
	find $(d_doc)/usr/share/info,doc} ! -name '*.gz' -type f \
		| xargs gzip -9f
	$(ID) debian/rl.copyright $(d_doc)/usr/share/doc/$(p_doc)/copyright
	$(IX) debian/doc.postinst $(d_doc)/DEBIAN/postinst
	$(IX) debian/doc.prerm $(d_doc)/DEBIAN/prerm
	dpkg-gencontrol -isp -p$(p_doc) -P$(d_doc)
	dpkg --build $(d_doc) ..

binary-arch: binary-rl binary-rld binary-rlg binary-rlfe

binary-rl: checkroot build install
	$(checkdir)
	$(STRIP) -R .note -R .comment \
		$(d_rl)/lib/libreadline.so.$(libversion) \
		$(d_rl)/lib/libhistory.so.$(libversion)
	$(ID) USAGE \
		$(d_rl)/usr/share/doc/$(p_rl)/.
	$(ID) CHANGES \
		$(d_rl)/usr/share/doc/$(p_rl)/changelog
	$(ID) debian/changelog \
		$(d_rl)/usr/share/doc/$(p_rl)/changelog.Debian
	$(ID) debian/inputrc.arrows $(d_rl)/usr/share/doc/$(p_rl)/.
	gzip -9f $(d_rl)/usr/share/doc/$(p_rl)/changelog*
	find $(d_rl)/usr/share/info ! -name '*.gz' -type f | xargs gzip -9f
	$(ID) debian/rl.copyright $(d_rl)/usr/share/doc/$(p_rl)/copyright
	$(ID) debian/rl.shlibs $(d_rl)/DEBIAN/shlibs
	$(IX) debian/rl.postinst $(d_rl)/DEBIAN/postinst
	$(IX) debian/rl.prerm $(d_rl)/DEBIAN/prerm
	$(IX) debian/rl.postrm $(d_rl)/DEBIAN/postrm
	mkdir -p $(d_rl)/usr/share/lintian/overrides
	$(ID) debian/rl.overrides \
		$(d_rl)/usr/share/lintian/overrides/libreadline4
#	LD_PRELOAD=$(LD_PRELOAD_STUB) \
#	    dpkg-shlibdeps $(d_rl)/lib/lib{readline,history}.so.$(soversion)
	LD_LIBRARY_PATH=$(d_rl)/lib:$$LD_LIBRARY_PATH \
	    dpkg-shlibdeps $(d_rl)/lib/lib{readline,history}.so.$(soversion)
	dpkg-gencontrol -isp -p$(p_rl) -P$(d_rl)
	dpkg --build $(d_rl) ..

ifneq ($(build64),)
	$(STRIP) -R .note -R .comment \
                $(d_rl64)/lib64/libreadline.so.$(libversion) \
                $(d_rl64)/lib64/libhistory.so.$(libversion)
	$(ID) debian/changelog \
                $(d_rl64)/usr/share/doc/$(p_rl64)/changelog.Debian
	gzip -9f $(d_rl64)/usr/share/doc/$(p_rl64)/changelog*
	$(ID) debian/rl.copyright $(d_rl64)/usr/share/doc/$(p_rl64)/copyright
	$(ID) debian/rl64.shlibs $(d_rl64)/DEBIAN/shlibs
	$(IX) debian/rl64.postinst $(d_rl64)/DEBIAN/postinst
	$(IX) debian/rl64.postrm $(d_rl64)/DEBIAN/postrm
	LD_LIBRARY_PATH=$(d_rl64)/lib64:$$LD_LIBRARY_PATH \
            dpkg-shlibdeps $(d_rl64)/lib64/lib{readline,history}.so.$(soversion)
	dpkg-gencontrol -isp -p$(p_rl64) -P$(d_rl64)
	dpkg --build $(d_rl64) ..
endif

binary-rld:	checkroot build
	$(checkdir)
	$(STRIP) --strip-debug $(d_rld)/usr/lib/lib*.a
	$(IX) -d $(d_rld)/{usr/lib,usr/share/doc/$(p_rl)/examples}
	$(ID) examples/Inputrc $(d_rld)/usr/share/doc/$(p_rl)/.
	$(ID) $(builddir)/examples/Makefile examples/*.c \
		$(d_rld)/usr/share/doc/$(p_rl)/examples/.
	ln -sf $(p_rl) $(d_rld)/usr/share/doc/$(p_rld)
	find $(d_rld)/usr/share/{doc,info,man} ! -name '*.gz' -type f \
		| xargs gzip -9f
	mkdir -p $(d_rld)/usr/share/lintian/overrides
	$(ID) debian/rld.overrides $(d_rld)/usr/share/lintian/overrides/$(p_rld)
	$(IX) debian/rld.postinst $(d_rld)/DEBIAN/postinst
	$(IX) debian/rld.prerm $(d_rld)/DEBIAN/prerm
	dpkg-gencontrol -isp -p$(p_rld) -P$(d_rld)
	dpkg --build $(d_rld) ..
ifneq ($(build64),)
	$(STRIP) --strip-debug $(d_rld64)/usr/lib64/lib*.a
	$(IX) -d $(d_rld64)/usr/lib64
	ln -sf $(p_rl64) $(d_rld64)/usr/share/doc/$(p_rld64)
	dpkg-gencontrol -isp -p$(p_rld64) -P$(d_rld64)
	dpkg --build $(d_rld64) ..
endif

binary-rlg:	checkroot build
	$(checkdir)
	ln -sf $(p_rl) $(d_rlg)/usr/share/doc/$(p_rlg)
	LD_LIBRARY_PATH=$(d_rlg)/usr/lib/debug:$$LD_LIBRARY_PATH \
	    dpkg-shlibdeps $(d_rlg)/usr/lib/debug/lib*.so.$(soversion)
	dpkg-gencontrol -isp -p$(p_rlg) -P$(d_rlg)
	dpkg --build $(d_rlg) ..

binary-rlfe: checkroot build install
	$(checkdir)
	$(STRIP) -R .note -R .comment \
		$(d_rlfe)/usr/bin/rlfe
	$(ID) debian/changelog \
		$(d_rlfe)/usr/share/doc/$(p_rlfe)/changelog.Debian
	gzip -9f $(d_rlfe)/usr/share/doc/$(p_rlfe)/changelog*
	$(ID) debian/rlfe.copyright $(d_rlfe)/usr/share/doc/$(p_rlfe)/copyright
	dpkg-gencontrol -isp -p$(p_rlfe) -P$(d_rlfe)
	dpkg --build $(d_rlfe) ..

define checkdir
	test -f readline.c -a -f debian/rules
endef


binary:		binary-indep binary-arch

source diff:
	@echo >&2 'source and diff are obsolete - use dpkg-source -b'; false

checkroot:
	$(checkdir)
	test root = "`whoami`"


# rules to patch the unpacked files in the source directory
# ---------------------------------------------------------------------------
# various rules to unpack addons and (un)apply patches.
# 	- patch / apply-patches
#	- unpatch / reverse-patches

patchdir	= debian/patches

# which patches should be applied?
debian_patches = \
	readline43-001 \
	readline43-002 \
	readline43-003 \
	readline43-004 \
	readline43-005 \
	rl-inputrc \
	rl-del-backspace-policy \
	rl-header \
	rl-attribute \
	rl-slow-multibyte \
	freebsd \
	manpage-typo

#	rl-examples

patch: patch-stamp
apply-patches: patch-stamp

patch-stamp: $(foreach p,$(debian_patches),patch-stamp-$(p))
	echo -e "\nPatches applied in this version:" > pxxx
	for i in $(debian_patches); do \
	  echo -e "\n$$i:" >> pxxx; \
	  sed -n 's/^# *DP: */  /p' $(patchdir)/$$i.dpatch >> pxxx; \
	done
	mv -f pxxx $@

reverse-patches: unpatch
unpatch:
	for stamp in none `ls -1t patch-stamp-* 2>/dev/null`; do \
	  case "$$stamp" in none|patched-stamp|patched-\*) continue; esac; \
	  patch=`echo $$stamp | sed -e 's,patch-stamp-,,'`; \
	  echo "trying to revert patch $$patch ..."; \
	  if [ -x $(patchdir)/$$patch.dpatch ]; then true; else \
	    chmod +x $(patchdir)/$$patch.dpatch; fi; \
	  if $(patchdir)/$$patch.dpatch -unpatch -d $(srcdir); then \
	    echo "reverted $$patch patch."; \
	    rm -f $$stamp; \
	  else \
	    echo "error in reverting $$patch patch."; \
	    exit 1; \
	  fi; \
	done
	rm -f patch-stamp

patch-stamp-%: $(patchdir)/%.dpatch
	if [ -x $< ]; then true; else chmod +x $<; fi
	if [ -f $@ ]; then \
	  echo "$* patches already applied."; exit 1; \
	fi
	$< -patch -d $(srcdir)
	echo "$* patches applied." > $@


.PHONY: binary binary-arch binary-indep clean checkroot

# Local Variables:
# mode: makefile
# end:
