Source: insserv
Section: misc
Priority: optional
Maintainer: Petter Reinholdtsen <pere@debian.org>
Uploaders: Kel Modderman <kel@otaku42.de>
Build-Depends: debhelper (>= 6.0.7), po-debconf, quilt
Standards-Version: 3.8.4
DM-Upload-Allowed: yes
Homepage: http://savannah.nongnu.org/projects/sysvinit
Vcs-Svn: svn://svn.debian.org/initscripts-ng/trunk/src/insserv
Vcs-Browser: http://svn.debian.org/wsvn/initscripts-ng/trunk/src/insserv/

Package: insserv
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Suggests: bootchart
Breaks: sysv-rc (<< 2.87dsf-3)
Description: Tool to organize boot sequence using LSB init.d script dependencies
 The insserv program is used to update the order of symlinks in
 /etc/rc?.d/ with sysv-rc based on dependencies specified in the
 scripts themselves using LSB init.d script headers.
 .
 This allow each package maintainer to specify their init.d script
 relation to other scripts and make it possible to detect and reject
 script dependency loops as well as making sure all scripts start in
 their intended order.
 .
 The program insserv in this package should be used with care and
 together with the sysv-rc package, as using it incorrectly can lead
 to an unbootable system.
