Source: pcre3
Section: libs
Priority: optional
Maintainer:  Mark Baker <mark@mnb.org.uk>
Standards-Version: 3.6.1
Build-Depends: debhelper (>= 4.0.1)

Package: libpcre3
Section: libs
Architecture: any
Priority: important
Depends: ${shlibs:Depends}
Conflicts: libpcre3-dev (<= 4.3-3)
Description: Perl 5 Compatible Regular Expression Library - runtime files
 This is a library of functions to support regular expressions whose syntax 
 and semantics are as close as possible to those of the Perl 5 language.
 .
 This package contains the runtime libraries.

Package: libpcrecpp0
Section: libs
Architecture: any
Priority: optional
Depends: ${shlibs:Depends}
Conflicts: libpcre3 (<< 6.4-1.1)
Replaces: libpcre3 (<< 6.4-1.1)
Description: Perl 5 Compatible Regular Expression Library - C++ runtime files
 This is a C++ library of functions to support regular expressions whose syntax 
 and semantics are as close as possible to those of the Perl 5 language.
 .
 This package contains the C++ runtime library.

Package: libpcre3-dev
Section: libdevel
Architecture: any
Depends: libc6-dev, libpcre3 (= ${Source-Version}), libpcrecpp0 (= ${Source-Version})
Conflicts: libpcre1-dev, libpcre2-dev
Description: Perl 5 Compatible Regular Expression Library - development files
 This is a library of functions to support regular expressions whose syntax 
 and semantics are as close as possible to those of the Perl 5 language.
 .
 This package contains the development files, including headers, static 
 libraries, and documentation.

Package: pcregrep
Section: utils
Architecture: any
Depends: ${shlibs:Depends}
Replaces: pgrep (<<4.5)
Description: grep utility that uses perl 5 compatible regexes.
 Perl-style regexps have many useful features that the standard POSIX ones
 don't; this is basically the same as grep but with the different
 regexp syntax.
 .
 The other reason for the existence of pcregrep is that its source code is an
 example of programming with libpcre.
