Package: samba-dev
Source: samba
Version: 2:4.8.0-12.netgear5
Architecture: amd64
Maintainer: Samba Debian Maintainers <pkg-samba-maint@lists.alioth.debian.org>
Installed-Size: 1483
Depends: libc6-dev, libldb-dev, libparse-pidl-perl, libpopt-dev, libtalloc-dev, libtdb-dev (>= 1.2.11), samba-libs (= 2:4.8.0-12.netgear5)
Breaks: libdcerpc-dev (<< 2:4.0.9), libdcerpc-server-dev (<< 2:4.0.9), libgensec-dev (<< 2:4.0.9), libndr-dev (<< 2:4.0.9), libndr-standard-dev (<< 2:4.0.9), libnetapi-dev (<< 2:4.0.9), libregistry-dev (<< 2:4.0.9), libsamba-credentials-dev (<< 2:4.0.9), libsamba-hostconfig-dev (<< 2:4.0.9), libsamba-policy-dev (<< 2:4.0.9), libsamba-util-dev (<< 2:4.0.9), libsamdb (<< 2:4.0.9), libsmbclient-raw-dev (<< 2:4.0.9), libsmbd-dev (<< 2:4.0.9), libtorture-dev (<< 2:4.0.9)
Replaces: libdcerpc-dev (<< 2:4.0.9), libdcerpc-server-dev (<< 2:4.0.9), libgensec-dev (<< 2:4.0.9), libndr-dev (<< 2:4.0.9), libndr-standard-dev (<< 2:4.0.9), libnetapi-dev (<< 2:4.0.9), libregistry-dev (<< 2:4.0.9), libsamba-credentials-dev (<< 2:4.0.9), libsamba-hostconfig-dev (<< 2:4.0.9), libsamba-policy-dev (<< 2:4.0.9), libsamba-util-dev (<< 2:4.0.9), libsamdb (<< 2:4.0.9), libsmbclient-raw-dev (<< 2:4.0.9), libsmbd-dev (<< 2:4.0.9), libtorture-dev (<< 2:4.0.9), samba4-dev
Section: devel
Priority: optional
Homepage: http://www.samba.org/
Description: tools for extending Samba
 Samba is an implementation of the SMB/CIFS protocol for Unix systems,
 providing support for cross-platform file sharing with Microsoft Windows, OS X,
 and other Unix systems.  Samba can also function as a domain controller
 or member server in both NT4-style and Active Directory domains.
 .
 This package contains include files shared by the various Samba-based
 libraries.
