Package: samba-dbg
Source: samba
Version: 2:4.8.0-12.netgear5
Architecture: amd64
Maintainer: Samba Debian Maintainers <pkg-samba-maint@lists.alioth.debian.org>
Installed-Size: 7171
Pre-Depends: dpkg (>= 1.15.6~)
Depends: samba (= 2:4.8.0-12.netgear5)
Section: debug
Priority: extra
Homepage: http://www.samba.org/
Description: Samba debugging symbols
 Samba is an implementation of the SMB/CIFS protocol for Unix systems,
 providing support for cross-platform file and printer sharing with
 Microsoft Windows, OS X, and other Unix systems.
 .
 This package provides debugging information for the software in the
 Samba suite. Install it to get a better backtrace in the event of a
 crash.
Build-Ids: 263b6273030be0a6b8a990ac2587fa5ddc8403ec 50becdc69135d58fe6ec336129d164379ccfae2d 6ca3885b9925fd1f340010ef308ceb3b4f832c18 85ba6ba1b1b42caee66bff3e6e9ac916a52ac6fa e2d76c60f98f79400cddfb04715709a8f279a946 f90a6a2130b237b573bc1ca41b96df3cfe415067 f925c70b353324f7a6aee533b4697e705a6c2caa
