Source: module-init-tools
Section: admin
Priority: important
Maintainer: Marco d'Itri <md@linux.it>
Build-Depends: debhelper (>> 5), quilt (>= 0.40), docbook-utils
Standards-Version: 3.8.4

Package: module-init-tools
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, lsb-base (>= 3.0-6)
Conflicts: modutils
Description: tools for managing Linux kernel modules
 This package contains a set of programs for loading, inserting, and 
 removing kernel modules for Linux.
Homepage: http://www.kerneltools.org/

Package: module-init-tools-udeb
Section: debian-installer
Priority: extra
Architecture: any
XC-Package-Type: udeb
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: tools for managing Linux kernel modules
 This is the debian-installer version of module-init-tools.
