[Unit]
Description=Activation of LVM2 logical volumes
Documentation=man:lvm(8) man:vgchange(8)
DefaultDependencies=no
After=systemd-udev-settle.service
Before=cryptsetup.target local-fs.target shutdown.target
Wants=systemd-udev-settle.service

[Service]
ExecStart=/sbin/lvm vgchange -aay --sysinit
Type=oneshot

[Install]
WantedBy=local-fs.target
