#
# NIS map configuration for ypmake.
#
# To implement a new map or alias:
#
#	map	foo_byname	foo.byname
#	map	foo_bynumber	foo.bynumber
#	alias	foo		foo_byname:foo_bynumber
#
# To specify an (alternative) source for a NIS map:
#
#	source	foo		/var/yp/master/foo
#
# To specify the perl module that generates the map:
#
#	module	foo_byname	/usr/lib/yp/make/foo
#				(or relative pathname)
#
# To set the file permissions (not very secure)
#
#	mode	foo_byname	0400
#
# To require AUTH_DES authentication when accessing the map
# (not yet implemented in ypserv):
#
#	secure	foo_byname
#
# To disallow map requests from unprivileged ports:
#
#	privport foo_byname
# 
# To force pushing of changed maps to slave servers
#
#	push	yes
#
domain	default
#
alias	secure		publickey:netid
alias	all		netgroup:revnetgroup:secure
source	publickey	/tmp/publickey

# amd.work autmounter map
map	amd_work	amd.work
source	amd_work	/etc/amd.work		&auto_map("/etc/amd.work")
module	amd_work	autmount

# amd.home automounter map
map	amd_home	amd.home
source	amd_home	/etc/amd.home		&auto_map("/etc/amd.home")
module	amd_home	autmount
