Package: samba-testsuite
Source: samba
Version: 2:4.8.0-12.netgear5
Architecture: amd64
Maintainer: Samba Debian Maintainers <pkg-samba-maint@lists.alioth.debian.org>
Installed-Size: 7946
Depends: samba-common-bin, libbsd0 (>= 0.4.0), libc6 (>= 2.17), libcomerr2 (>= 1.01), libk5crypto3 (>= 1.6.dfsg.2), libkrb5-3 (>= 1.7dfsg), libldb1 (>= 2:1.1.27), libpopt0 (>= 1.14), libreadline6 (>= 6.0), libsmbclient (>= 2:4.8.0-12.netgear5), libtalloc2 (>= 2.1.0), libtdb1 (>= 1.2.7+git20101214), libtevent0 (>= 0.9.30), libwbclient0 (>= 2:4.0.3), samba-libs
Recommends: subunit
Conflicts: samba-doc (<< 2:4.0.5~), samba-libs (<< 2:4.0.10+dfsg-4)
Replaces: samba-doc (<< 2:4.0.5~), samba-libs (<< 2:4.0.10+dfsg-4), samba-tools, samba4-testsuite
Section: net
Priority: optional
Homepage: http://www.samba.org/
Description: test suite from Samba
 Samba is an implementation of the SMB/CIFS protocol for Unix systems,
 providing support for cross-platform file sharing with Microsoft Windows, OS X,
 and other Unix systems.  Samba can also function as a domain controller
 or member server in both NT4-style and Active Directory domains.
 .
 This package contains programs for testing the reliability and speed
 of SMB servers, Samba in particular.
