Source: libdaemon
Section: libs
Priority: optional
Maintainer: Utopia Maintenance Team <pkg-utopia-maintainers@lists.alioth.debian.org>
Uploaders: Michael Biebl <biebl@debian.org>
Build-Depends: debhelper (>= 9), autotools-dev, doxygen, lynx, dh-autoreconf
Standards-Version: 3.9.5
Homepage: http://0pointer.de/lennart/projects/libdaemon/
Vcs-Git: git://git.debian.org/git/pkg-utopia/libdaemon.git
Vcs-Browser: http://git.debian.org/?p=pkg-utopia/libdaemon.git;a=summary

Package: libdaemon-dev
Section: libdevel
Architecture: any
Multi-Arch: same
Depends: libdaemon0 (= ${binary:Version}), ${misc:Depends}
Suggests: libdaemon-doc
Description: lightweight C library for daemons - development files
 libdaemon is a lightweight C library which eases the writing of UNIX daemons.
 It consists of the following parts:
 .
  * Wrapper around fork() for correct daemonization of a process
  * Wrapper around syslog() for simple log output to syslog or STDERR
  * An API for writing PID files
  * An API for serializing signals into a pipe for use with select() or poll()
  * An API for running subprocesses with STDOUT and STDERR redirected to syslog
 .
 Routines like these are included in most of the daemon software available. It
 is not simple to get these done right and code duplication is not acceptable.
 .
 This package includes the header files and the static version of the library.

Package: libdaemon-doc
Section: doc
Architecture: all
Priority: extra
Depends: ${misc:Depends}
Breaks: libdaemon-dev (<< 0.14-5)
Replaces: libdaemon-dev (<< 0.14-5)
Description: lightweight C library for daemons - documentation
 libdaemon is a lightweight C library which eases the writing of UNIX daemons.
 It consists of the following parts:
 .
  * Wrapper around fork() for correct daemonization of a process
  * Wrapper around syslog() for simple log output to syslog or STDERR
  * An API for writing PID files
  * An API for serializing signals into a pipe for use with select() or poll()
  * An API for running subprocesses with STDOUT and STDERR redirected to syslog
 .
 Routines like these are included in most of the daemon software available. It
 is not simple to get these done right and code duplication is not acceptable.
 .
 This package contains the API documentation of the library.

Package: libdaemon0
Architecture: any
Multi-Arch: same
Pre-Depends: ${misc:Pre-Depends}
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: lightweight C library for daemons - runtime library
 libdaemon is a lightweight C library which eases the writing of UNIX daemons.
 It consists of the following parts:
 .
  * Wrapper around fork() for correct daemonization of a process
  * Wrapper around syslog() for simple log output to syslog or STDERR
  * An API for writing PID files
  * An API for serializing signals into a pipe for use with select() or poll()
  * An API for running subprocesses with STDOUT and STDERR redirected to syslog
 .
 Routines like these are included in most of the daemon software available. It
 is not simple to get these done right and code duplication is not acceptable.
 .
 This package includes the libdaemon run time shared library.

Package: libdaemon0-dbg
Section: debug
Architecture: any
Priority: extra
Depends: libdaemon0 (= ${binary:Version}), ${misc:Depends}
Description: lightweight C library for daemons - debugging symbols
 libdaemon is a lightweight C library which eases the writing of UNIX daemons.
 It consists of the following parts:
 .
  * Wrapper around fork() for correct daemonization of a process
  * Wrapper around syslog() for simple log output to syslog or STDERR
  * An API for writing PID files
  * An API for serializing signals into a pipe for use with select() or poll()
  * An API for running subprocesses with STDOUT and STDERR redirected to syslog
 .
 Routines like these are included in most of the daemon software available. It
 is not simple to get these done right and code duplication is not acceptable.
 .
 This package contains the debugging symbols for libdaemon.
