Source: libdaemon
Section: libs
Priority: optional
Maintainer: Utopia Maintenance Team <pkg-utopia-maintainers@lists.alioth.debian.org>
Uploaders: Michael Biebl <biebl@debian.org>
Build-Depends: cdbs, debhelper (>= 7), autotools-dev, doxygen, lynx, quilt
Standards-Version: 3.8.3
Homepage: http://0pointer.de/lennart/projects/libdaemon/
Vcs-Git: git://git.debian.org/git/pkg-utopia/libdaemon.git
Vcs-Browser: http://git.debian.org/?p=pkg-utopia/libdaemon.git;a=summary

Package: libdaemon-dev
Section: libdevel
Architecture: any
Depends: libdaemon0 (= ${binary:Version}), ${misc:Depends}
Description: lightweight C library for daemons - development files
 libdaemon is a leightweight C library which eases the writing of UNIX daemons.
 It consists of the following parts:
 .
  * Wrapper around fork() for correct daemonization of a process
  * Wrapper around syslog() for simple log output to syslog or STDERR
  * An API for writing PID files
  * An API for serializing signals into a pipe for use with select() or poll()
  * An API for running subprocesses with STDOUT and STDERR redirected to syslog
 .
 Routines like these are included in most of the daemon software available. It
 is not simple to get these done right and code duplication is not acceptable.
 .
 This package includes the header files and the static version of the library
 and documentation.

Package: libdaemon0
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: lightweight C library for daemons - runtime library
 libdaemon is a leightweight C library which eases the writing of UNIX daemons.
 It consists of the following parts:
 .
  * Wrapper around fork() for correct daemonization of a process
  * Wrapper around syslog() for simple log output to syslog or STDERR
  * An API for writing PID files
  * An API for serializing signals into a pipe for use with select() or poll()
  * An API for running subprocesses with STDOUT and STDERR redirected to syslog
 .
 Routines like these are included in most of the daemon software available. It
 is not simple to get these done right and code duplication is not acceptable.
 .
 This package includes the libdaemon run time shared library.

Package: libdaemon0-dbg
Section: debug
Architecture: any
Priority: extra
Depends: libdaemon0 (= ${binary:Version}), ${misc:Depends}
Description: lightweight C library for daemons - debugging symbols
 libdaemon is a leightweight C library which eases the writing of UNIX daemons.
 It consists of the following parts:
 .
  * Wrapper around fork() for correct daemonization of a process
  * Wrapper around syslog() for simple log output to syslog or STDERR
  * An API for writing PID files
  * An API for serializing signals into a pipe for use with select() or poll()
  * An API for running subprocesses with STDOUT and STDERR redirected to syslog
 .
 Routines like these are included in most of the daemon software available. It
 is not simple to get these done right and code duplication is not acceptable.
 .
 This package contains the debugging symbols for libdaemon.
