#!/usr/bin/make -f

%:
	dh $@ --with autoreconf

LDFLAGS += -Wl,-z,defs

override_dh_auto_build:
	dh_auto_build
	$(MAKE) doxygen

override_dh_install:
	dh_install --list-missing

override_dh_installdocs:
	dh_installdocs --all README

override_dh_auto_clean:
	dh_auto_clean
	rm -rf doc/reference

override_dh_strip:
	dh_strip --dbg-package=libdaemon0-dbg
