Source: minidlna
Section: net
Priority: optional
Maintainer: Justin Maggard <justin.maggard@netgear.com>
Build-Depends: debhelper (>= 5),
               quilt,
               libavcodec-dev,
               libavformat-dev,
               libavutil-dev,
               libexif-dev,
               libflac-dev,
               libid3tag0-dev,
               libjpeg-dev,
               libogg-dev,
               libsqlite3-dev,
               libvorbis-dev
Standards-Version: 3.9.3

Package: minidlna
Architecture: any
Depends: lsb-base,
         ${shlibs:Depends}
Description: lightweight DLNA/UPnP-AV server targeted at embedded systems
 MiniDLNA (aka ReadyDLNA) is server software with the aim of being
 fully compliant with DLNA/UPnP-AV clients.
 .
 The minidlna daemon serves media files (music, pictures, and video)
 to clients on your network.  Example clients include applications
 such as totem and xbmc, and devices such as portable media players,
 smartphones, and televisions.
 .
 MiniDLNA is a simple, lightweight alternative to mediatomb, but has
 fewer features. It does not have a web interface for administration
 and must be configured by editing a text file.
