#!/usr/bin/make -f
include /usr/share/quilt/quilt.make

PWD=$$(pwd)

configure: configure-stamp
configure-stamp:
	./configure --prefix=/usr \
		--sysconfdir=/etc \
		--localstatedir=/var/run \
		--enable-tivo \
		--enable-netgear \
		--enable-readynas
	touch configure-stamp

build: build-stamp
build-stamp: patch configure
	$(MAKE)
	touch build-stamp

clean: clean-patched unpatch

clean-patched:
	rm -f build-stamp configure-stamp
	-$(MAKE) -i distclean
	-rm po/*.gmo po/stamp-po
	rm -rf *~ debian/tmp debian/*~ debian/files* debian/substvars

binary-indep: checkroot build
binary-arch: checkroot build
	rm -rf debian/tmp
	$(MAKE) install DESTDIR=$(PWD)/debian/tmp
	install -d debian/tmp/DEBIAN
	mv debian/tmp/usr/sbin/minidlnad debian/tmp/usr/sbin/minidlna
	dpkg-shlibdeps debian/tmp/usr/sbin/minidlna
	strip -R .note -R .comment debian/tmp/usr/sbin/minidlna
	dpkg-gencontrol -isp
	chown -R root.root debian/tmp
	chmod -R g-ws debian/tmp
	dpkg --build debian/tmp ..

binary: binary-indep binary-arch

checkroot:
	test $$(id -u) = 0

.PHONY: binary binary-arch binary-indep clean checkroot patch unpatch
