Source: nis
Section: net
Priority: extra
Maintainer: Miquel van Smoorenburg <miquels@cistron.nl>
Standards-Version: 3.5.2.0
Build-Depends: libgdbmg1-dev, gcc (>= 2.95), gettext, autoconf

Package: nis
Architecture: any
Pre-Depends: debconf (>= 0.2.17)
Depends: ${shlibs:Depends}, netbase, make, portmap
Conflicts: netstd (<=1.26)
Description: Clients and daemons for the Network Information Services (NIS).
 The nis package allows you to use the NIS services from a NIS server or
 to set up your own NIS server. NIS is mostly used to let several machines
 in a network share the same account information (eg the password file).
 NIS was formerly called Yellow Pages (YP).
