Source: openldap2
Section: net
Priority: extra
Maintainer: Wichert Akkerman <wakkerma@debian.org>
Build-Depends: libdb3-dev, libwrap0-dev, libiodbc2-dev, patch, libsasl-dev, dpkg-dev (>= 1.7.1), libncurses5-dev, autoconf, debconf-utils
Build-Conflicts: libbind-dev
Standards-Version: 3.1.0.0

Package: slapd
Section: net
Priority: extra
Architecture: any
Depends: ${shlibs:Depends}, debconf (>= 0.2.50), fileutils (>= 4.0i-1), psmisc
Suggests: openldap-guide, ldap-utils
Conflicts: umich-ldapd, ldap-server
Provides: ldap-server
Description: OpenLDAP server (slapd).
 This is the OpenLDAP (Lightweight Directory Access Protocol) standalone
 server (slapd). The server can be used to provide a standalone directory
 service and also includes the slurpd replication server and centipede.

Package: ldap-utils
Section: net
Priority: extra
Architecture: any
Depends: ${shlibs:Depends}
Conflicts: umich-ldap-utils, openldap-utils, ldap-client
Replaces: openldap-utils
Provides: ldap-client, openldap-utils
Description: OpenLDAP utilities.
 Utilities from the OpenLDAP (Lightweight Directory Access Protocol)
 package. These utilities can access a local or remote LDAP server
 and contain all the client programs required to access LDAP servers.

Package: ldap-gateways
Section: net
Priority: extra
Architecture: any
Conflicts: openldap-gateways
Depends: ${shlibs:Depends}
Description: OpenLDAP Gateways
 These programs provide directory interaction (gateways) with your
 existing servers. They include fax, finger, gopher and mail gateways,
 aswell as some useful utilities.

Package: libldap2
Section: libs
Priority: important
Architecture: any
Replaces: libopenldap-runtime
Depends: ${shlibs:Depends}
Description: OpenLDAP libraries.
 These are the run-time libraries for the OpenLDAP (Lightweight Directory
 Access Protocol) servers and clients.

Package: libldap2-dev
Section: devel
Priority: extra
Architecture: any
Conflicts: libldap-dev, libopenldap-dev
Replaces: libopenldap-dev
Provides: libldap-dev
Depends: libldap2 (= ${Source-Version})
Description: OpenLDAP development libraries.
 This package allows development of LDAP applications using the OpenLDAP
 libraries. It includes headers, libraries and links to allow static and
 dynamic linking.
