#!/usr/bin/make -f

LDFLAGS += -Wl,-z,defs -Wl,--as-needed

%:
	dh $@ --with autotools_dev,autoreconf

override_dh_auto_configure:
	dh_auto_configure -- --prefix=/usr	\
		--bindir=/usr/lib/libraw	\
		--disable-lcms --disable-jasper --disable-openmp \
		--enable-jpeg

override_dh_makeshlibs:
	dh_makeshlibs -V 'libraw10 (>= 0.16.0-1)' -- -c0
