Source: ffmpeg
Section: graphics
Priority: optional
Maintainer: Justin Maggard <justin.maggard@netgear.com>
Homepage: http://ffmpeg.mplayerhq.hu/
Standards-Version: 3.9.3
Build-Conflicts: libroar-dev
Build-Depends: debhelper (>= 9), zlib1g-dev, quilt,
 yasm [amd64 i386 kfreebsd-i386 kfreebsd-amd64],
 libmp3lame-dev

Package: ffmpeg
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Suggests: nvidia-libvdpau1 [ i386 amd64 ]
Replaces: libavcodec52
Conflicts: ffprobe, libav-tools
Description: audio/video encoder, streaming server & audio/video file converter.
 FFmpeg is a hyper fast real time audio/video encoder, a streaming server
 and a generic audio and video file converter.
 .
 It can grab from a standard Video4Linux video source and convert it into
 several file formats based on DCT/motion compensation encoding. Sound is
 compressed in MPEG audio layer 2 or using an AC3 compatible stream.

Package: ffmpeg-dbg
Section: debug
Priority: extra
Architecture: any
Depends: libavutil52 (= ${binary:Version}), libavcodec55 (= ${binary:Version}), libavdevice55 (= ${binary:Version}), libavformat55 (= ${binary:Version}), libswscale2 (= ${binary:Version}), libswresample0 (= ${binary:Version}), libavfilter4 (= ${binary:Version}), ffmpeg (= ${binary:Version}), ${misc:Depends}
Description: Debug symbols for FFmpeg related packages.
 This package contains debug data of the FFmpeg related shared libraries.
 .
 Most people will not need this package. Please install it to produce useful
 stacktraces to help debugging the FFmpeg library.

Package: ffmpeg-doc
Section: doc
Architecture: all
Depends: ${misc:Depends}
Description: Documentation of the FFmpeg API.
 This package contains the html doxygen documentation of the FFmpeg API.

Package: libavcodec55
Architecture: any
Section: libs
Multi-Arch: same
Pre-Depends: ${misc:Pre-Depends}
Conflicts: libavcodeccvs51, libavcodec-extra-53
Replaces: libavcodeccvs51
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Library to encode decode multimedia streams - runtime files.
 FFmpeg is a hyper fast real time audio/video encoder, a streaming server
 and a generic audio and video file converter.
 .
 It can grab from a standard Video4Linux video source and convert it into
 several file formats based on DCT/motion compensation encoding. Sound is
 compressed in MPEG audio layer 2 or using an AC3 compatible stream.

Package: libavcodec-dev
Architecture: any
Section: libdevel
Multi-Arch: same
Depends: libavcodec55 (= ${binary:Version}), zlib1g-dev, libavutil-dev (>= ${binary:Version}), ${misc:Depends}
Replaces: libavcodeccvs51-dev (<= 3:20071129-0.0), libavcodeccvs-dev
Conflicts: libffmpeg0, libavcodec1-dev, libavcodec2-dev, libavcodeccvs51-dev (<= 3:20071129-0.0), libavcodeccvs-dev
Description: Library to encode decode multimedia streams - devel files.
 FFmpeg is a hyper fast real time audio/video encoder, a streaming server
 and a generic audio and video file converter.
 .
 It can grab from a standard Video4Linux video source and convert it into
 several file formats based on DCT/motion compensation encoding. Sound is
 compressed in MPEG audio layer 2 or using an AC3 compatible stream.

Package: libavutil52
Architecture: any
Section: libs
Multi-Arch: same
Pre-Depends: ${misc:Pre-Depends}
Conflicts: libpostproc0, libavutilcvs49, libavutil-extra-51
Replaces: libavutilcvs49
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: FFmpeg avutil library - runtime files
 This package contains the FFmpeg video utility.

Package: libavutil-dev
Architecture: any
Section: libdevel
Multi-Arch: same
Depends: libavutil52 (= ${binary:Version}), ${misc:Depends}
Replaces: libavcodeccvs-dev (<= 3:20050716-0.4), libavcodec-dev, libavcodeccvs51 (<= 3:20070312-0.0), libavcodeccvs51-dev (<= 3:20070528-0.0), libavutilcvs49-dev (<= 3:20071129-0.0), libavutilcvs-dev
Conflicts: libavutilcvs-dev, libavutil-dev, libavutilcvs49-dev (<= 3:20071129-0.0), libavutilcvs-dev
Description: FFmpeg avutil devel files - devel files.
 This package contains the FFmpeg video utility.

Package: libavformat55
Architecture: any
Section: libs
Multi-Arch: same
Pre-Depends: ${misc:Pre-Depends}
Conflicts: libavformatcvs, libavformatcvs52, libavformat-extra-53
Replaces: libavcodeccvs51 (<= 3:20070106-0.1), libavformatcvs52
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: FFmpeg file format library.
 This is the demuxer library from the FFmpeg project. It supports most
 existing file formats (AVI, MPEG, OGG, Matroska, ASF...).

Package: libavformat-dev
Architecture: any
Section: libdevel
Multi-Arch: same
Depends: libavformat55 (= ${binary:Version}), ${misc:Depends}
Replaces: libavcodeccvs-dev (<= 3:20050716-0.4), libavcodeccvs51-dev (<= 3:20070106-0.1), libavformatcvs51-dev (<= 3:20071112-0.0), libavformatcvs52-dev (<= 3:20071129-0.0), libavformatcvs-dev
Conflicts: libavformatcvs52-dev (<= 3:20071129-0.0), libavformatcvs-dev
Description: Development files for libavformat.
 This is the demuxer library from the FFmpeg project. It supports most
 existing file formats (AVI, MPEG, OGG, Matroska, ASF...).

Package: libswscale2
Architecture: any
Section: libs
Multi-Arch: same
Pre-Depends: ${misc:Pre-Depends}
Conflicts: libswscalecvs0, libswscale-extra-2
Replaces: libswscalecvs0
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: FFmpeg video scaling library.
 This is the video scaling library from the FFmpeg project.
 .
 Please send me a better description.

Package: libswscale-dev
Architecture: any
Section: libdevel
Multi-Arch: same
Depends: libswscale2 (= ${binary:Version}), ${misc:Depends}
Replaces: libavcodeccvs51 (<= 3:20070312-0.0), libavcodeccvs51-dev (<= 3:20070528-0.0), libswscalecvs0-dev (<= 3:20071129-0.0), libswscalecvs-dev
Conflicts: libswscalecvs0-dev (<= 3:20071129-0.0), libswscalecvs-dev
Description: Development files for libswscale.
 This is the video scaling library from the FFmpeg project.
 .
 Please send me a better description.

Package: libavdevice55
Architecture: any
Section: libs
Multi-Arch: same
Pre-Depends: ${misc:Pre-Depends}
Conflicts: libavdevicecvs52, libavdevice-extra-53
Replaces: libavdevicecvs52
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: FFmpeg device handling library.
 This is the device handling library from the FFmpeg project.

Package: libavdevice-dev
Architecture: any
Section: libdevel
Multi-Arch: same
Depends: libavdevice55 (= ${binary:Version}), libavformat-dev (>= ${binary:Version}), ${misc:Depends}
Replaces: libavdevicecvs52-dev (<= 3:20071129-0.0), libavdevicecvs-dev
Conflicts: libavdevicecvs52-dev (<= 3:20071129-0.0), libavdevicecvs-dev
Description: Development files for libavdevice.
 This is the device handling library from the FFmpeg project.
 .
 This package contains the header files and static libraries needed to
 compile applications or shared objects that use libavdevice.

Package: libavfilter4
Architecture: any
Section: libs
Multi-Arch: same
Pre-Depends: ${misc:Pre-Depends}
Conflicts: libavfilter-extra-2, libavfilter2
Replaces: libavfilter2
Depends: ${shlibs:Depends}, ${misc:Depends}, libavcodec55 (= ${binary:Version}), libavformat55 (= ${binary:Version})
Description: FFmpeg filter library.
 libavfilter is a graphics library, therefore for:
 .
  * drawing text
    Create a single drawtext filter using freetype
  * supporting filters from libmpcodecs
    Create a single filter that links to libmpcodecs
  * supporting filters from gimp
    Create a single filter that links to it
  * reading images
    Create a filter using libavcodec
  * blending two things
    Create a single filter doing the blending using C

Package: libavfilter-dev
Architecture: any
Section: libdevel
Multi-Arch: same
Depends: libavfilter4 (= ${binary:Version}), libavcodec-dev, ${misc:Depends}
Description: Development files for libavfilter.
 libavfilter is a graphics library, therefore for:
 .
  * drawing text
    Create a single drawtext filter using freetype
  * supporting filters from libmpcodecs
    Create a single filter that links to libmpcodecs
  * supporting filters from gimp
    Create a single filter that links to it
  * reading images
    Create a filter using libavcodec
  * blending two things
    Create a single filter doing the blending using C .
 .
 This package contains the header files and static libraries needed to
 compile applications or shared objects that use libavfilter0.

Package: libswresample0
Architecture: any
Section: libs
Multi-Arch: same
Pre-Depends: ${misc:Pre-Depends}
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: FFmpeg audio rescaling library.
 This is the audio scaling library from the FFmpeg project.
 .
 Please send me a better description.

Package: libswresample-dev
Architecture: any
Section: libdevel
Multi-Arch: same
Depends: libswresample0 (= ${binary:Version}), ${misc:Depends}, libavutil-dev
Description: Development files for libswresample.
 This is the audio scaling library from the FFmpeg project.
 .
 Please send me a better description.

Package: libavresample1
Architecture: any
Section: libs
Multi-Arch: same
Pre-Depends: ${misc:Pre-Depends}
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: FFmpeg audio conversion library.
 This is the audio conversion library from the FFmpeg project.
 .
 It is just a API wrapper for libav compatibility.

Package: libavresample-dev
Architecture: any
Section: libdevel
Multi-Arch: same
Depends: libavresample1 (= ${binary:Version}), ${misc:Depends}
Description: Development files for libswresample.
 This is the audio conversion library from the FFmpeg project.
 .
 It is just a API wrapper for libav compatibility.
