Source: netatalk
Section: net
Priority: extra
Maintainer: Sebastian Rittau <srittau@debian.org>
Standards-Version: 3.7.2
Build-Depends: debhelper (>= 4.0.0), quilt (>= 0.40), libdb4.8-dev | libdb-dev, libpam0g-dev, libssl-dev, libgcrypt11-dev, libacl1-dev, libattr1-dev

Package: netatalk
Architecture: any
Depends: netbase, libpam-modules, ${shlibs:Depends}
Recommends: lsof, libpam-cracklib
Suggests: tetex-base, quota, rc
Conflicts: netatalk-asun, libatalk14g, libatalk1, bigloo
Replaces: netatalk-asun, libatalk14, libatalk1
Description: AppleTalk user binaries
 Netatalk is an implementation of the AppleTalk Protocol Suite for
 BSD-derived systems.  The current release contains support for
 EtherTalk Phase I and II, DDP, RTMP, NBP, ZIP, AEP, ATP, PAP, ASP, and
 AFP.
 .
 This package contains all daemon and utility programs as well as Netatalk's
 static libraries.

Package: netatalk-dev
Architecture: any
Depends: netatalk (>= 1.5)
Conflicts: netatalk (<< 1.5pre7-2), libatalk14g-dev, libatalk14-dev, netatalk-asun, libatalk1-dev
Replaces: netatalk (<< 1.5pre7-2), libatalk14g-dev, libatalk14-dev, netatalk-asun, libatalk1-dev
Description: AppleTalk library and development files
 Netatalk is an implementation of the AppleTalk Protocol Suite for
 BSD-derived systems.  The current release contains support for
 EtherTalk Phase I and II, DDP, RTMP, NBP, ZIP, AEP, ATP, PAP, ASP, and
 AFP.
 .
 This package contains the header files, needed to develop programs that
 link against Netatalk's static libraries.

