Source: gdbm173
Section: oldlibs
Priority: extra
Maintainer: James Troup <james@nocrew.org>
Build-Depends: texinfo, dpatch
Standards-Version: 3.5.10.0

Package: libgdbmg1
Architecture: any
Provides: elf-libgdbm
Conflicts: libgdbm1 (<< 1.7.3-20)
Section: oldlibs
Priority: extra
Depends: ${shlibs:Depends}
Description: GNU dbm database routines (runtime version)
 GNU dbm ('gdbm') is a library of database functions that use extendible
 hashing and works similarly to the standard UNIX 'dbm' functions.
 .
 The basic use of 'gdbm' is to store key/data pairs in a data file, thus
 providing a persistent version of the 'dictionary' Abstract Data Type
 ('hash' to perl programmers).
