Source: psmisc
Section: admin
Priority: optional
Maintainer:  Craig Small <csmall@debian.org>
Build-Depends: debhelper (>> 3.0.0), libncurses-dev
Standards-Version: 3.5.2

Package: psmisc
Architecture: any
Depends: ${shlibs:Depends}
Replaces: procps (<< 1:1.2)
Description: Utilities that use the proc filesystem
 This package contains three little utilities that use the proc FS:
 . 
 `fuser' identifies processes using files (similar to Sun's or SGI's fuser). 
 `killall' kills processes by name, e.g. killall -HUP named. `pstree' shows
 the currently running processes as a tree

