Source: netatalk
Section: net
Priority: extra
Maintainer: Justin Maggard <justin.maggard@netgear.com>
Build-Depends: devscripts,
 debhelper (>= 9),
 libdb-dev,
 libwrap0-dev,
 libpam0g-dev,
 libkrb5-dev,
 libltdl-dev,
 libgcrypt11-dev,
 libssl-dev,
 libldap2-dev,
 libacl1-dev,
 libevent-dev,
 libtracker-miner-1.0-dev,
 libtracker-sparql-1.0-dev,
 tracker
Build-Conflicts: libavahi-compat-libdnssd-dev
Standards-Version: 3.9.6
Homepage: http://netatalk.sourceforge.net/

Package: netatalk
Section: net
Architecture: any
Pre-Depends: ${misc:Pre-Depends}
Depends: ${shlibs:Depends}, ${misc:Depends}, ${cdbs:Depends}
Recommends: ${cdbs:Recommends}
Suggests: ${cdbs:Suggests}
Description: AppleTalk user binaries
 Netatalk is an implementation of the AppleTalk Protocol Suite for
 BSD-derived systems.  The current release contains support for
 EtherTalk Phase I and II, DDP, RTMP, NBP, ZIP, AEP, ATP, PAP, ASP, and
 AFP.
 .
 This package contains all daemon and utility programs as well as Netatalk's
 static libraries.
