Package: samba-common
Source: samba
Version: 2:4.8.0-12.netgear5
Architecture: all
Maintainer: Samba Debian Maintainers <pkg-samba-maint@lists.alioth.debian.org>
Installed-Size: 46
Pre-Depends: dpkg (>= 1.15.6~)
Depends: ucf, debconf (>= 0.5) | debconf-2.0
Recommends: samba-common-bin
Conflicts: samba4-common (<< 4.0.0~alpha7-1)
Replaces: samba (<< 3.0.20b-1), samba4-common (<< 4.0.0~alpha7-1)
Section: net
Priority: optional
Multi-Arch: foreign
Homepage: http://www.samba.org/
Description: common files used by both the Samba server and client
 Samba is an implementation of the SMB/CIFS protocol for Unix systems,
 providing support for cross-platform file and printer sharing with
 Microsoft Windows, OS X, and other Unix systems.
 .
 This package contains common files used by both Samba 3 and Samba 4.
