Source: libidn
Section: libs
Maintainer: Ryan M. Golbeck <rmgolbeck@debian.org>
Standards-Version: 3.6.1
Build-Depends: debhelper (>= 4.0.0), gengetopt, cdbs (>= 0.4.5.3)

Package: idn
Section: misc
Priority: optional
Architecture: any
Depends: ${shlibs:Depends}
Description: Command line and emacs interface to GNU libidn
 GNU Libidn is an implementation of the Stringprep, Punycode and IDNA
 specifications defined by the IETF Internationalized Domain Names
 (IDN) working group, used for internationalized domain names.
 Currently the Nameprep, Kerberos 5 and XMPP Stringprep profiles are
 supported.

Package: libidn11-dev
Section: libdevel
Priority: optional
Architecture: any
Depends: libidn11 (= ${Source-Version}), pkg-config
Conflicts: libidn9-dev
Description: Development files GNU libidn, implementation of IETF IDN spec
 GNU Libidn is an implementation of the Stringprep, Punycode and IDNA
 specifications defined by the IETF Internationalized Domain Names
 (IDN) working group, used for internationalized domain names.
 Currently the Nameprep, Kerberos 5 and XMPP Stringprep profiles are
 supported.

Package: libidn11
Priority: standard
Architecture: any
Depends: ${shlibs:Depends}
Conflicts: libidn9-dev
Replaces: libidn11-dev
Description: GNU libidn library, implementation of IETF IDN specifications
 GNU Libidn is an implementation of the Stringprep, Punycode and IDNA
 specifications defined by the IETF Internationalized Domain Names
 (IDN) working group, used for internationalized domain names.
 Currently the Nameprep, Kerberos 5 and XMPP Stringprep profiles are
 supported.
