Package: smbclient
Source: samba
Version: 2:4.8.0-12.netgear5
Architecture: amd64
Maintainer: Samba Debian Maintainers <pkg-samba-maint@lists.alioth.debian.org>
Installed-Size: 1489
Pre-Depends: dpkg (>= 1.15.6~)
Depends: samba-common (= 2:4.8.0-12.netgear5), libarchive13, libbsd0 (>= 0.0), libc6 (>= 2.14), libkrb5-3 (>= 1.6.dfsg.2), libpopt0 (>= 1.14), libreadline6 (>= 6.0), libsmbclient (>= 2:4.0.3), libtalloc2 (>= 2.0.4~git20101213), libtevent0 (>= 0.9.9), samba-libs
Suggests: cifs-utils
Conflicts: samba4-clients (<< 4.0.0~beta1+dfsg1-1)
Replaces: samba (<< 2.999+3.0.alpha21-4), smbget
Provides: samba-client
Section: net
Priority: optional
Homepage: http://www.samba.org/
Description: command-line SMB/CIFS clients for Unix
 Samba is an implementation of the SMB/CIFS protocol for Unix systems,
 providing support for cross-platform file and printer sharing with
 Microsoft Windows, OS X, and other Unix systems.
 .
 This package contains command-line utilities for accessing Microsoft
 Windows and Samba servers, including smbclient, smbtar, and smbspool.
 Utilities for mounting shares locally are found in the package
 cifs-utils.
