Source: newt
Section: devel
Priority: optional
Maintainer: Alastair McKinstry <mckinstry@debian.org>
Standards-Version: 3.8.4
Homepage: https://fedorahosted.org/newt/
Vcs-Git: git://git.fedorahosted.org/git/newt
XS-Python-Version: all
Build-Depends: dbs, sgmltools-lite, libslang2-dev  (>=2.0.4-2), libpopt-dev, debhelper (>=5.0.37.2), gettext, libfribidi-dev, tcl8.5-dev, python-all-dev (>= 2.3.5-7), python-central (>= 0.5), autoconf, python-all-dbg

Package: libnewt-dev
Architecture: any
Section: libdevel
Priority: optional
Conflicts: newt0.30-dev, newt0.25-dev, libnewt-utf8-dev
Replaces: newt0.30-dev, newt0.25-dev, libnewt-utf8-dev
Depends: ${shlibs:Depends}, ${libcdev}, libslang2-dev (>= 2.0.2), libnewt0.52 (=${binary:Version}), ${misc:Depends}
Description: Developer's toolkit for newt windowing library
 These are the header files and libraries for developing applications
 which use newt. Newt is a windowing toolkit for text mode, which provides
 many widgets and stackable windows.

Package: libnewt-pic
Architecture: any
Section: libdevel
Priority: extra
Depends: libnewt-dev (=${binary:Version}), ${misc:Depends}
Conflicts: libnewt-utf8-pic
Replaces: libnewt-utf8-pic
Description: Not Erik's Windowing Toolkit, shared library subset kit
 This is used to develop subsets of the newt shared libraries for use on
 custom installation floppies and in embedded systems. Unless you're
 making one of those, you won't need this package.

Package: newt-tcl
Architecture: any
Section: interpreters
Priority: extra
Depends: libnewt0.52 (=${binary:Version}) , tcl8.3 | tcl8.4 | tcl8.5, ${misc:Depends}, ${shlibs:Depends}
Description: A newt module for Tcl
 This module allows you to build a text UI for your Tcl scripts
 using newt.

Package: python-newt
Architecture: any
Section: python
Priority: optional
XB-Python-Version: ${python:Versions}
Provides: ${python:Provides}
Depends: libnewt0.52 (=${binary:Version}) , ${python:Depends}, ${misc:Depends}, ${shlibs:Depends}
Description: A NEWT module for Python
 This module allows you to built a text UI for your Python scripts
 using newt.

Package: python-newt-dbg
Architecture: any
Section: debug
Priority: extra
Depends: libnewt0.52 (=${binary:Version}), python-newt (=${binary:Version}), python-dbg, ${misc:Depends}, ${shlibs:Depends}
Description: A NEWT module for Python (debug extension)
 This module allows you to built a text UI for your Python scripts
 using newt.
 .
 This package contains the extension built for the Python debug interpreter.


Package: libnewt0.52
Architecture: any
Section: libs
Priority: important
Replaces: libnewt-utf8, libnewt0, libnewt0.51
Conflicts: libnewt0.51
Depends: ${shlibs:Depends}, ${misc:Depends}
Recommends: libfribidi0
Description: Not Erik's Windowing Toolkit - text mode windowing with slang
 Newt is a windowing toolkit for text mode built from the slang library.
 It allows color text mode applications to easily use stackable windows,
 push buttons, check boxes, radio buttons, lists, entry fields, labels,
 and displayable text. Scrollbars are supported, and forms may be nested
 to provide extra functionality. This package contains the shared library
 for programs that have been built with newt.

Package: whiptail
Architecture: any
Section: utils
Priority: important
Depends: ${shlibs:Depends}, ${misc:Depends}
Replaces: newt0.10, newt0.21 (<< 0.21-4), whiptail-utf8
Conflicts: whiptail-provider
Provides: whiptail-provider, whiptail-utf8
Description: Displays user-friendly dialog boxes from shell scripts
 Whiptail is a "dialog" replacement using newt instead of ncurses. It
 provides a method of displaying several different types of dialog boxes
 from shell scripts. This allows a developer of a script to interact with
 the user in a much friendlier manner.
