Source: cracklib2
Section: libs
Priority: optional
Maintainer: Jean Pierre LeJacq <jplejacq@quoininc.com>
Standards-Version: 3.1.1
Build-Depends: debhelper (>= 2.0.89)

Package: cracklib2
Section: libs
Architecture: any
Replaces: cracklib2.6
Conflicts: cracklib2.6
Depends: ${shlibs:Depends}
Recommends: cracklib-runtime
Description: A pro-active password checker library
 Shared library for cracklib2 which contains a C function which may be
 used in a passwd like program.  The idea is simple: try to prevent
 users from choosing passwords that could be guessed by crack by
 filtering them out, at source. cracklib2 is NOT a replacement passwd
 program.  cracklib2 is a LIBRARY.

Package: cracklib2-dev
Section: devel
Architecture: any
Replaces: cracklib2.6-dev
Conflicts: cracklib2.6-dev
Depends: cracklib2
Recommends: cracklib-runtime
Description: a pro-active password checker library
 Header files, static libraries, documentation, and symbolic links
 developers using cracklib2 will need.

Package: cracklib-runtime
Section: admin
Architecture: any
Depends: cracklib2, file
Description: A pro-active password checker library
 Run-time support programs which use the shared library in cracklib2
 including programs to build the password dictionary databases used by
 the functions in the shared library.
