Source: libapache2-mod-auth-pam
Maintainer: LENART Janos <ocsi@debian.org>
Section: web
Priority: extra
Standards-Version: 3.8.1
Build-Depends: apache2-threaded-dev (>= 2.0.50-9), libpam0g-dev, yada (>= 0.54)

Package: libapache2-mod-auth-pam
Architecture: any
Depends: apache2.2-common (>= 2.2.11-2), ${libapache2-mod-auth-pam:Depends}
Description: module for Apache2 which authenticate using PAM
 mod_auth_pam implements authentication routines using PAM (Plugable
 Authentication Modules) for apache's authentication protocol.
 .
 This package provides the module for Apache 2.0 server.

Package: libapache2-mod-auth-sys-group
Architecture: any
Depends: apache2.2-common (>= 2.2.11-2), ${libapache2-mod-auth-sys-group:Depends}
Description: Module for Apache2 which checks user against system group
 mod_auth_pam implements 'require group' functionality against system group
 database.
 .
 This package provides the module for Apache 2.0 server.
