#!/usr/bin/make -f

export DEB_BUILD_MAINT_OPTIONS:=hardening=+all

%:
	dh $@

override_dh_auto_build:
	make CFLAGS="`dpkg-buildflags --get CFLAGS`" LDFLAGS="`dpkg-buildflags --get LDFLAGS`" CPPFLAGS="`dpkg-buildflags --get CPPFLAGS`"

override_dh_auto_install:
	dh_auto_install
	rm debian/pwauth/usr/sbin/checkfaillog
	rm debian/pwauth/usr/sbin/unixgroup

override_dh_fixperms:
	dh_fixperms
	chown root:www-data debian/pwauth/usr/sbin/pwauth
	chmod 4755  debian/pwauth/usr/sbin/pwauth
