#!/usr/bin/make -f
# Copyright 1994,1995 by Ian Jackson.
# I hereby give you perpetual unlimited permission to copy,
# modify and relicense this file, provided that you do not remove
# my name from the file itself.  (I assert my moral right of
# paternity under the Copyright, Designs and Patents Act 1988.)
# This file may have to be extensively modified
include /usr/share/quilt/quilt.make

package=proftpd

build: patch
	$(checkdir)
	CFLAGS="-g -O2 -fstack-protector --param=ssp-buffer-size=4 -Wformat -Werror=format-security" \
	CPPFLAGS="-D_FORTIFY_SOURCE=2" \
	CXXFLAGS="-g -O2 -fstack-protector --param=ssp-buffer-size=4 -Wformat -Werror=format-security" \
	FFLAGS="-g -O2" LDFLAGS="-Wl,-z,relro" \
	./configure --prefix=/usr \
		--sysconfdir=/etc/proftpd \
		--disable-shared \
		--localstatedir=/run/proftpd \
		--enable-openssl \
		--enable-nls \
		--enable-ctrls \
		--enable-facl \
		--disable-curses \
		--disable-ncurses \
		--enable-buffer-size=16384 \
		--with-modules=mod_dynmasq:mod_tls:mod_rewrite:mod_ifsession:mod_ban:mod_site_misc:mod_sftp:mod_sftp_pam:mod_facl
	$(MAKE) -j8
	touch build

clean: clean-patched unpatch

clean-patched:
	$(checkdir)
	rm -f build
	-$(MAKE) -i distclean
	rm -rf *~ debian/tmp debian/*~ debian/files* debian/substvars
	rm -f modules/mod_ban.c modules/mod_dynmasq.c modules/mod_ifsession.c modules/mod_rewrite.c \
	      modules/mod_sftp_pam.c modules/mod_site_misc.c modules/mod_tls.c include/mod_sftp.h include/mod_tls.h

binary-indep:	checkroot build
	$(checkdir)
# There are no architecture-independent files to be uploaded
# generated by this package.  If there were any they would be
# made here.

binary-arch:	checkroot build
	$(checkdir)
	rm -rf debian/tmp
	install -d debian/tmp/DEBIAN
	install -D -c -s -o root -g root -m 0755 proftpd $$(pwd)/debian/tmp/usr/sbin/proftpd
	install -D -c -s -o root -g root -m 0755 ftpwho $$(pwd)/debian/tmp/usr/bin/ftpwho
	install -D -c -o root -g root -m 0644 debian/proftpd.service $$(pwd)/debian/tmp/lib/systemd/system/proftpd.service
	install -D -c -o root -g root -m 0644 debian/tmpfiles.d $$(pwd)/debian/tmp/usr/lib/tmpfiles.d/proftpd.conf
	dpkg-shlibdeps proftpd
	dpkg-gencontrol -isp
	chown -R root.root debian/tmp
	chmod -R g-ws debian/tmp
	dpkg --build debian/tmp ..

define checkdir
	test -f debian/rules
endef

# Below here is fairly generic really

binary:		binary-indep binary-arch

checkroot:
	$(checkdir)
	test $$(id -u) = 0

.PHONY: binary binary-arch binary-indep clean checkroot patch unpatch
