Source: gsasl
Section: devel
Priority: optional
Maintainer: Ryan M. Golbeck <rmgolbeck@debian.org>
Standards-Version: 3.6.1
Build-Depends: cdbs, gettext, texinfo, pkg-config, libgcrypt-dev, libkrb5-dev, help2man, libidn11-dev, debhelper (>= 4.0.0)

Package: libgsasl7-dev
Section: devel
Architecture: any
Conflicts: libgsasl1-dev
Relpaces: libgsasl1-dev
Depends: libgsasl7 (= ${Source-Version}), libidn11-dev, pkg-config
Description: Development files for the GNU SASL library
 GNU SASL is an implementation of the Simple Authentication and
 Security Layer framework and a few common SASL mechanisms. SASL is
 used by network servers (e.g., IMAP, SMTP) to request authentication
 from clients, and in clients to authenticate against servers.

Package: libgsasl7
Section: libs
Architecture: any
Depends: ${shlibs:Depends}
Conflicts: libgsasl1
Replaces: libgsasl1
Description: GNU SASL library
 GNU SASL is an implementation of the Simple Authentication and
 Security Layer framework and a few common SASL mechanisms. SASL is
 used by network servers (e.g., IMAP, SMTP) to request authentication
 from clients, and in clients to authenticate against servers.

Package: gsasl
Architecture: any
Depends: ${shlibs:Depends}
Description: GNU SASL commandline utility
 GNU SASL is an implementation of the Simple Authentication and
 Security Layer framework and a few common SASL mechanisms. SASL is
 used by network servers (e.g., IMAP, SMTP) to request authentication
 from clients, and in clients to authenticate against servers.
