#!/usr/bin/make -f

DEB_TAR_SRCDIR=gsasl-0.2.5
include /usr/share/cdbs/1/rules/debhelper.mk
include /usr/share/cdbs/1/rules/simple-patchsys.mk
include /usr/share/cdbs/1/class/autotools.mk
include /usr/share/cdbs/1/rules/tarball.mk

DEB_MAKE_CHECK_TARGET =
#DEB_MAKE_CHECK_TARGET = check
