Source: librpcsecgss
Section: libs
Priority: optional
Maintainer: Anibal Monsalve Salazar <anibal@debian.org>
Uploaders: Steinar H. Gunderson <sesse@debian.org>, Daniel Baumann <daniel@debian.org>
Build-Depends: debhelper (>= 5), libkrb5-dev, libgssapi-dev, cdbs, pkg-config
Standards-Version: 3.7.2

Package: librpcsecgss-dev
Section: libdevel
Architecture: any
Depends: librpcsecgss3 (= ${Source-Version})
Description: header files and docs for librpcsecgss
 Contains the header files and documentation for librpcsecgss
 for use in developing applications that use the rpcsecgss library.
 .
 rpcsecgss allows secure rpc communication using the rpcsec_gss protocol.
 .
  Homepage: http://www.citi.umich.edu/projects/nfsv4/linux/

Package: librpcsecgss3
Priority: standard
Section: libs
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Conflicts: librpcsecgss2
Description: allows secure rpc communication using the rpcsec_gss protocol
 librpcsecgss allows secure rpc communication using the rpcsec_gss protocol.
 .
  Homepage: http://www.citi.umich.edu/projects/nfsv4/linux/
