Source: tftp-hpa
Section: net
Priority: extra
Maintainer: Jaakko Niemi <liiwi@debian.org>
Build-Depends: debhelper (>= 5.0.1), libreadline5-dev, libwrap0-dev
Standards-Version: 3.6.2.2

Package: tftp-hpa
Architecture: any
Depends: ${shlibs:Depends}
Conflicts: tftp
Provides: tftp
Description: HPA's tftp client 
 This is a tftp client derived from OpenBSD tftp with some
 extra options added and bugs fixed. The source includes readline
 support but it is not enabled due to licence conflicts between
 the BSD advertising clause and the GPL.

Package: tftpd-hpa
Architecture: any
Depends: ${shlibs:Depends}, debconf | debconf-2.0, netbase
Conflicts: tftpd
Provides: tftpd
Description: HPA's tftp server
 This is a tftp server derived from OpenBSD tftp with some
 extra options added. It is useful if you want to use the
 PXE protocol which has some non-standard requirements for
 tftp.
