Source: libgssapi
Section: libs
Priority: optional
Maintainer: Anibal Monsalve Salazar <anibal@debian.org>
Uploaders: Steinar H. Gunderson <sesse@debian.org>, Daniel Baumann <daniel@debian.org>
Build-Depends: debhelper (>=5), libkrb5-dev, cdbs
Standards-Version: 3.7.2

Package: libgssapi-dev
Section: libdevel
Architecture: any
Depends: libgssapi2 (= ${Source-Version})
Conflicts: heimdal-dev
Replaces: heimdal-dev
Description: header files and docs for libgssapi
 Contains the header files and documentation for libgssapi
 for use in developing applications that use the libgssapi library.
 .
 libgssapi provides a gssapi interface, but does not implement any
 gssapi mechanisms itself; instead it calls other gssapi functions
 (e.g., those provided by MIT Kerberos), depending on the requested
 mechanism, to do the work.
 .
  Homepage: http://www.citi.umich.edu/projects/nfsv4/linux/

Package: libgssapi2
Priority: standard
Section: libs
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: A mechanism-switch gssapi library
 libgssapi provides a gssapi interface, but does not implement any
 gssapi mechanisms itself; instead it calls other gssapi functions
 (e.g., those provided by MIT Kerberos), depending on the requested
 mechanism, to do the work.
 .
  Homepage: http://www.citi.umich.edu/projects/nfsv4/linux/

