Source: diff
Section: base
Priority: required
Maintainer: Santiago Vila <sanvila@debian.org>
Standards-Version: 3.5.6
Build-Depends: texinfo
Build-Depends-Indep: texi2html

Package: diff
Essential: yes
Architecture: any
Pre-Depends: ${shlibs:Depends}
Description: File comparison utilities
 The diff package provides the diff, diff3, sdiff, and cmp programs.
 .
 `diff' shows differences between two files, or each corresponding file
 in two directories.  `cmp' shows the offsets and line numbers where
 two files differ.  `cmp' can also show all the characters that
 differ between the two files, side by side.  `diff3' shows differences
 among three files.  `sdiff' merges two files interactively.
 .
 The set of differences produced by `diff' can be used to distribute
 updates to text files (such as program source code) to other people.
 This method is especially useful when the differences are small compared
 to the complete files.  Given `diff' output, the `patch' program can
 update, or "patch", a copy of the file.

Package: diff-doc
Section: doc
Priority: optional
Architecture: all
Description: Documentation for GNU diffutils.
 This package contains the HTML documentation for GNU diffutils.
