#!/usr/bin/make -f

include /usr/share/dpkg/architecture.mk
ifneq ($(DEB_HOST_GNU_TYPE),$(DEB_BUILD_GNU_TYPE))
  CC := $(DEB_HOST_GNU_TYPE)-gcc
else
  CC := gcc
endif

SHELL := sh -e

CFLAGS := $(shell dpkg-buildflags --get CFLAGS)
CFLAGS := $(patsubst -O2,-Os,$(CFLAGS))
DEB_BUILD_OPTIONS := nocheck
export DEB_BUILD_OPTIONS

%:
	dh ${@}

override_dh_auto_configure:
	./configure --disable-zstd  --disable-python

override_dh_auto_install:
	dh_auto_install -- prefix=/usr bindir=/sbin mandir=/usr/share/man libdir=/usr/lib/$(DEB_HOST_MULTIARCH)

override_dh_install:
	dh_install --fail-missing

override_dh_strip:
	dh_strip --dbg-package=btrfs-tools-dbg

# distclean target does not exist and make would waste time generating
# dependency files and version.h before failing. debhelper < 9.20130624
# would even think distclean exists because something is printed.
override_dh_clean:
	dh_clean
	-rm test.img fsck-test*.txt
	-rm Documentation/*.8 Documentation/*.xml Documentation/*.gz Documentation/Makefile
	-rm Makefile.inc config.h config.log config.status version.h

override_dh_auto_clean:
	if test -f Makefile -a -f Makefile.inc; then make distclean; fi
