Source: libdvdread
Section: graphics
Priority: optional
Maintainer: Mikael Hedin <micce@debian.org>
Build-Depends: debhelper (>> 4.0.0)
Standards-Version: 3.6.1

Package: libdvdread3
Section: libs
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Conflicts: libdvdread1 (= 0.9.1-1)
Suggests: libdvdcss2, wget
Description: Simple foundation for reading DVDs
 To allow applications to access some of the more advanced features
 of the DVD format, libdvdread offers:
 .
 1. A simple abstraction for reading the files on a DVD image
   (dvd_reader.h).
 2. A simple library for parsing the information (IFO) files
   (ifo_read.h/ifo_types.h).
 3. A simple library for parsing the navigation (NAV) packets
   (nav_read.h/nav_types.h).
 .
 libdvdread currently uses libdl to dynamically probe for libdvdcss at
 runtime, if found, libdvdcss will be used to decrypt sections of the
 DVD as necessary.

Package: libdvdread3-dev
Provides: libdvdread-dev
Conflicts: libdvdread-dev, libdvdread2-dev
Section: libdevel
Architecture: any
Depends: libdvdread3 (= ${Source-Version}), ${misc:Depends}
Description: Simple foundation for reading DVDs
 To allow applications to access some of the more advanced features
 of the DVD format, libdvdread offers:
 .
 1. A simple abstraction for reading the files on a DVD image
   (dvd_reader.h).
 2. A simple library for parsing the information (IFO) files
   (ifo_read.h/ifo_types.h).
 3. A simple library for parsing the navigation (NAV) packets
   (nav_read.h/nav_types.h).
 .
 libdvdread currently uses libdl to dynamically probe for libdvdcss at
 runtime, if found, libdvdcss will be used to decrypt sections of the
 DVD as necessary.
 .
 libdvdread-dev contains static libraries, headers, and some documentation.
