#!/bin/sh -e

## Source debconf library.
. /usr/share/debconf/confmodule

## Show info
css_version=$(dpkg -l libdvdcss2 2>/dev/null | awk '/.i..libdvdcss2/ {print $3}')
if dpkg --compare-versions "$css_version" lt 1.2.5-1; then
    db_input medium libdvdread/install_css || true
    db_go
fi

exit 0
