Source: libxml2
Priority: optional
Section: libs
Maintainer: Debian XML/SGML Group <debian-xml-sgml-pkgs@lists.alioth.debian.org>
Uploaders: Mike Hommey <glandium@debian.org>
Standards-Version: 3.6.1
Build-Depends: debhelper (>= 4.1.67), zlib1g-dev | libz-dev, python, python2.4-dev, python2.3-dev, python2.2-dev, autotools-dev

Package: libxml2
Architecture: any
Section: libs
Depends: ${shlibs:Depends}, ${misc:Depends}
Recommends: xml-core
Description: GNOME XML library
 XML is a metalanguage to let you design your own markup language.
 A regular markup language defines a way to describe information in
 a certain class of documents (eg HTML). XML lets you define your
 own customized markup languages for many classes of document. It
 can do this because it's written in SGML, the international standard
 metalanguage for markup languages.
 .
 This package provides a library providing an extensive API to handle
 such XML data files.

Package: libxml2-utils
Architecture: any
Section: text
Depends: ${shlibs:Depends}, ${misc:Depends}
Replaces: libxml2 (<< 2.5.7-1)
Conflicts: libxml2 (<< 2.5.7-1)
Description: XML utilities
 XML is a metalanguage to let you design your own markup language.
 A regular markup language defines a way to describe information in
 a certain class of documents (eg HTML). XML lets you define your
 own customized markup languages for many classes of document. It
 can do this because it's written in SGML, the international standard
 metalanguage for markup languages.
 .
 This package provides xmllint, a tool for validating and reformatting
 XML documents, and xmlcatalog, a tool to parse and manipulate XML or
 SGML catalog files.

Package: libxml2-dev
Architecture: any
Section: libdevel
Depends: libxml2 (= ${Source-Version}), zlib1g-dev | libz-dev
Replaces: libxml2 (<= 2.6.6-1), libxml2-headers (= 2.6.7-1)
Conflicts: libxml2 (<= 2.6.6-1), libxml2-headers (= 2.6.7-1)
Description: Development files for the GNOME XML library
 XML is a metalanguage to let you design your own markup language.
 A regular markup language defines a way to describe information in
 a certain class of documents (eg HTML). XML lets you define your
 own customized markup languages for many classes of document. It
 can do this because it's written in SGML, the international standard
 metalanguage for markup languages.
 .
 Install this package if you wish to develop your own programs using
 the GNOME XML library.

Package: libxml2-doc
Architecture: all
Section: doc
Description: Documentation for the GNOME XML library
 XML is a metalanguage to let you design your own markup language.
 A regular markup language defines a way to describe information in
 a certain class of documents (eg HTML). XML lets you define your
 own customized markup languages for many classes of document. It
 can do this because it's written in SGML, the international standard
 metalanguage for markup languages.
 .
 This package contains general information about the GNOME XML library
 and more specific API references.

Package: python-libxml2
Architecture: all
Section: python
Depends: ${python:Depends}
Description: Python bindings for the GNOME XML library
 This package is a dummy package that will bring you the GNOME XML
 library bindings for the current Python version.

Package: python2.4-libxml2
Architecture: any
Section: python
Depends: ${shlibs:Depends}, ${misc:Depends}, python2.4
Description: Python 2.4 bindings for the GNOME XML library
 XML is a metalanguage to let you design your own markup language.
 A regular markup language defines a way to describe information in
 a certain class of documents (eg HTML). XML lets you define your
 own customized markup languages for many classes of document. It
 can do this because it's written in SGML, the international standard
 metalanguage for markup languages.
 .
 This package contains the files needed to use the GNOME XML library
 in Python programs.

Package: python2.3-libxml2
Architecture: any
Section: python
Provides: libxml2-python2.3
Replaces: libxml2-python2.3
Depends: ${shlibs:Depends}, ${misc:Depends}, python2.3
Description: Python 2.3 bindings for the GNOME XML library
 XML is a metalanguage to let you design your own markup language.
 A regular markup language defines a way to describe information in
 a certain class of documents (eg HTML). XML lets you define your
 own customized markup languages for many classes of document. It
 can do this because it's written in SGML, the international standard
 metalanguage for markup languages.
 .
 This package contains the files needed to use the GNOME XML library
 in Python programs.

Package: python2.2-libxml2
Architecture: any
Section: python
Depends: ${shlibs:Depends}, ${misc:Depends}, python2.2
Description: Python 2.2 bindings for the GNOME XML library
 XML is a metalanguage to let you design your own markup language.
 A regular markup language defines a way to describe information in
 a certain class of documents (eg HTML). XML lets you define your
 own customized markup languages for many classes of document. It
 can do this because it's written in SGML, the international standard
 metalanguage for markup languages.
 .
 This package contains the files needed to use the GNOME XML library
 in Python programs.

Package: libxml2-python2.3
Architecture: all
Section: python
Depends: python2.3-libxml2
Description: Python 2.3 bindings for the GNOME XML library - dummy package for upgrade
 This package is a dummy package for smooth transition to python2.3-libxml2.
