Source: target-isns
Section: utils
Priority: optional
Maintainer: Hao Wu <hao.wu@netgear.com>
Build-Depends: debhelper (>=9), po-debconf
Standards-Version: 3.9.8
Homepage: https://github.com/open-iscsi/target-isns

Package: target-isns
Architecture: any
Depends: ${misc:Depends}, ${shlibs:Depends}
Description: An iSNS client for the Linux LIO iSCSI target
 Target-isns is an Internet Storage Name Service (iSNS)
 client for the Linux LIO iSCSI target. It allows
 registering LIO iSCSI targets with an iSNS server.
