#!/usr/bin/make -f
DESTDIR = $(CURDIR)/debian/target-isns

%:
	dh $@

override_dh_install:
	# Install systemd service files.
	mkdir -p $(DESTDIR)/lib/systemd/system
	install -m 0644 debian/target-isns.service $(DESTDIR)/lib/systemd/system
	dh_install
