[Unit]
Description=An iSNS client for the Linux LIO iSCSI target
After=readynasd.service
Wants=readynasd.service
ConditionPathExistsGlob=/etc/default/target-isns

[Service]
EnvironmentFile=/etc/default/target-isns
ExecStart=/usr/bin/target-isns -f -i $ISNSSERVER

[Install]
WantedBy=multi-user.target
