Package: samba
Version: 2:4.8.0-12.netgear5
Architecture: amd64
Maintainer: Samba Debian Maintainers <pkg-samba-maint@lists.alioth.debian.org>
Installed-Size: 576
Depends: samba-common-bin (= 2:4.8.0-12.netgear5), samba-common (= 2:4.8.0-12.netgear5), samba-libs (= 2:4.8.0-12.netgear5), libwbclient0 (= 2:4.8.0-12.netgear5), libpam-runtime (>= 1.0.1-11), libpam-modules, debconf (>= 0.5) | debconf-2.0, libbsd0 (>= 0.0), libc6 (>= 2.14), libpopt0 (>= 1.14), libtalloc2 (>= 2.0.4~git20101213), libtdb1 (>= 1.2.7+git20101214), libtevent0 (>= 0.9.16)
Recommends: attr, samba-vfs-modules
Suggests: phpldapadmin, samba-gtk, swat2
Conflicts: samba (<< 2:3.3.0~rc2-5), samba-tools
Replaces: libsamdb0 (<< 4.0.0~alpha17~)
Section: net
Priority: optional
Homepage: http://www.samba.org/
Description: SMB/CIFS file, print, and login server for Unix
 Samba is an implementation of the SMB/CIFS protocol for Unix systems,
 providing support for cross-platform file and printer sharing with
 Microsoft Windows, OS X, and other Unix systems.  Samba can also function
 as an NT4-style domain controller, and can integrate with both NT4 domains
 and Active Directory realms as a member server.
 .
 This package provides the components necessary to use Samba as a stand-alone
 file and print server.  For use in an NT4 domain or Active Directory realm,
 you will also need the winbind package.
 .
 This package is not required for connecting to existing SMB/CIFS servers
 (see smbclient) or for mounting remote filesystems (see cifs-utils).
