Source: quota
Section: admin
Priority: optional
Maintainer: Michael Meskes <meskes@debian.org>
Build-Depends: debhelper (>= 6.0.7~), gettext, libwrap0-dev, e2fslibs-dev,
               po-debconf (>= 0.5.0), libldap2-dev, libssl-dev, quilt (>= 0.46-7), libnl-dev,
               libdbus-1-dev
Standards-Version: 3.9.1
Homepage: http://sourceforge.net/projects/linuxquota

Package: quota
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, debconf (>= 1.2.9) | debconf-2.0, lsb-base (>= 3.2-13)
Suggests: libnet-ldap-perl, rpcbind | portmap
Description: implementation of the disk quota system
 QUOTA is implemented using the BSD system call interface as the means of
 communication with the user level. This is based on the Melbourne quota
 system which uses both user and group quota files.
