Source: base-passwd
Section: base
Priority: required
Maintainer: Wichert Akkerman <wakkerma@debian.org>
Standards-Version: 3.2.1

Package: base-passwd
Architecture: any
Depends: ${shlibs:Pre-Depends}
Essential: yes
Replaces: base
Description: Debian Base System Password/Group Files
 This package provides the master /etc/passwd and /etc/group files, 
 containing Debian-allocated user and group IDs, plus the update-passwd
 utility to keep them up to date.
