#!/usr/bin/make -f

version=$(shell dpkg-parsechangelog | grep ^Version:.* | cut -d ' ' -f 2)
architecture=$(shell dpkg --print-architecture)

build:
	$(checkdir)
	$(MAKE)
	touch build

clean:
	$(checkdir)
	-$(MAKE) -i clean
	-rm -rf build debian/tmp debian/files debian/substvars

binary-indep: checkroot build
	$(checkdir)

binary-arch: checkroot build
	$(checkdir)
	rm -fr debian/tmp

	# Build udhcpc package.
	install -d -m 755 debian/tmp/DEBIAN
	install -m 644 debian/conffiles.udhcpc debian/tmp/DEBIAN/conffiles

	install -d -m 755 debian/tmp/sbin
	install -m 755 udhcpc debian/tmp/sbin/udhcpc
	install -m 755 pump debian/tmp/sbin/pump
	strip --remove-section=.comment --remove-section=.note --strip-unneeded debian/tmp/sbin/udhcpc

	install -d -m 755 debian/tmp/etc/udhcpc
	install -m 755 samples/simple.script debian/tmp/etc/udhcpc/default.script
	install -m 755 samples/getinfo.script debian/tmp/etc/udhcpc/getinfo.script

	dpkg-shlibdeps udhcpc
	dpkg-gencontrol -isp -pudhcpc
	chown -R root.root debian/tmp
	chmod -R go=rX debian/tmp
	dpkg --build debian/tmp ..

	rm -fr debian/tmp

	# Build udhcpd package.
	install -d -m 755 debian/tmp/DEBIAN
	install -m 755 debian/postinst.udhcpd debian/tmp/DEBIAN/postinst
	install -m 755 debian/postrm.udhcpd debian/tmp/DEBIAN/postrm
	install -m 644 debian/conffiles.udhcpd debian/tmp/DEBIAN/conffiles

	install -d -m 755 debian/tmp/usr/sbin
	install -m 755 udhcpd debian/tmp/usr/sbin/udhcpd
	strip --remove-section=.comment --remove-section=.note --strip-unneeded debian/tmp/usr/sbin/udhcpd

	install -d -m 755 debian/tmp/usr/bin
	install -m 755 dumpleases debian/tmp/usr/bin/dumpleases
	strip --remove-section=.comment --remove-section=.note --strip-unneeded debian/tmp/usr/bin/dumpleases

	install -d -m 755 debian/tmp/etc/init.d
	install -m 755 debian/udhcpd debian/tmp/etc/init.d

	install -m 644 samples/udhcpd.conf debian/tmp/etc

	dpkg-shlibdeps udhcpd
	dpkg-gencontrol -isp -pudhcpd
	chown -R root.root debian/tmp
	chmod -R go=rX debian/tmp
	dpkg --build debian/tmp ..

	rm -fr debian/tmp

define checkdir
	test -f dhcpc.c -a -f debian/rules
endef

binary: binary-indep binary-arch

checkroot:
	$(checkdir)
	test root = "`whoami`"

.PHONY: binary binary-arch binary-indep clean checkroot
