Source: cifs-utils
Section: otherosfs
Priority: optional
Maintainer: Debian Samba Maintainers <pkg-samba-maint@lists.alioth.debian.org>
Uploaders: Steve Langasek <vorlon@debian.org>, Christian Perrier <bubulle@debian.org>, Noèl Köthe <noel@debian.org>, Jelmer Vernooij <jelmer@debian.org>
Build-Depends: debhelper (>= 9),
	dh-autoreconf,
	autotools-dev,
	libkeyutils-dev,
	libcap-ng-dev [linux-any],
	libkrb5-dev,
	libtalloc-dev (>= 1.2.0~git20080616),
	libwbclient-dev (>= 2:3.6.5-3)
Standards-Version: 3.9.6
Homepage: http://www.samba.org/~jlayton/cifs-utils/
Vcs-Git: https://anonscm.debian.org/git/pkg-samba/cifs-utils.git
Vcs-Browser: https://anonscm.debian.org/cgit/pkg-samba/cifs-utils.git

Package: cifs-utils
Architecture: any
Depends: samba-common, ${shlibs:Depends}, ${misc:Depends}
Replaces: smbfs (<< 2:4.0~rc1-1)
Suggests: keyutils, smbclient, winbind
Description: Common Internet File System utilities
 The SMB/CIFS protocol provides support for cross-platform file sharing with
 Microsoft Windows, OS X, and other Unix systems.
 .
 This package provides utilities for managing mounts of CIFS network
 file systems.
