#!/usr/bin/make -f
# Sample debian/rules that uses debhelper.
# GNU copyright 1997 to 1999 by Joey Hess.

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

# Include dpatch stuff
include /usr/share/dpatch/dpatch.make

PACKAGE="procps"

ifeq (,$(findstring nostrip,$(DEB_BUILD_OPTIONS)))
	INSTALL_PROGRAM += -s
endif


build: build-stamp

build-stamp: patch-stamp
	dh_testdir

	# Add here commands to compile the package.
	mkdir static
	$(MAKE) SHARED=0 proc/libproc.a
	mv proc/libproc.a static
	$(MAKE) clean
	$(MAKE) W_SHOWFROM=\-DW_SHOWFROM

	touch build-stamp

clean: clean1 unpatch
clean1:
	dh_testdir
	dh_testroot
	rm -f build-stamp 

	# Add here commands to clean up after the build process.
	-$(MAKE) clean
	-rm -rf static

	dh_clean

install: build
	dh_testdir
	dh_testroot
	dh_clean -k
	dh_installdirs

	# Add here commands to install the package into debian/procps.
	$(MAKE) ln_f="ln -sf" ldconfig=echo DESTDIR=$(CURDIR)/debian/procps install
	install --mode 644 -o root -g root debian/sysctl.conf $(CURDIR)/debian/procps/etc
	# Rename w as there are two of them
	(cd $(CURDIR)/debian/procps/usr/bin && mv w w.procps )
	(cd $(CURDIR)/debian/procps/usr/share/man/man1 && mv w.1 w.procps.1 )

	# Work-around until proc includes fixed
	(cp proc/*.h $(CURDIR)/debian/procps/usr/include/proc)
	cp static/libproc.a $(CURDIR)/debian/libproc-dev/usr/lib

	dh_movefiles --sourcedir=debian/procps
	rmdir $(CURDIR)/debian/procps/usr/include/proc

# Build architecture-independent files here.
binary-indep: build install
# We have nothing to do by default.

# Build architecture-dependent files here.
binary-arch: build install
	dh_testdir
	dh_testroot
#	dh_installdebconf	
	dh_installdocs
	dh_installexamples
	dh_installmenu
#	dh_installlogrotate
#	dh_installemacsen
#	dh_installpam
#	dh_installmime
	dh_installinit --update-rcd-params='start 30 S .' --init-script='procps.sh'
#	dh_installcron
	dh_installman
	dh_installinfo
#	dh_undocumented
	dh_installchangelogs NEWS
	dh_link
	dh_strip
	dh_compress
	dh_fixperms
	dh_makeshlibs -V "procps (>= 3.2.0), procps (<< 3.2.2)"
	dh_installdeb
#	dh_perl
	dh_shlibdeps -Lprocps -ldebian/procps/lib
	dh_gencontrol
	dh_md5sums
	dh_builddeb

binary: binary-indep binary-arch
.PHONY: build clean binary-indep binary-arch binary install patch unpatch clean1
