Package: samba-libs
Source: samba
Version: 2:4.8.0-12.netgear5
Architecture: amd64
Maintainer: Samba Debian Maintainers <pkg-samba-maint@lists.alioth.debian.org>
Installed-Size: 19380
Depends: libldb1 (<< 2:1.3.9~), libldb1 (>> 2:1.3.8~), libacl1 (>= 2.2.51-8), libaudit1 (>= 1:2.2.1), libavahi-client3 (>= 0.6.16), libavahi-common3 (>= 0.6.16), libbsd0 (>= 0.5.0), libc6 (>= 2.17), libcap2 (>= 1:2.10), libcomerr2 (>= 1.01), libcups2 (>= 1.6.0), libglib2.0-0 (>= 2.22.0), libgnutls-deb0-28 (>= 3.3.0), libgssapi-krb5-2 (>= 1.11+dfsg), libk5crypto3 (>= 1.8+dfsg), libkrb5-3 (>= 1.10+dfsg~alpha1), libldap-2.4-2 (>= 2.4.7), libpam0g (>= 0.99.7.1), libpopt0 (>= 1.14), libsystemd0, libtalloc2 (>= 2.1.0), libtdb1 (>= 1.3.11), libtevent0 (>= 0.9.31), libtracker-sparql-1.0-0 (>= 0.10.0), libwbclient0 (>= 2:4.5.0), zlib1g (>= 1:1.1.4)
Breaks: libdcerpc-server0 (<< 2:4.0.9), libdcerpc0 (<< 2:4.0.9), libgensec0 (<< 2:4.0.9), libndr-standard0 (<< 2:4.0.9), libndr0 (<< 2:4.0.9), libnetapi0 (<< 2:4.0.9), libregistry0 (<< 2:4.0.9), libsamba-credentials0 (<< 2:4.0.9), libsamba-hostconfig0 (<< 2:4.0.9), libsamba-policy0 (<< 2:4.0.9), libsamba-util0 (<< 2:4.0.9), libsamdb0 (<< 2:4.0.9), libsmbclient-raw0 (<< 2:4.0.9), libsmbd0 (<< 2:4.0.9), libtorture0 (<< 2:4.0.9)
Replaces: libdcerpc-server0 (<< 2:4.0.9), libdcerpc0 (<< 2:4.0.9), libgensec0 (<< 2:4.0.9), libndr-standard0 (<< 2:4.0.9), libndr0 (<< 2:4.0.9), libnetapi0 (<< 2:4.0.9), libregistry0 (<< 2:4.0.9), libsamba-credentials0 (<< 2:4.0.9), libsamba-hostconfig0 (<< 2:4.0.9), libsamba-policy0 (<< 2:4.0.9), libsamba-util0 (<< 2:4.0.9), libsamdb0 (<< 2:4.0.9), libsmbclient-raw0 (<< 2:4.0.9), libsmbd0 (<< 2:4.0.9), libtorture0 (<< 2:4.0.9)
Section: libs
Priority: optional
Multi-Arch: same
Homepage: http://www.samba.org/
Description: Samba core libraries
 Samba is an implementation of the SMB/CIFS protocol for Unix systems,
 providing support for cross-platform file sharing with Microsoft Windows, OS X,
 and other Unix systems.  Samba can also function as a domain controller
 or member server in both NT4-style and Active Directory domains.
 .
 This package contains the shared libraries.
