Source: libjpeg6b
Maintainer: Bill Allombert <ballombe@debian.org>
Section: graphics
Priority: optional
Build-Depends: debhelper (>= 5), autotools-dev
Standards-Version: 3.9.0

Package: libjpeg62
Architecture: any
Section: libs
Description: The Independent JPEG Group's JPEG runtime library (version 6.2)
 The Independent JPEG Group's JPEG library is a library for handling
 JPEG files.
 .
 This package contains the shared library for version 6.2.
Depends: ${shlibs:Depends}, ${misc:Depends}

Package: libjpeg62-dev
Architecture: any
Section: libdevel
Priority: extra
Description: Development files for the IJG JPEG library (version 6.2)
 The Independent JPEG Group's JPEG library is a library for handling
 JPEG files.
 .
 This package contains the static library, headers and documentation
 for version 6.2.
Provides: libjpeg-dev
Depends: libjpeg62 (=${binary:Version}), libc-dev, ${misc:Depends}

Package: libjpeg62-dbg
Architecture: any
Section: debug
Priority: extra
Description: Development files for the IJG JPEG library (version 6.2)
 The Independent JPEG Group's JPEG library is a library for handling
 JPEG files.
 .
 This package contains the debugging symbols for libjpeg for version 6.2.
Provides: libjpeg-dbg
Depends: libjpeg62 (=${binary:Version}), ${misc:Depends}
