Source: shellutils
Section: base
Priority: required
Maintainer: Michael Stone <mstone@debian.org>
Standards-Version: 3.5.2.0
Build-Depends: gettext (>= 0.10.37), debhelper, perl5-base, texinfo, groff

Package: shellutils
Architecture: any
Pre-Depends: ${shlibs:Depends}, login | hurd
Conflicts: login (<< 19990827-1)${arch:Conflicts}
Replaces: bsdutils (<= 3.0-2), util-linux (<< 2.9e-0.1)
Essential: yes
Description: The GNU shell programming utilities.
 The utilities: basename chroot date dirname echo env expr factor false groups
 hostid id logname nice nohup pathchk pinky printenv printf pwd seq sleep stty
 tee test true tty uname users who whoami yes.

