#!/usr/bin/make -f
# Sample debian/rules that uses debhelper. GNU copyright 1997 by Joey Hess.

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

package=shellutils
d=debian/tmp
b=builddir

CFLAGS = "-g -O2 -DSYSLOG_SUCCESS -DSYSLOG_FAILURE -DSYSLOG_NON_ROOT"
LDFLAGS =

DEB_BUILD_ARCH := $(shell dpkg --print-installation-architecture)
DEB_BUILD_GNU_CPU := $(patsubst hurd-%,%,$(DEB_BUILD_ARCH))
ifeq ($(filter-out hurd-%,$(DEB_BUILD_ARCH)),)
  DEB_BUILD_GNU_SYSTEM := gnu
else
  DEB_BUILD_GNU_SYSTEM := linux
endif
DEB_BUILD_GNU_TYPE=$(DEB_BUILD_GNU_CPU)-$(DEB_BUILD_GNU_SYSTEM)

DEB_HOST_GNU_SYSTEM=$(DEB_BUILD_GNU_SYSTEM)
DEB_HOST_GNU_TYPE=$(DEB_BUILD_GNU_TYPE)

BIN_PROGS = date echo false pwd sleep stty true uname

ifeq ($(DEB_HOST_GNU_SYSTEM), gnu)
  BIN_PROGS += su
  ARCH_CONFLICTS = , suidmanager (<< 0.50)
endif

build: build-stamp
build-stamp:
	dh_testdir src/date.c
	mkdir -p $(b)/man || true
	cd $(b) && CFLAGS=$(CFLAGS) LDFLAGS=$(LDFLAGS) \
		../configure --build=$(DEB_BUILD_GNU_TYPE) \
		--host=$(DEB_HOST_GNU_TYPE) --prefix=/usr 
	cp GNUmakefile $(b)
	cp man/GNUmakefile $(b)/man
	$(MAKE) -C $(b)
	touch build-stamp

clean:
	dh_testdir src/date.c
	rm -f build-stamp install-stamp
	rm -rf $(b)
	rm -f man/*.1
	rm -f doc/sh-utils.info
	rm -f po/*.gmo
	rm -f po/sh-utils.pot
	rm -f po/cat-id-tbl.c
	dh_clean

install: install-stamp
install-stamp: build-stamp
	dh_testdir src/date.c
	dh_testroot
	dh_clean -k
	dh_installdirs -p$(package) \
		bin usr/share/doc/$(package)
	$(MAKE) -C $(b) prefix=`pwd`/$(d)/usr install

	: # Remove stuff which is in other packages
	rm -f $(d)/usr/bin/hostname $(d)/usr/man/man1/hostname.1
	rm -f $(d)/usr/bin/uptime $(d)/usr/man/man1/uptime.1
ifneq ($(DEB_HOST_GNU_SYSTEM), gnu)
	rm -f $(d)/usr/bin/su $(d)/usr/man/man1/su.1
endif

	: # Move certain binaries to /bin according to FSSTND and posix
	for f in $(BIN_PROGS); do \
		mv $(d)/usr/bin/$$f $(d)/bin/$$f; \
	done

	: # A bit of fakery for sparc64 systems
	if [ x$(DEB_BUILD_ARCH) = xsparc ] ; then \
		install -m 644 debian/uname-sparc.1 \
		debian/tmp/usr/man/man1/uname.1; \
	fi

	: # Link for archaic shells
	ln -f $(d)/usr/bin/test $(d)/usr/bin/[
	ln -s test.1 $(d)/usr/man/man1/[.1

	: # GNU thinks chroot is in bin, Debian thinks chroot is in sbin
	install -d $(d)/usr/sbin $(d)/usr/man/man8
	mv $(d)/usr/bin/chroot $(d)/usr/sbin/.
	sed s/\"1\"/\"8\"/1 $(d)/usr/man/man1/chroot.1 > $(d)/usr/man/man8/chroot.8
	rm $(d)/usr/man/man1/chroot.1

	: # Two missing manpages
	cp debian/factor.1 debian/seq.1 $(d)/usr/man/man1/.

	: # Finally, move some stuff to /usr/share
	mv $(d)/usr/info $(d)/usr/share/info
	mv $(d)/usr/man $(d)/usr/share/man

	touch install-stamp

# Build architecture-independent files here.
binary-indep: build install
# We have nothing to do by default.

# Build architecture-dependent files here.
binary-arch: build install
	dh_testversion 1.1
	dh_testdir src/date.c
	echo 'arch:Conflicts=$(ARCH_CONFLICTS)' > debian/substvars
	dh_installdocs NEWS README THANKS TODO
	dh_installchangelogs ChangeLog
	dh_strip
	dh_compress
	dh_fixperms
ifeq ($(DEB_BUILD_GNU_SYSTEM),gnu)
	chmod u+s debian/tmp/bin/su
endif
	dh_installdeb
	dh_shlibdeps
	dh_gencontrol
	dh_md5sums
	dh_builddeb

source diff:                                                                  
	@echo >&2 'source and diff are obsolete - use dpkg-source -b'; false

binary: binary-indep binary-arch
.PHONY: build clean binary-indep binary-arch binary install

x:
	# Standard boilerplate
	dpkg-shlibdeps $(d)/usr/bin/nice
	dpkg-gencontrol
	chown -R root.root $(d)
	chmod -R g-ws $(d)
	dpkg --build $(d) ..
