#! /usr/bin/make -f

build: build-stamp
	
build-stamp:
	dh_testdir
	chmod g-s -R *
	$(MAKE)
	$(MAKE) man
	
	touch build-stamp

clean:
	dh_testdir
	dh_testroot
	rm -f build-stamp
	
	-$(MAKE) clean
	
	dh_clean

install: build
	dh_testdir
	dh_testroot
	dh_clean
	dh_installdirs
	# Install powerbtn.sh script and make it executable
	install -m 755 -D debian/powerbtn.sh debian/acpid/etc/acpi/powerbtn.sh

binary: binary-arch binary-indep

binary-indep:

binary-arch: build install
	dh_testdir
	dh_testroot
	dh_installchangelogs
	dh_installdocs
	dh_installlogrotate
	dh_installinit
	dh_install
	dh_installman
	dh_link
	dh_strip
	dh_compress
	dh_fixperms
	dh_installdeb
	dh_shlibdeps
	dh_gencontrol
	dh_md5sums
	dh_builddeb

.PHONY: build clean binary-indep binary-arch binary install
