Source: parson
Section: libs
Priority: optional
Maintainer: Justin Maggard <justin.maggard@netgear.com>
Standards-Version: 3.9.6
Build-Depends: debhelper (>= 9),
               dpkg-dev (>= 1.15.7),
               libtool,
               dh-exec

Package: libparson-dev
Section: libdevel
Architecture: linux-any
Multi-Arch: same
Depends: libparson0 (= ${binary:Version}), ${misc:Depends}
Description: lighweight json library - development files
 Parson is a lighweight json library written in C.
 .
 This package contains the development files.

Package: libparson0
Section: libs
Architecture: linux-any
Multi-Arch: same
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: lighweight json library
 Parson is a lighweight json library written in C.
