#!/usr/bin/make -f 

PACKAGE = tct
PACKAGE-ALT = timeout
SHELL = /bin/bash

tmp = debian/tmp
tmp-ALT = debian/timeout
sysconfdir = etc
docdir = usr/share/doc
mandir = usr/share/man
sbindir =usr/sbin
bindir = usr/bin


clean: checkroot
	test -f debian/control
	rm -rf $(tmp) $(tmp-ALT) debian/substvar debian/files build-stamp
	$(MAKE) tidy
	chmod 755 debian/rules


checkroot:
	test root = "`whoami`" || (echo Need root privelages; exit 1)

build: 
	$(MAKE)
	touch build-stamp

binary-indep: build
	$(checkroot)


binary-arch: checkroot build
	#
	# Build the main binary package.
	#
	
	install --mode=755 -d $(tmp)/DEBIAN
	install --mode=755 -d $(tmp)/$(sysconfdir)/tct
	install --mode=755 -d $(tmp)/usr/{bin,sbin}
	install --mode=755 -d $(tmp)/var/cache/$(PACKAGE)/data
	install --mode=755 -d $(tmp)/usr/share/$(PACKAGE)
	install --mode=755 -d $(tmp)/usr/share/man/{man1,man5}
	install --mode=755 -d $(tmp)/usr/share/doc/$(PACKAGE)/contrib
	
	#
	# Install documentation.
	#
	
	install --mode=644 Beware $(tmp)/$(docdir)/$(PACKAGE)
	install --mode=644 README.FIRST $(tmp)/$(docdir)/$(PACKAGE)
	install --mode=644 TODO*	$(tmp)/$(docdir)/$(PACKAGE)
	install --mode=644 bibliography $(tmp)/$(docdir)/$(PACKAGE)
	install --mode=644 help*	$(tmp)/$(docdir)/$(PACKAGE)
	install --mode=644 CHANGES 	$(tmp)/$(docdir)/$(PACKAGE)/changelog
	install --mode=644 debian/changelog \
		$(tmp)/$(docdir)/$(PACKAGE)/changelog.Debian
	install --mode=644 debian/copyright \
		$(tmp)/$(docdir)/$(PACKAGE)
	install --mode=644 docs/*	$(tmp)/$(docdir)/$(PACKAGE)
	install --mode=644 debian/contrib/md5_image_maker \
		$(tmp)/$(docdir)/$(PACKAGE)/contrib
	install --mode=644 man/man1/{ils.1,mactime.1,unrm.1} \
		$(tmp)/$(mandir)/man1
	install --mode=644 man/man1/icat.1 \
		$(tmp)/$(mandir)/man1/inode-cat.1
	install --mode=644 man/man1/{grave-robber.1,lazarus.1,pcat.1} \
		$(tmp)/$(mandir)/man1
	install --mode=644 man/man1/major_minor.1 \
		$(tmp)/$(mandir)/man1
	install --mode=644 man/man5/tm-format.5 \
		$(tmp)/$(mandir)/man5
	install --mode=644 debian/ils2mac.1 \
		$(tmp)/$(mandir)/man1
	
	#
	# Install binaries.
	#
	
	install --mode=755 lazarus/lazarus \
		$(tmp)/$(bindir)
	install -p --mode=755 bin/{grave-robber,mactime} \
		$(tmp)/$(bindir)
	install -p -s --mode=755 bin/{unrm,pcat,ils,major_minor} \
		$(tmp)/$(bindir)
	install -p -s --mode=755 bin/icat \
		$(tmp)/$(bindir)/inode-cat
	install --mode=755 extras/ils2mac $(tmp)/$(bindir)
	
	#
	# Install package related files.
	#
	
	install --mode=644 debian/conffiles \
	    $(tmp)/DEBIAN
	install --mode=755 debian/{postinst,prerm,postrm} \
		$(tmp)/DEBIAN
	
	#
	# Install configuration files and additional perl stuff.
	#
	
	install --mode=644 "conf/save_these_files" \
		$(tmp)/$(sysconfdir)/$(PACKAGE)
	install --mode=644 "conf/look@first" \
	    $(tmp)/$(sysconfdir)/$(PACKAGE)/
	install --mode=644 conf/lazarus.cf \
	    $(tmp)/$(sysconfdir)/$(PACKAGE)/lazarus.conf
	install --mode=644 conf/coroner.cf \
	    $(tmp)/$(sysconfdir)/$(PACKAGE)/coroner.conf
	install --mode=644 conf/grave-robber.cf \
	    $(tmp)/$(sysconfdir)/$(PACKAGE)/grave-robber.conf
	install --mode=644 conf/paths.pl    \
	    $(tmp)/$(sysconfdir)/$(PACKAGE)
	install --mode=644 lib/* \
	    $(tmp)/usr/share/$(PACKAGE)
	    
	#
	# Compress documenation.
	#
	
	gzip -9f $(tmp)/$(mandir)/{man1,man5}/*
	gzip -9f $(tmp)/$(docdir)/$(PACKAGE)/changelog*
	
	#
	# Build the binary package.
	#
	
	dpkg-shlibdeps $(tmp)/$(bindir)/*
	dpkg-gencontrol -ips -p$(PACKAGE) -P$(tmp)
	dpkg --build $(tmp) ..
	
	#
	# Build the timeout package
	#
	
	install --mode=755 -d $(tmp-ALT)/DEBIAN
	install --mode=755 -d $(tmp-ALT)/usr/bin
	install --mode=755 -d $(tmp-ALT)/usr/share/doc/$(PACKAGE-ALT)
	install --mode=755 -d $(tmp-ALT)/usr/share/man/man1
	
	#
	# Install documentation
	#
	
	install --mode=644 debian/copyright.timeout \
		$(tmp-ALT)/usr/share/doc/$(PACKAGE-ALT)/copyright
	install --mode=644 debian/changelog \
		$(tmp-ALT)/usr/share/doc/$(PACKAGE-ALT)/changelog.Debian
	install --mode=644 man/man1/timeout.1 \
		$(tmp-ALT)/usr/share/man/man1
		
	#
	# Compress stuff.
	#
	
	gzip -9f $(tmp-ALT)/usr/share/man/man1/*
	gzip -9f $(tmp-ALT)/usr/share/doc/$(PACKAGE-ALT)/changelog*
	
	
	#
	# Install binary
	#
	
	install --mode=755 -p -s bin/timeout \
		$(tmp-ALT)/usr/bin
	
	#
	# Install package related scripts.
	#
	
	install --mode=755 debian/postinst.timeout \
		$(tmp-ALT)/DEBIAN/postinst
	install --mode=755 debian/prerm.timeout \
		$(tmp-ALT)/DEBIAN/prerm
	
	#
	# Create the package
	#
	
	dpkg-shlibdeps $(tmp-ALT)/usr/bin/*
	dpkg-gencontrol -ips -p$(PACKAGE-ALT) -P$(tmp-ALT)
	dpkg --build $(tmp-ALT) ..
	
	

source diff:
	@echo >&2 'Source and diff are obsolete - use dpkg-soruce -b'; false

binary: binary-indep binary-arch


	
