Source: gphoto2
Section: utils
Priority: optional
Maintainer: Debian PhotoTools Maintainers <pkg-phototools-devel@lists.alioth.debian.org>
Uploaders: Herbert Parentes Fortes Neto <hpfn@debian.org>
Build-Depends:
 debhelper (>= 9),
 libexif-dev (>= 0.5.9),
 libgphoto2-dev (>= 2.5.6),
 libgpmg1-dev [linux-any],
 libjpeg-dev,
 libncurses5-dev,
 libpopt-dev,
 libreadline-dev,
 libtool,
 pkg-config,
 zlib1g-dev,
Build-Conflicts: liblockdev1-dev
Standards-Version: 3.9.6
Homepage: https://github.com/gphoto/gphoto2
Vcs-Git: https://salsa.debian.org/debian-phototools-team/gphoto2.git
Vcs-Browser: https://salsa.debian.org/debian-phototools-team/gphoto2

Package: gphoto2
Architecture: any
Depends: ${misc:Depends}, ${shlibs:Depends}
Suggests: gthumb
Description: digital camera command-line client
 The gphoto2 library can be used by applications to access various
 digital camera models, via standard protocols such as USB Mass Storage
 and PTP, or vendor-specific protocols.
 .
 This package provides the gphoto2 command-line frontend.
