Source: smartmontools
Section: utils
Priority: optional
Maintainer: Justin Maggard <justin.maggard@netgear.com>
Build-Depends: debhelper (>= 9)
Standards-Version: 3.9.3
Homepage: http://smartmontools.sourceforge.net/

Package: smartmontools
Architecture: any
Conflicts: smartsuite, ucsc-smartsuite
Depends: ${misc:Depends}, ${shlibs:Depends}
Description: control and monitor storage systems using S.M.A.R.T.
 The smartmontools package contains two utility programs (smartctl and smartd)
 to control and monitor storage systems using the Self-Monitoring, Analysis and
 Reporting Technology System (S.M.A.R.T.) built into most modern ATA and SCSI
 hard disks. It is derived from the smartsuite package, and includes support
 for ATA/ATAPI-5 disks. It should run on any modern Linux system.
