Source: libapache2-mod-csrf
Section: web
Priority: optional
Maintainer: Shiu Beng Kooi <shiu.kooi@netgear.com>
Build-Depends: debhelper (>= 9), apache2-threaded-dev (>= 2.2.0) | apache2-prefork-dev (>= 2.2.0), libapr1-dev
Standards-Version: 3.9.6

Package: libapache2-mod-csrf
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, apache2.2-common, libapr1
Description: adds CSRF protection measures for Apache
 mod_csrf implements protection measurements against CSRF attacks. It can be
 installed on your Apache Web server to help to protect your users from such
 an attack.
 .
 This Package includes the mod-csrf Module for Apache Version 2.2
