#!/usr/bin/make -f
# This file has gone through many maintainers.  Mostly rewritten
# by Daniel Jacobowitz.

# This is the debhelper compatability version to use.
export DH_COMPAT=3

# This has to be exported to make some magic below work.
export DH_OPTIONS

# These are important since this is a library package
soname=5
vername=5.2
sodepver = (>= 5.2.20020112a-1)

# Name our packages
package-base=ncurses-base
package-bin=ncurses-bin
package-lib=libncurses$(soname)
package-libw=libncursesw$(soname)
package-dev=libncurses$(soname)-dev
package-devw=libncursesw$(soname)-dev
package-dbg=libncurses$(soname)-dbg
package-dbgw=libncursesw$(soname)-dbg
package-term=ncurses-term

workdir=$(shell pwd)
tempdir=debian/tmp
fulltempdir=$(workdir)/$(tempdir)

srcdir=$(shell pwd)
objdir=$(srcdir)/obj
wobjdir=$(srcdir)/obj-wide

CFLAGS = -O2 -g
CONFARGS =	--prefix=/usr \
		--with-shared \
		--mandir='$${datadir}/man' \
		--without-profile --without-debug \
		--disable-rpath --enable-echo \
		--enable-const \
		--without-ada \
		--disable-termcap --with-terminfo-dirs="/etc/terminfo:/usr/share/terminfo"

# Directories and files for /etc/terminfo
etcterminfodirs=a d l m p r s v x
etcterminfofiles=a/ansi d/dumb l/linux m/mach m/mach-bold m/mach-color \
	p/pcansi r/rxvt r/rxvt-m r/rxvt-basic r/rxvt-basic s/screen \
	s/screen-bce s/screen-w s/sun v/vt100 v/vt102 \
	v/vt220 v/vt52 x/xterm x/xterm-debian x/xterm-xfree86 x/xterm-color \
	x/xterm-mono x/xterm-r5 x/xterm-r6 x/xterm-vt220

$(objdir)/config.status: configure
	test -d $(objdir) || mkdir $(objdir)
	cd $(objdir) && CFLAGS="$(CFLAGS)" $(srcdir)/configure \
		$(CONFARGS) \
		--with-install-prefix=$(fulltempdir) \
		--enable-overwrite

$(wobjdir)/config.status: configure
	test -d $(wobjdir) || mkdir $(wobjdir)
	cd $(wobjdir) && CFLAGS="$(CFLAGS)" $(srcdir)/configure \
		$(CONFARGS) \
		--with-install-prefix=$(fulltempdir) \
		--disable-overwrite --enable-widec

build: build-normal build-wide

build-normal: $(objdir)/config.status
	# For ia64...
	cd $(objdir)/c++ \
	  && cat Makefile | sed 's, -c ../c++/demo.cc, -O0 -c ../c++/demo.cc,' > Makefile.tem \
	  && mv -f Makefile.tem Makefile
	cd $(objdir) && $(MAKE)
	touch $@

build-wide: $(wobjdir)/config.status
	# For ia64...
	cd $(wobjdir)/c++ \
	  && cat Makefile | sed 's, -c ../c++/demo.cc, -O0 -c ../c++/demo.cc,' > Makefile.tem \
	  && mv -f Makefile.tem Makefile
	cd $(wobjdir) && $(MAKE)
	touch $@

clean:
	dh_testdir
	dh_testroot
	rm -f build install
	rm -rf $(objdir)
	rm -rf $(wobjdir)
	rm -f debian/shlibs.local
	dh_clean

install: DH_OPTIONS=
install: build
	# Generate proper debhelper files for so-named packages
	dh_testdir
	dh_testroot
	dh_clean -k
	dh_installdirs

	# Install into our base directory 
	GZIP='-9' $(MAKE) -C $(objdir) install
	$(MAKE) -C $(wobjdir) install.libs

	# Compile this before moving files into their packages.
	LD_LIBRARY_PATH=$${LD_LIBRARY_PATH}:$(fulltempdir)/usr/lib:$(fulltempdir)/lib \
		TERMINFO=$(fulltempdir)/usr/share/terminfo \
		$(tempdir)/usr/bin/tic debian/xterm.ti

	# Copy libraries to the debug directory
	test -d $(tempdir)/usr/lib/debug || mkdir $(tempdir)/usr/lib/debug
	cp -a $(tempdir)/usr/lib/*.so.* $(tempdir)/usr/lib/debug

	# We keep the libncurses shared library in /lib.
	test -d $(tempdir)/lib || mkdir $(tempdir)/lib
	mv $(tempdir)/usr/lib/libncurses.so.$(vername) $(tempdir)/lib/
	mv $(tempdir)/usr/lib/libncurses.so.$(soname) $(tempdir)/lib/

	dh_movefiles

	# We keep the libncurses shared library in /lib.
	ln -sf /lib/libncurses.so.$(soname) debian/$(package-dev)/usr/lib/libncurses.so

	# By tradition, we provide -lcurses and -ltermcap.
	ln -sf libncurses.so debian/$(package-dev)/usr/lib/libcurses.so
	ln -sf libncurses.so debian/$(package-dev)/usr/lib/libtermcap.so
	ln -sf libncurses.a debian/$(package-dev)/usr/lib/libtermcap.a
	ln -sf libncurses.a debian/$(package-dev)/usr/lib/libcurses.a

# Generate new terminfo entries for ncurses-base, move to /etc
	mv debian/$(package-base)/usr/share/terminfo debian/$(package-base)/etc
	for ti in rxvt screen; do \
	LD_LIBRARY_PATH=$${LD_LIBRARY_PATH}:debian/$(package-lib)/usr/lib:debian/$(package-lib)/lib \
		TERMINFO=$(workdir)/debian/$(package-base)/etc/terminfo \
		debian/$(package-bin)/usr/bin/tic debian/$$ti.ti; done

	# Break hard link.
	cp $(workdir)/debian/$(package-base)/etc/terminfo/r/rxvt-m \
	   $(workdir)/debian/$(package-base)/etc/terminfo/r/rxvt-foo
	rm -f $(workdir)/debian/$(package-base)/etc/terminfo/r/rxvt-m
	mv $(workdir)/debian/$(package-base)/etc/terminfo/r/rxvt-foo \
	   $(workdir)/debian/$(package-base)/etc/terminfo/r/rxvt-m

	mkdir debian/$(package-base)/usr/share/terminfo
	for f in $(etcterminfodirs); do \
		mkdir debian/$(package-base)/usr/share/terminfo/$$f; \
	done
	for f in $(etcterminfofiles); do \
		ln -sf /etc/terminfo/$$f debian/$(package-base)/usr/share/terminfo/$$f; \
	done
# Move files for ncurses-term
	mv debian/$(package-term)/usr/share/terminfo/r/rxvt \
		debian/$(package-term)/usr/share/terminfo/r/rxvt-orig
	mv debian/$(package-term)/usr/share/terminfo/r/rxvt-basic \
		debian/$(package-term)/usr/share/terminfo/r/rxvt-basic-orig

	touch $@

binary:	binary-arch binary-indep

binary-arch: build install
	dh_testdir
	dh_testroot
	dh_installdocs -a -N$(package-bin) \
		-N$(package-dbg) -N$(package-dbgw) \
		debian/FAQ
	dh_installchangelogs -a -N$(package-bin) \
		-N$(package-dbg) -N$(package-dbgw) \
		NEWS

	mkdir -p debian/$(package-bin)/usr/share/doc
	mkdir -p debian/$(package-dbg)/usr/share/doc
	mkdir -p debian/$(package-dbgw)/usr/share/doc
	ln -s $(package-lib) \
		debian/$(package-bin)/usr/share/doc/$(package-bin)
	ln -s $(package-dev) \
		debian/$(package-dbg)/usr/share/doc/$(package-dbg)
	ln -s $(package-devw) \
		debian/$(package-dbgw)/usr/share/doc/$(package-dbgw)

	dh_strip -a -X$(package-dbg) -X$(package-dbgw)
	dh_compress -a
	dh_fixperms -a
	dh_makeshlibs -p$(package-lib) -V "$(package-lib) $(sodepver)"
	dh_makeshlibs -p$(package-libw) -V "$(package-libw) $(sodepver)"
	dh_shlibdeps -p$(package-lib) -p$(package-libw) \
		-ldebian/$(package-lib)/lib:debian/$(package-lib)/usr/lib:debian/$(package-libw)/usr/lib \
		-- -L$(shell pwd)/debian/shlibs.dummy
	cat debian/*/DEBIAN/shlibs > debian/shlibs.local
	dh_shlibdeps -a -N$(package-lib) -N$(package-libw) \
		-ldebian/$(package-lib)/lib:debian/$(package-lib)/usr/lib:debian/$(package-libw)/usr/lib
	dh_gencontrol -a
	dh_installdeb -a
	dh_builddeb -a

binary-indep: DH_OPTIONS=-i
binary-indep: build install
	dh_testdir
	dh_testroot

	# Do not install documentation, just symlinks.
	#	dh_installdocs
	#	dh_installchangelogs NEWS
	mkdir -p debian/$(package-base)/usr/share/doc
	mkdir -p debian/$(package-term)/usr/share/doc
	ln -s $(package-lib) \
		debian/$(package-base)/usr/share/doc/$(package-base)
	ln -s $(package-lib) \
		debian/$(package-term)/usr/share/doc/$(package-term)

	dh_strip
	dh_compress
	dh_fixperms
	dh_gencontrol
	dh_installdeb
	dh_builddeb

# Below here is fairly generic really

checkroot:
	test root = "`whoami`"

.PHONY: binary diff clean checkroot

