Source: libapache2-mod-authz-unixgroup
Section: web
Priority: optional
Maintainer: Hai Zaar <haizaar@haizaar.com>
Build-Depends: debhelper (>= 7), dh-apache2, apache2-dev (>= 2.2.0)
Standards-Version: 3.8.2
Homepage: http://www.unixpapa.com/mod_authz_unixgroup

Package: libapache2-mod-authz-unixgroup
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: access control based on on unix group membership for Apache
 Mod_Authz_Unixgroup is a unix group access control module for Apache 2.1 and
 later. If you are having users authenticate with real Unix login ID over the
 net, using something like my mod_authnz_external / pwauth combination, and
 you want to do access control based on unix group membership, then
 mod_authz_unixgroup is exactly what you need. 
 .
 This Package includes the mod-authn-unixgroup Module for Apache Version 2.4
