Source: noflushd
Section: utils
Priority: optional
Maintainer: Daniel Kobras <kobras@debian.org>
Build-Depends: debhelper (>= 4.1.16), po-debconf
Standards-Version: 3.6.1

Package: noflushd
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Suggests: kernel-patch-scsi-idle
Description: allow idle hard disks to spin down
 Noflushd is a daemon that spins down disks that have not been read from
 after a certain amount of time, and then prevents disk writes from
 spinning them back up. It's targeted for laptops but can be used on any
 computer with IDE disks. The effect is that the hard disk actually spins 
 down, saving you battery power, and shutting off the loudest component of 
 most computers.
