Source: gzip
Section: base
Priority: required
Maintainer: Bdale Garbee <bdale@gag.com>
Build-Depends: debhelper, automake, autoconf (>= 2.52)
Standards-Version: 3.5.6.0

Package: gzip
Architecture: any
Pre-Depends: ${shlibs:Depends}
Depends: debianutils (>= 1.6)
Essential: yes
Description: The GNU compression utility.
 This is the standard GNU file compression utility, which is also the default
 compression tool for Debian.  It typically operates on files with names 
 ending in '.gz'.
 .
 This package can also decompress '.Z' files created with 'compress'.

