#!/usr/bin/make -f
#-*- makefile -*-

#export DH_VERBOSE=1

DESTDIR=`pwd`/debian/tmp

DDEBUG=`if (echo $(DEB_BUILD_OPTIONS) | grep -q debug) then \
		echo "--enable-debug"; \
	else \
		echo ""; \
	fi`

CFLAGS += -O2 -fno-strict-aliasing -fomit-frame-pointer \
	-DSQLITE_ENABLE_COLUMN_METADATA -DSQLITE_ENABLE_FTS3

DEB_HOST_ARCH   ?= $(shell dpkg-architecture -qDEB_HOST_ARCH)
ifeq (${DEB_HOST_ARCH},sparc)
CFLAGS += -mcpu=v8 -mtune=v8
endif

configure: configure-stamp
configure-stamp:
	dh_testdir
	autoconf
	CFLAGS="$(CFLAGS)" ./configure --prefix=/usr --mandir="/usr/share/man" \
	  --disable-tcl --enable-threadsafe --enable-tempstore=yes
	  $(DDEBUG)

	touch $@

build: build-stamp
build-stamp: configure
	dh_testdir
	$(MAKE)

	touch $@

clean:
	dh_testdir
	dh_testroot

	rm -f configure-stamp build-stamp
	rm -f config.h pkgIndex.tcl
	[ ! -f Makefile ] || $(MAKE) distclean
	dh_clean

install: build
	dh_testdir
	dh_testroot

	$(MAKE) install DESTDIR=$(DESTDIR)
	chrpath -d $(DESTDIR)/usr/bin/sqlite3
	install -d $(DESTDIR)/usr/lib/sqlite3
	install -d $(DESTDIR)/usr/share/lemon
	install -m 0664 tool/lempar.c $(DESTDIR)/usr/share/lemon/
	install -m 0775 lemon $(DESTDIR)/usr/bin

	# Remove *.la files per policy 3.9.1.0
#	find $(DESTDIR) -name \*.la | xargs rm -f

binary-indep: build install

binary-arch: build install
	dh_testdir
	dh_testroot

	dh_install --sourcedir=$(DESTDIR)
	dh_installman
	dh_installdocs
	dh_installchangelogs www/changes.html
	dh_strip --dbg-package=libsqlite3-0-dbg
	dh_compress
	dh_fixperms
	dh_makeshlibs
	dh_installdeb
	dh_shlibdeps
	dh_gencontrol
	dh_md5sums
	dh_builddeb

binary: binary-indep binary-arch
.PHONY: build clean configure binary-indep binary-arch binary
