#!/usr/bin/make -f

override_dh_auto_configure:
	cp -f /usr/share/misc/config.guess .
	cp -f /usr/share/misc/config.sub .
	dh_auto_configure

override_dh_clean:
	dh_clean
	rm -f config.guess config.sub

# Upstream sources contains a directory named 'binary'
# which breaks the build, the following rule fix it
binary: binary-arch binary-indep

%:
	dh --with quilt $@
