Source: ipchains
Section: base
Priority: important
Maintainer: Lenart Janos <ocsi@debian.org>
Standards-Version: 3.5.2.0
Build-Depends: debhelper (>> 3.0.0), lynx

Package: ipchains
Architecture: any
Depends: ${shlibs:Depends}, debconf
Replaces: netbase (<< 4.00)
Suggests: doc-linux-html | doc-linux-text
Description: Network firewalling for Linux 2.2.x
 This package allows you to control how programs on your system may access
 the network, and how programs on other systems may access yours via the
 network.
 .
 This package fully replaces ipfwadm by wrapping it for old fashioned
 users and for old scripts.
 .
 Firewalling HOWTO can be found in doc-linux-* package.
 .
 Linux ipchains is a rewrite of the Linux IPv4 firewalling code (which
 was mainly stolen from BSD) and a rewrite of ipfwadm, which was a
 rewrite of BSD's ipfw, I believe.  It is required to administer the IP
 packet filters in Linux kernel versions 2.1.102 and above.
