Package: python-samba
Source: samba
Version: 2:4.8.0-12.netgear5
Architecture: amd64
Maintainer: Samba Debian Maintainers <pkg-samba-maint@lists.alioth.debian.org>
Installed-Size: 15699
Depends: python-ldb (>= 1.1.2~), python-tdb, python (>= 2.7), python (<< 2.8), libbsd0 (>= 0.0), libc6 (>= 2.14), libkrb5-3 (>= 1.10+dfsg~alpha1), libldb1 (>= 0.9.21), libpython2.7 (>= 2.7), libtalloc2 (>= 2.0.4~git20101213), libtevent0 (>= 0.9.16), python-talloc (>= 2.1.9), samba-libs
Provides: python2.7-samba
Section: python
Priority: optional
Homepage: http://www.samba.org/
Description: Python bindings for Samba
 Samba is an implementation of the SMB/CIFS protocol for Unix systems,
 providing support for cross-platform file sharing with Microsoft Windows, OS X,
 and other Unix systems.  Samba can also function as a domain controller
 or member server in both NT4-style and Active Directory domains.
 .
 These packages contain snapshot versions of Samba 4, the next-generation
 version of Samba.
 .
 This package contains Python bindings for most Samba 4 libraries.
