Source: libapache2-mod-perl2
Section: perl
Priority: optional
Maintainer: Debian Perl Group <pkg-perl-maintainers@lists.alioth.debian.org>
Uploaders: Gunnar Wolf <gwolf@debian.org>, Damyan Ivanov <dmn@debian.org>
Standards-Version: 3.7.2.2
XS-Vcs-Svn: svn://svn.debian.org/pkg-perl/trunk/libapache2-mod-perl2/
XS-Vcs-Browser: http://svn.debian.org/wsvn/pkg-perl/trunk/libapache2-mod-perl2/
Build-Depends: perl (>= 5.8.7-3), libperl-dev (>= 5.8.7-3),
 apache2-threaded-dev (>= 2.2.3-1) | apache2-prefork-dev (>= 2.2.3-1),
 debhelper (>> 4.1.0), libhtml-parser-perl,
 libgdbm-dev, libgtop2-dev, quilt, apache2, libcompress-zlib-perl,
 libbsd-resource-perl, locales-all, netbase 
Build-Conflicts: libapache2-mod-perl2 (<= 1.999.22-1)

Package: libapache2-mod-perl2
Architecture: any
Depends: apache2.2-common, ${perl:Depends}, libmime-base64-perl,
 ${shlibs:Depends}, netbase
Recommends: libbsd-resource-perl
Description: Integration of perl with the Apache2 web server
 mod_perl allows the use of Perl for just about anything
 Apache-related, including <Perl> sections in the config
 files and the famous Apache::Registry module for caching
 compiled scripts.
 .
 It can produce anywhere from a 400% to 2000% speed increase
 on sites using perl scripts, and is used on many large script-
 based web sites - for example, http://slashdot.org.
 
Package: libapache2-mod-perl2-dev
Architecture: all
Section: libdevel
Depends: libapache2-mod-perl2
Description: Integration of perl with the Apache2 web server - development files
 mod_perl allows the use of Perl for just about anything
 Apache-related, including <Perl> sections in the config
 files and the famous Apache::Registry module for caching
 compiled scripts.
 .
 This package contains the header files required for building
 C-based modules integrating with mod_perl.

Package: libapache2-mod-perl2-doc
Architecture: all
Section: doc
Description: Integration of perl with the Apache2 web server - documentation
 mod_perl allows the use of Perl for just about anything
 Apache-related, including <Perl> sections in the config
 files and the famous Apache::Registry module for caching
 compiled scripts.
 .
 This package contains additional documentation for mod_perl.
