#!/usr/bin/make -f

APIVER := 1.0
MODVER := 1.6.0
LIBDIR := usr/lib/$(DEB_HOST_MULTIARCH)
MODULES_PATH := $(LIBDIR)/pango/$(MODVER)/modules
# relative directory to store the generated Pango Module File
MODULE_FILES_D := $(LIBDIR)/pango/$(MODVER)/module-files.d
# Pango Module API version virtual Provide
PANGO_MODVER_DEP := pango$(APIVER)-multiarch-modver-$(MODVER)

debian/dh_pangomodules: debian/dh_pangomodules.in
	dh_testdir
	sed \
		-e 's#@PANGO_MODVER_DEP@#$(PANGO_MODVER_DEP)#g' \
                -e 's#@MODULES_PATH@#$(MODULES_PATH)#g' \
                -e 's#@MODULE_FILES_D@#$(MODULE_FILES_D)#g' \
                debian/dh_pangomodules.in >debian/dh_pangomodules

%:
	dh $@

override_dh_auto_configure: debian/dh_pangomodules
	dh_auto_configure -- $(CONFFLAGS) \
		--with-html-dir=\${prefix}/share/doc/libpango1.0-doc \
		--enable-static --enable-shared \
		--without-x
