Source: noflushd
Section: utils
Priority: optional
Maintainer: Justin Maggard <justin.maggard@netgear.com>
Build-Depends: debhelper (>= 9), po-debconf
Standards-Version: 3.9.4

Package: noflushd
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: allow idle hard disks to spin down
 Noflushd is a daemon that spins down disks that have not been read from
 after a certain amount of time, and then prevents disk writes from
 spinning them back up. It's targeted for laptops but can be used on any
 computer with IDE or SATA disks. The effect is that the hard disk actually
 spins down, saving you battery power, and shutting off the loudest
 component of most computers.
