Source: rrd-tool
Section: utils
Priority: optional
Maintainer: Justin Maggard <justin.maggard@netgear.com>
Build-Depends: debhelper (>= 9),
               libglib2.0-dev,
               libpng12-dev,
               libpango1.0-dev,
               libthai-dev
Standards-Version: 3.9.4

Package: rrd-tool
Architecture: any
Depends: ${misc:Depends},
         ${shlibs:Depends}
Description: minimal time-series data storage and display system
 The Round Robin Database Tool (RRDtool) is a system to store and display
 time-series data (e.g. network bandwidth, machine-room temperature,
 server load average). It stores the data in Round Robin Databases (RRDs),
 a very compact way that will not expand over time. RRDtool processes the
 extracted data to enforce a certain data density, allowing for useful
 graphical representation of data values.
 .
 This package contains a minimal command-line program used by ReadyNAS to
 generate graphs.
