#!/usr/bin/make -f
# Sample debian/rules that uses debhelper.
# GNU copyright 1997 to 1999 by Joey Hess.

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

# This is the debhelper compatability version to use.
export DH_COMPAT=3

DEBFIX=sed -e 's:sysconfig/usb:default/hotplug.usb:'

build: build-stamp
build-stamp:
	dh_testdir

	# Add here commands to compile the package.
	#$(MAKE)
	#(cd fxload && $(MAKE) CFLAGS='-O2 -g -Wall')
	touch build-stamp

clean:
	dh_testdir
	dh_testroot
	rm -f build-stamp

	# Add here commands to clean up after the build process.
	#-$(MAKE) clean
	#(cd fxload && $(MAKE) clean)

	dh_clean

install: build
	dh_testdir
	dh_testroot
	dh_clean -k
	dh_installdirs

	# Add here commands to install the package into debian/hotplug.
	#$(MAKE) install DESTDIR=`pwd`/debian/hotplug
	#install --mode=755 fxload/fxload debian/hotplug/sbin/fxload
	install --mode=755 sbin/hotplug debian/hotplug/sbin/hotplug
	install --mode=644 etc/hotplug/usb.*map debian/hotplug/etc/hotplug
	# usb.usermap is not used?
	rm -f debian/hotplug/etc/hotplug/usb.usermap
	# hotplug.functions is not executable shell script...
	(echo '#'; cat etc/hotplug/hotplug.functions) \
	  > debian/hotplug/etc/hotplug/hotplug.functions
	for agent in etc/hotplug/*.agent etc/hotplug/usb.rc; \
	do \
	    ${DEBFIX} $$agent > debian/hotplug/$$agent && \
	    chmod 755 debian/hotplug/$$agent; \
	done
	install --mode=644 etc/hotplug/blacklist debian/hotplug/etc/hotplug
	install --mode=644 debian/logcheck-ignore debian/hotplug//etc/logcheck/ignore.d.workstation/hotplug
	dh_movefiles --sourcedir=debian/hotplug

# Build architecture-independent files here.
binary-indep: build install
#	dh_testversion
	dh_testdir
	dh_testroot
	dh_installdebconf -i
	dh_installdocs -i
	${DEBFIX} README > debian/hotplug/usr/share/doc/hotplug/README
#	dh_installexamples -i
#	dh_installmenu -i
#	dh_installemacsen -i
#	dh_installpam -i
	dh_installinit -i --no-restart-on-upgrade \
		-- start 11 1 2 3 4 5 . start 36 S . stop 89 0 6 .
#	dh_installcron -i
	dh_installman -i hotplug.8
#	dh_installinfo -i
	dh_installchangelogs -i ChangeLog
	dh_link -i
#	dh_strip -i
	dh_compress -i
	dh_fixperms -i
	# You may want to make some executables suid here.
	chmod 700 debian/hotplug/var/run/usb
#	dh_suidregister -i
#	dh_makeshlibs -i
	dh_installdeb -i
#	dh_perl -i
#	dh_shlibdeps -i
	dh_gencontrol -i
	dh_md5sums -i
	dh_builddeb -i

# Build architecture-dependent files here.
binary-arch: build install
##	dh_testversion
#	dh_testdir
#	dh_testroot
##	dh_installdebconf -a
#	dh_installdocs -a
##	install --mode=644 fxload/README.txt debian/hotplug-utils/usr/share/doc/hotplug-utils/README
##	dh_installexamples -a
##	dh_installmenu -a
##	dh_installemacsen -a
##	dh_installpam -a
##	dh_installinit -a
##	dh_installcron -a
##	dh_installman -a fxload/fxload.8
##	dh_installinfo -a
#	dh_installchangelogs -a ChangeLog
#	dh_link -a
#	dh_strip -a
#	dh_compress -a
#	dh_fixperms -a
#	# You may want to make some executables suid here.
##	dh_suidregister -a
##	dh_makeshlibs -a
#	dh_installdeb -a
##	dh_perl -a
#	dh_shlibdeps -a
#	dh_gencontrol -a
#	dh_md5sums -a
#	dh_builddeb -a

binary: binary-indep binary-arch
.PHONY: build clean binary-indep binary-arch binary install
