Source: fileutils
Section: base
Priority: required
Maintainer: Michael Stone <mstone@debian.org>
Standards-Version: 3.5.2.0
Build-Depends: gettext, debhelper, perl-base|perl5-base, texinfo, groff

Package: fileutils
Architecture: any
Pre-Depends: ${shlibs:Depends}
Replaces: color-ls, util-linux (<= 2.7.1-1)
Conflicts: color-ls
Essential: yes
Description: GNU file management utilities
 This package contains the essential system utilities to manipulate
 files on your system.  Included in this package are commands to
 change the permissions on files, list the files in a directory,
 create new directories, and list free disk space, among other things.
 .
 The specific utilities included are: chgrp chmod chown cp dd df dir
 dircolors du install ln ls mkdir mkfifo mknod mv rm rmdir shred touch
 vdir sync.

