Source: tcp-wrappers
Section: base
Priority: standard
Maintainer: Anthony Towns <ajt@debian.org>
Build-Depends: debhelper
Standards-Version: 3.5.4

Package: libwrap0
Architecture: any
Depends: ${shlibs:Depends}
Recommends: tcpd
Conflicts: netbase (<< 3.16-1)
Description: Wietse Venema's TCP wrappers library
 Wietse Venema's network logger, also known as TCPD or LOG_TCP.
 .
 These programs log the client host name of incoming telnet,
 ftp, rsh, rlogin, finger etc. requests. Security options are:
 access control per host, domain and/or service; detection of
 host name spoofing or host address spoofing; booby traps to
 implement an early-warning system.

Package: libwrap0-dev
Architecture: any
Section: devel
Priority: optional
Depends: libwrap0 (= ${Source-Version}), libc6-dev
Provides: libwrap-dev
Conflicts: libwrap-dev, netbase (<< 3.16-1)
Description: Wietse Venema's TCP wrappers library, development files
 Wietse Venema's network logger, also known as TCPD or LOG_TCP.
 .
 These programs log the client host name of incoming telnet,
 ftp, rsh, rlogin, finger etc. requests. Security options are:
 access control per host, domain and/or service; detection of
 host name spoofing or host address spoofing; booby traps to
 implement an early-warning system.

Package: tcpd
Architecture: any
Depends: ${shlibs:Depends}
Replaces: libwrap0 (<< 7.6-8)
Conflicts: netbase (<< 3.16-1)
Description: Wietse Venema's TCP wrapper utilities
 Wietse Venema's network logger, also known as TCPD or LOG_TCP.
 .
 These programs log the client host name of incoming telnet,
 ftp, rsh, rlogin, finger etc. requests. Security options are:
 access control per host, domain and/or service; detection of
 host name spoofing or host address spoofing; booby traps to
 implement an early-warning system.
