#!/bin/sh

set -e
. /usr/share/debconf/confmodule || exit
db_version 2.0

db_input low krb5-kdc/debconf || true
db_go

db_get krb5-kdc/debconf
if [ $RET = "true" ] ; then
	db_input medium krb5-kdc/krb4-mode || true
	db_go
	RET=""
	db_get krb5-kdc/run-krb524 || true
	if [ "x$RET" = x ] ; then
		db_get krb5-kdc/krb4-mode
		if [ $RET = disable ] ; then
                	db_set krb5-kdc/run-krb524 false
		else
			db_set krb5-kdc/run-krb524 true
		fi
	fi
	db_input low krb5-kdc/run-krb524 || true
	db_go
fi

db_input medium krb5-kdc/purge_data_too || true
db_go
