Source: liblocale-gettext-perl
Section: perl
Priority: required
Maintainer: Debian Perl Group <pkg-perl-maintainers@lists.alioth.debian.org>
Uploaders: Raphaël Hertzog <hertzog@debian.org>, Niko Tyni <ntyni@debian.org>,
 gregor herrmann <gregoa@debian.org>
Standards-Version: 3.9.5
Build-Depends: debhelper (>= 9.20120312~)
Homepage: https://metacpan.org/release/gettext
Vcs-Git: git://anonscm.debian.org/pkg-perl/packages/liblocale-gettext-perl.git
Vcs-Browser: http://anonscm.debian.org/gitweb/?p=pkg-perl/packages/liblocale-gettext-perl.git

Package: liblocale-gettext-perl
Architecture: any
Pre-Depends: ${perl:Depends}
Depends: ${misc:Depends}, ${shlibs:Depends}
Description: module using libc functions for internationalization in Perl
 The gettext module permits access from perl to the gettext() family of
 functions for retrieving message strings from databases constructed
 to internationalize software.
 .
 It provides gettext(), dgettext(), dcgettext(), textdomain(),
 bindtextdomain(), bind_textdomain_codeset(), ngettext(), dcngettext()
 and dngettext().
