Source: ifupdown
Section: admin
Priority: important
Maintainer: Anthony Towns <ajt@debian.org>
Uploaders: Petter Reinholdtsen <pere@debian.org>
Standards-Version: 3.8.3
Build-Depends: debhelper (>= 7), nowebm

Package: ifupdown
Architecture: any
Depends: net-tools, ${shlibs:Depends}, ${misc:Depends}, lsb-base
Suggests: iproute, dhcp3-client | dhcp-client, ppp
Replaces: netbase (<< 4.00)
Conflicts: dhcp-client (<< 3.0)
Description: high level tools to configure network interfaces
 This package provides the tools ifup and ifdown which may be used to
 configure (or, respectively, deconfigure) network interfaces based on
 interface definitions in the file /etc/network/interfaces.
