#!/usr/bin/make -f

SONAME = libpng12.so.0
UPACKAGE = libpng12-0-udeb

include /usr/share/cdbs/1/rules/debhelper.mk
include /usr/share/cdbs/1/class/makefile.mk
include /usr/share/cdbs/1/rules/simple-patchsys.mk

DEBCFLAGS:= -g
ifneq (,$(findstring noopt,$(DEB_BUILD_OPTIONS)))
	DEBCFLAGS += -O0
else
	DEBCFLAGS += -O3
endif

DEB_MAKE_INVOKE := $(MAKE) DEBCFLAGS="$(DEBCFLAGS)" -f scripts/makefile.linux prefix=/usr
DEB_MAKE_CHECK_TARGET := test

DEB_INSTALL_DOCS_libpng3 := --no-act
DEB_INSTALL_DOCS_libpng3-dev := --no-act
DEB_INSTALL_DOCS_libpng12-dev := --no-act
DEB_INSTALL_CHANGELOGS_libpng3 := --no-act
DEB_INSTALL_CHANGELOGS_libpng3-dev := --no-act
DEB_INSTALL_CHANGELOGS_libpng12-dev := --no-act

binary-post-install/libpng12-dev::
	dh_installdocs -plibpng12-dev -Xcopyright

clean::
	cat debian/copyright.in LICENSE > debian/copyright

install/$(UPACKAGE)::
	cp $(SONAME) $(CURDIR)/debian/$(UPACKAGE)/usr/lib/
