Package: libwbclient-dev
Source: samba
Version: 2:4.8.0-12.netgear5
Architecture: amd64
Maintainer: Samba Debian Maintainers <pkg-samba-maint@lists.alioth.debian.org>
Installed-Size: 76
Pre-Depends: dpkg (>= 1.15.6~)
Depends: libwbclient0 (= 2:4.8.0-12.netgear5)
Section: libdevel
Priority: optional
Multi-Arch: same
Homepage: http://www.samba.org/
Description: Samba winbind client library - development files
 Samba is an implementation of the SMB/CIFS protocol for Unix systems,
 providing support for cross-platform file and printer sharing with
 Microsoft Windows, OS X, and other Unix systems.
 .
 This package provides the development files (static library and headers)
 required for building applications against libwbclient, a library for client
 applications that interact via the winbind pipe protocol with a Samba
 winbind server.
