Package: samba-doc
Source: samba
Version: 2:4.8.0-12.netgear5
Architecture: all
Maintainer: Samba Debian Maintainers <pkg-samba-maint@lists.alioth.debian.org>
Installed-Size: 404
Pre-Depends: dpkg (>= 1.15.6~)
Suggests: samba-doc-pdf
Section: doc
Priority: optional
Homepage: http://www.samba.org/
Description: Samba documentation
 Samba is an implementation of the SMB/CIFS protocol for Unix systems,
 providing support for cross-platform file and printer sharing with
 Microsoft Windows, OS X, and other Unix systems.
 .
 This package contains all the non-PDF documentation for the Samba
 suite. See also samba-doc-pdf.
