[Unit]
Description=RAIDar discovery service

[Service]
ExecStart=/usr/sbin/raidard -S
ExecReload=/bin/kill -HUP $MAINPID
Restart=always

[Install]
WantedBy=multi-user.target
