#!/usr/bin/make -f

package = zip
docdir = debian/tmp/usr/share/doc/$(package)

CC = gcc
CFLAGS = -g -Wall -I. -DUNIX
INSTALL_PROGRAM = install

ifeq (,$(findstring noopt,$(DEB_BUILD_OPTIONS)))
  CFLAGS += -O2
endif
ifeq (,$(findstring nostrip,$(DEB_BUILD_OPTIONS)))
  INSTALL_PROGRAM += -s
endif

build:
	$(checkdir)
	unix/configure "$(CC)" "$(CFLAGS)"
	$(MAKE) -f unix/Makefile generic
	touch build

clean:
	$(checkdir)
	rm -f build
	-$(MAKE) -f unix/Makefile clean
	rm -rf debian/tmp debian/files* debian/*~ debian/*.bak debian/substvars

binary-indep: checkroot build
	$(checkdir)

binary-arch: checkroot build
	rm -rf debian/tmp
	install -d debian/tmp/DEBIAN $(docdir)
	cd debian/tmp && install -d usr/bin usr/man/man1
	$(MAKE) -f unix/Makefile install prefix=`pwd`/debian/tmp/usr \
		INSTALL_PROGRAM="$(INSTALL_PROGRAM)"
	chmod 755 debian/tmp/usr/bin/*
	cat debian/copyright.in LICENSE > $(docdir)/copyright
	cp debian/changelog $(docdir)/changelog.Debian
	cp -p CHANGES TODO WHATSNEW $(docdir)
	cd $(docdir) && gzip -9 changelog.Debian CHANGES
	ln -s CHANGES.gz $(docdir)/changelog.gz
	gzip -r9 debian/tmp/usr/man
	cd debian/tmp && mv usr/man usr/share
	ln -s zip.1.gz debian/tmp/usr/share/man/man1/zipnote.1.gz
	ln -s zip.1.gz debian/tmp/usr/share/man/man1/zipsplit.1.gz
	ln -s zip.1.gz debian/tmp/usr/share/man/man1/zipcloak.1.gz
	dpkg-shlibdeps zip
	dpkg-gencontrol -isp
	cd debian/tmp && \
		md5sum `find * -type f ! -regex "DEBIAN/.*"` > DEBIAN/md5sums
	chown -R root:root debian/tmp
	chmod -R u+w,go=rX debian/tmp
	dpkg --build debian/tmp ..

define checkdir
	test -f $(package).c -a -f debian/rules
endef

binary: binary-indep binary-arch

checkroot:
	$(checkdir)
	test root = "`whoami`"

.PHONY: binary binary-arch binary-indep clean checkroot
