Source: ddrescue
Section: utils
Priority: optional
Maintainer: Michael Prokop <mika@debian.org>
Build-Depends: debhelper (>= 5)
Standards-Version: 3.8.2
Homepage: http://www.garloff.de/kurt/linux/ddrescue/
Vcs-git: git://git.grml.org/ddrescue.git
Vcs-Browser: http://git.grml.org/?p=ddrescue.git

Package: ddrescue
Architecture: any
Depends: ${shlibs:Depends}
Description: copy data from one file or block device to another
 dd_rescue is a tool to help you to save data from crashed
 partition. Like dd, dd_rescue does copy data from one file or
 block device to another. But dd_rescue does not abort on errors
 on the input file (unless you specify a maximum error number).
 It uses two block sizes, a large (soft) block size and a small
 (hard) block size. In case of errors, the size falls back to the
 small one and is promoted again after a while without errors.
 If the copying process is interrupted by the user it is possible
 to continue at any position later. It also does not truncate
 the output file (unless asked to). It allows you to start from
 the end of a file and move backwards as well. dd_rescue does
 not provide character conversions.
 .
 Please note that this is the dd_rescue version of Kurt Garloff
 providing the /bin/dd_rescue executable. If you are searching
 for the GNU ddrescue version please check out the gddrescue
 package instead.
