#!/usr/bin/make -f

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

include /usr/share/dpatch/dpatch.make

# These are used for cross-compiling and for saving the configure script
# from having to guess our platform (since we know it already)
DEB_HOST_GNU_TYPE   ?= $(shell dpkg-architecture -qDEB_HOST_GNU_TYPE)
DEB_BUILD_GNU_TYPE  ?= $(shell dpkg-architecture -qDEB_BUILD_GNU_TYPE)

CFLAGS = -Wall -g

ifneq (,$(findstring noopt,$(DEB_BUILD_OPTIONS)))
	CFLAGS += -O0
else
	CFLAGS += -O2
endif
ifeq (,$(findstring nostrip,$(DEB_BUILD_OPTIONS)))
	INSTALL_PROGRAM += -s
endif

confopts = --disable-subversion \
	--disable-xmltoman \
	--disable-lynx

config.status: patch configure-stamp
configure-stamp:
	dh_testdir
	[ ! -f ifplugd.spec ] || mv -f ifplugd.spec ifplugd.spec.ups
ifneq "$(wildcard /usr/share/misc/config.sub)" ""
	cp -f /usr/share/misc/config.sub config.sub
endif
ifneq "$(wildcard /usr/share/misc/config.guess)" ""
	cp -f /usr/share/misc/config.guess config.guess
endif
	[ ! -f doc/README.html ] || mv -f doc/README.html doc/README.html.ups
	./configure --host=$(DEB_HOST_GNU_TYPE) --build=$(DEB_BUILD_GNU_TYPE) --prefix=/usr --mandir=\$${prefix}/share/man --sysconfdir=/etc CFLAGS="$(CFLAGS)" LDFLAGS="-Wl,-z,defs" $(confopts)
	touch $@

build: build-stamp
build-stamp: patch-stamp config.status
	dh_testdir
	$(MAKE)
	touch $@

clean: clean-patched unpatch
clean-patched:
	dh_testdir
	dh_testroot
	rm -f build-stamp configure-stamp
	[ ! -f Makefile ] || $(MAKE) distclean
	[ ! -f doc/README.html.ups ] || mv -f doc/README.html.ups doc/README.html
	rm -f config.guess config.sub
	[ ! -f ifplugd.spec.ups ] || mv -f ifplugd.spec.ups ifplugd.spec
	debconf-updatepo
	dh_clean

install: build
	dh_testdir
	dh_testroot
	dh_clean -k
	dh_installdirs
	$(MAKE) install DESTDIR=$(CURDIR)/debian/ifplugd
	# now handled by debconf:
	rm -f $(CURDIR)/debian/ifplugd/etc/ifplugd/ifplugd.conf
	install -m 755 debian/ifplugd.udev.agent $(CURDIR)/debian/ifplugd/lib/udev/ifplugd.agent
	install -m 755 debian/ifplugd.action $(CURDIR)/debian/ifplugd/etc/ifplugd/
	install -m 755 debian/ifupdown.action $(CURDIR)/debian/ifplugd/etc/ifplugd/action.d/ifupdown
	install -m 755 debian/pm/ifplugd $(CURDIR)/debian/ifplugd/etc/apm/scripts.d/
	install -m 755 debian/pm/ifplugd $(CURDIR)/debian/ifplugd/etc/pm/sleep.d/74ifplugd
	install -m 755 debian/ifstatus $(CURDIR)/debian/ifplugd/usr/sbin/
	install -m 755 debian/bug/script $(CURDIR)/debian/ifplugd/usr/share/bug/ifplugd/

binary-indep: build install

binary-arch: build install
	dh_testdir
	dh_testroot
	dh_installchangelogs doc/ChangeLog
	dh_installdocs
	dh_installdebconf
	dh_installinit --noscripts
	dh_installudev
	dh_installman
	dh_link
	dh_strip
	dh_compress
	dh_fixperms
	dh_installdeb
	dh_shlibdeps
	dh_gencontrol
	dh_md5sums
	dh_builddeb

binary: binary-indep binary-arch
.PHONY: build clean binary-indep binary-arch binary install patch unpatch
