Source: raidtools2
Section: admin
Priority: optional
Maintainer: Pekka Aleksi Knuutila <pa@debian.org>
Build-Depends: debhelper, libpopt-dev
Standards-Version: 3.0.0.0

Package: raidtools2
Architecture: any
Depends: ${shlibs:Depends}, debconf, makedev (>= 2.3.1-24)
Conflicts: raidtools, mdutils, file-rc (<<0.4.3)
Replaces: mdutils
Provides: mdutils
Description: Utilities to support 'new-style' RAID disks
 The Multiple Device driver's main goal is to group several disks or
 partitions together, making them look like a single block device.
 This includes linear adding of disks, RAID-0, -1, -4 and -5.
 .
 'New-style' RAID arrays have a lot features not present in the
 'older' RAID arrays, including autodetection. Old arrays can be upgraded
 with this package, and it is mostly a good idea to use this package
 when creating new RAID arrays.
 .
 In order to use this package, you must have a kernel with 'new-style' RAID
 drivers, which are included in stock kernels since the 2.4 series. For
 older kernels, you can find patches at
 http://people.redhat.com/mingo/raid-patches/.
