Source: nss-mdns
Section: admin
Priority: optional
Maintainer: Utopia Maintenance Team <pkg-utopia-maintainers@lists.alioth.debian.org>
Uploaders: Loic Minier <lool@dooz.org>,
           Sjoerd Simons <sjoerd@debian.org>
Build-Depends: debhelper (>= 5),
               lynx,
               gcc-multilib [amd64]
Standards-Version: 3.8.2

Package: libnss-mdns
Section: admin
Depends: ${shlibs:Depends},
         ${misc:Depends},
         base-files (>= 3.1.10),
         avahi-daemon (>= 0.6.16-1)
Suggests: avahi-autoipd | zeroconf
Architecture: any
Description: NSS module for Multicast DNS name resolution
 nss-mdns is a plugin for the GNU Name Service Switch (NSS) functionality
 of the GNU C Library (glibc) providing host name resolution via Multicast
 DNS (using Zeroconf, aka Apple Bonjour / Apple Rendezvous ), effectively
 allowing name resolution by common Unix/Linux programs in the ad-hoc mDNS
 domain .local.

Package: lib32nss-mdns
Section: admin
Depends: ${shlibs:Depends},
         ${misc:Depends},
         base-files (>= 3.1.10),
         avahi-daemon (>= 0.6.16-1)
Suggests: avahi-autoipd | zeroconf
Conflicts: libc6-i386 (<= 2.9-18)
Architecture: amd64
Description: NSS module for Multicast DNS name resolution (32-bits version)
 nss-mdns is a plugin for the GNU Name Service Switch (NSS) functionality
 of the GNU C Library (glibc) providing host name resolution via Multicast
 DNS (using Zeroconf, aka Apple Bonjour / Apple Rendezvous ), effectively
 allowing name resolution by common Unix/Linux programs in the ad-hoc mDNS
 domain .local.
 .
 This package is built for 32-bits environments.
