[Unit]
Description=Idle Disk Spindown Daemon
After=systemd-udev-settle.service
Wants=systemd-udev-settle.service

[Service]
Environment=TIMEOUT=5
EnvironmentFile=/etc/default/noflushd
ExecStart=/usr/sbin/noflushd -d -n $TIMEOUT

[Install]
WantedBy=multi-user.target
