#!/bin/sh

set -e

CONFFILE=/etc/default/noflushd

. /usr/share/debconf/confmodule

TIMEOUT=""
DISKS=""
PARAMS=""

# Override TIMEOUT, DISKS, PARAMS with user defaults
if test -e "$CONFFILE"; then
	. "$CONFFILE"

	db_set noflushd/timeout "$TIMEOUT"
	db_set noflushd/disks "$DISKS"
	db_set noflushd/params "$PARAMS"
fi

do_it_again=1

while test "$do_it_again" -ne 0; do 

	do_it_again=0

	db_get noflushd/params
	PARAMS="$RET"

	if test -z "$PARAMS"; then
		db_set noflushd/expert false
		db_input medium noflushd/timeout || :
		db_input medium noflushd/disks || :
		db_input low noflushd/expert || :
		db_go || :
		db_get noflushd/expert
		if test "$RET" != "false"; then
			db_get noflushd/timeout
			TIMEOUT="$RET"
			db_get noflushd/disks
			DISKS="$RET"
			PARAMS="-n $TIMEOUT $DISKS"
			db_set noflushd/params "$PARAMS"
			do_it_again=1
		fi
	else
		db_input medium noflushd/params || :
		db_go || :
		db_get noflushd/params
		PARAMS="$RET"
		if test -z "$PARAMS"; then
			do_it_again=1
			db_fset noflushd/timeout seen false
			db_fset noflushd/disks seen false
		fi
	fi
done

