Source: flac
Section: sound
Priority: optional
Maintainer: Matt Zimmerman <mdz@debian.org>
Build-Depends: debhelper (>> 3.0.0), xmms-dev, nasm (>= 0.98.34-1) [i386], doxygen, libid3-3.8.3-dev, libogg-dev, g++ (>= 2:3.2)
Standards-Version: 3.6.0

Package: flac
Section: sound
Architecture: any
Depends: ${shlibs:Depends}
Description: Free Lossless Audio Codec - command line tools
 FLAC stands for Free Lossless Audio Codec. Grossly oversimplified, FLAC is
 similar to MP3, but lossless.  The FLAC project consists of:
 .
  * The stream format
  * libFLAC, which implements a reference encoder, stream decoder, and file
    decoder
  * flac, which is a command-line wrapper around libFLAC to encode and decode
    .flac files
  * Input plugins for various music players (Winamp, XMMS, and more in the
    works)
 .
 This package contains the command-line tool, flac

Package: libflac6
Section: libs
Architecture: any
Depends: debconf, ${shlibs:Depends}
Conflicts: libflac3 (= 1.0.4-1), libflac4 (= 1.1.1-1)
Replaces: libflac3 (= 1.0.4-1), libflac4 (= 1.1.1-1)
Description: Free Lossless Audio Codec - runtime C library
 FLAC stands for Free Lossless Audio Codec. Grossly oversimplified, FLAC is
 similar to MP3, but lossless.  The FLAC project consists of:
 .
  * The stream format
  * libFLAC, which implements a reference encoder, stream decoder, and file
    decoder
  * flac, which is a command-line wrapper around libFLAC to encode and decode
    .flac files
  * Input plugins for various music players (Winamp, XMMS, and more in the
    works)
 .
 This package contains the runtime library libFLAC.

Package: libflac-dev
Section: libdevel
Architecture: any
Depends: libflac6 (= ${Source-Version}), libc6-dev
Replaces: libflac0
Description: Free Lossless Audio Codec - C development library
 FLAC stands for Free Lossless Audio Codec. Grossly oversimplified, FLAC is
 similar to MP3, but lossless.  The FLAC project consists of:
 .
  * The stream format
  * libFLAC, which implements a reference encoder, stream decoder, and file
    decoder
  * flac, which is a command-line wrapper around libFLAC to encode and decode
    .flac files
  * Input plugins for various music players (Winamp, XMMS, and more in the
    works)
 .
 This package contains the development library libFLAC.

Package: liboggflac1
Section: libs
Architecture: any
Depends: debconf, ${shlibs:Depends}
Conflicts: libflac3 (= 1.0.4-1), liboggflac0
Replaces: libflac3 (= 1.0.4-1)
Description: Free Lossless Audio Codec - runtime C library (ogg)
 FLAC stands for Free Lossless Audio Codec. Grossly oversimplified, FLAC is
 similar to MP3, but lossless.  The FLAC project consists of:
 .
  * The stream format
  * libFLAC, which implements a reference encoder, stream decoder, and file
    decoder
  * flac, which is a command-line wrapper around libFLAC to encode and decode
    .flac files
  * Input plugins for various music players (Winamp, XMMS, and more in the
    works)
 .
 This package contains the runtime library libOggFLAC.

Package: liboggflac-dev
Section: libdevel
Architecture: any
Depends: libflac-dev, liboggflac1 (= ${Source-Version})
Conflicts: libflac-dev (= 1.0.4-1)
Replaces: libflac-dev (= 1.0.4-1)
Description: Free Lossless Audio Codec - C development library (ogg)
 FLAC stands for Free Lossless Audio Codec. Grossly oversimplified, FLAC is
 similar to MP3, but lossless.  The FLAC project consists of:
 .
  * The stream format
  * libFLAC, which implements a reference encoder, stream decoder, and file
    decoder
  * flac, which is a command-line wrapper around libFLAC to encode and decode
    .flac files
  * Input plugins for various music players (Winamp, XMMS, and more in the
    works)
 .
 This package contains the development library libOggFLAC.

Package: libflac++4
Section: libs
Architecture: any
Depends: ${shlibs:Depends}
Conflicts: libflac++1 (= 1.0.4-1), libflac++2, libflac++2c102 (= 1.1.1-1)
Replaces: libflac++1 (= 1.0.4-1)
Description: Free Lossless Audio Codec - C++ runtime library
 FLAC stands for Free Lossless Audio Codec. Grossly oversimplified, FLAC is
 similar to MP3, but lossless.  The FLAC project consists of:
 .
  * The stream format
  * libFLAC, which implements a reference encoder, stream decoder, and file
    decoder
  * flac, which is a command-line wrapper around libFLAC to encode and decode
    .flac files
  * Input plugins for various music players (Winamp, XMMS, and more in the
    works)
 .
 This package contains the runtime library libFLAC++.

Package: libflac++-dev
Section: libdevel
Architecture: any
Depends: libflac-dev, libflac++4 (= ${Source-Version})
Description: Free Lossless Audio Codec - C++ development library
 FLAC stands for Free Lossless Audio Codec. Grossly oversimplified, FLAC is
 similar to MP3, but lossless.  The FLAC project consists of:
 .
  * The stream format
  * libFLAC, which implements a reference encoder, stream decoder, and file
    decoder
  * flac, which is a command-line wrapper around libFLAC to encode and decode
    .flac files
  * Input plugins for various music players (Winamp, XMMS, and more in the
    works)
 .
 This package contains the development library libFLAC++.

Package: liboggflac++0c102
Section: libs
Architecture: any
Depends: ${shlibs:Depends}
Conflicts: libflac3 (= 1.0.4-1), liboggflac++0
Replaces: libflac3 (= 1.0.4-1)
Description: Free Lossless Audio Codec - C++ runtime library (ogg)
 FLAC stands for Free Lossless Audio Codec. Grossly oversimplified, FLAC is
 similar to MP3, but lossless.  The FLAC project consists of:
 .
  * The stream format
  * libFLAC, which implements a reference encoder, stream decoder, and file
    decoder
  * flac, which is a command-line wrapper around libFLAC to encode and decode
    .flac files
  * Input plugins for various music players (Winamp, XMMS, and more in the
    works)
 .
 This package contains the runtime library libOggFLAC++.

Package: liboggflac++-dev
Section: libdevel
Architecture: any
Conflicts: libflac-dev (= 1.0.4-1)
Replaces: libflac-dev (= 1.0.4-1)
Depends: libflac++-dev, liboggflac-dev, liboggflac++0c102 (= ${Source-Version})
Description: Free Lossless Audio Codec - C++ development library (ogg)
 FLAC stands for Free Lossless Audio Codec. Grossly oversimplified, FLAC is
 similar to MP3, but lossless.  The FLAC project consists of:
 .
  * The stream format
  * libFLAC, which implements a reference encoder, stream decoder, and file
    decoder
  * flac, which is a command-line wrapper around libFLAC to encode and decode
    .flac files
  * Input plugins for various music players (Winamp, XMMS, and more in the
    works)
 .
 This package contains the development library libOggFLAC++.

Package: xmms-flac
Section: sound
Architecture: any
Depends: ${shlibs:Depends}
Description: Free Lossless Audio Codec - XMMS input plugin
 FLAC stands for Free Lossless Audio Codec. Grossly oversimplified, FLAC is
 similar to MP3, but lossless.  The FLAC project consists of:
 .
  * The stream format
  * libFLAC, which implements a reference encoder, stream decoder, and file
    decoder
  * flac, which is a command-line wrapper around libFLAC to encode and decode
    .flac files
  * Input plugins for various music players (Winamp, XMMS, and more in the
    works)
 .
 This package contains an XMMS input plugin to play FLAC audio streams.
