Source: ifplugd
Section: net
Priority: optional
Maintainer: Oliver Kurth <oku@debian.org>
Build-Depends: debhelper (>> 4.0.0), libdaemon-dev (>= 0.7), lynx | lynx-ssl, pkg-config
Standards-Version: 3.6.1

Package: ifplugd
Architecture: any
Depends:  ${shlibs:Depends}, debconf (>> 0.5)
Recommends: ifupdown (>= 0.6.4-4.2)
Description: A configuration daemon for ethernet devices
 ifplugd is a daemon which will automatically configure your
 ethernet device when a cable is plugged in and automatically
 unconfigure it if the cable is pulled. This is useful on laptops with
 onboard network adapters, since it will only configure the interface
 when a cable is really connected.
 .
 Some features:
  * May beep when the cable is unplugged, plugged, the interface
    configuration succeeded or failed.
  * Syslog support
  * small
  * Multiple ethernet interface support
  * Support for wireless networking. Whenever an association to an AP
    is detected the network is configured. Have a look on waproamd
    if you need a facility to configure WEP keys before AP
    associations succeed.
  * Compatibility mode for network devices which do not support cable
    detection
