#!/usr/bin/make -f
export DH_ALWAYS_EXCLUDE=.svn

export CFLAGS := -g -O2 -Wall -fstack-protector --param=ssp-buffer-size=4 -Wformat -Werror=format-security
export CPPFLAGS := -D_FORTIFY_SOURCE=2
export CXXFLAGS := -g -O2 -Wall -fstack-protector --param=ssp-buffer-size=4 -Wformat -Werror=format-security
export FFLAGS := -g -O2
export LDFLAGS := -Wl,-z,relro

DESTDIR = $(CURDIR)/debian/raidar

%:
	dh $@

override_dh_install:
	# Install systemd service files.
	mkdir -p $(DESTDIR)/lib/systemd/system
	install -m 0644 debian/raidar.service $(DESTDIR)/lib/systemd/system
