Source: libgd2
Section: libs
Priority: optional
Maintainer: Jonas Smedegaard <dr@jones.dk>
Standards-Version: 3.6.1
Build-Depends: autotools-dev, debhelper (>= 4), d-shlibs (>> 0.23), dh-buildinfo, libpng12-dev, libz-dev, libfreetype6-dev, libxpm-dev | xlibs-dev (<< 4.3.0), libx11-dev | xlibs-dev (<< 4.3.0), libxt-dev | xlibs-dev (<< 4.3.0), libjpeg62-dev, libfontconfig-dev

Package: libgd-tools
Architecture: any
Section: graphics
Depends: ${shlibs:Depends}, ${perl:Depends}
Suggests: libgd2-noxpm-dev | libgd2-xpm-dev
Description: GD command line tools and example code
 GD is a graphics library. It allows your code to quickly draw images
 complete with lines, arcs, text, multiple colours, cut and paste from
 other images, flood fills, and write out the result as a PNG file.
 This is particularly useful in World Wide Web applications, where PNG is
 one of the formats accepted for inline images by most browsers.
 .
 This is some simple command line tools and example code that use the GD
 graphics library.
 .
 Website: http://www.boutell.com/gd/

Package: libgd2-xpm-dev
Architecture: any
Section: libdevel
Depends: libgd2-xpm (= ${Source-Version}), ${devlibs:Depends}
Conflicts: libgd-noxpm-dev, libgd-xpm-dev, libgd2-noxpm-dev, libgd2-dev (<< 2.0.4-5), libgd-gif1-dev
Description: GD Graphics Library version 2 (development version)
 GD is a graphics library. It allows your code to quickly draw images
 complete with lines, arcs, text, multiple colours, cut and paste from
 other images, flood fills, and write out the result as a PNG file.
 This is particularly useful in World Wide Web applications, where PNG is
 one of the formats accepted for inline images by most browsers.
 .
 This is the full development version of the library, built with XPM
 (X pixmap) and fontconfig support.
 .
 Website: http://www.boutell.com/gd/

Package: libgd2-noxpm-dev
Architecture: any
Section: libdevel
Depends: libgd2-noxpm (= ${Source-Version}), ${devlibs:Depends}
Conflicts: libgd-noxpm-dev, libgd-xpm-dev, libgd2-xpm-dev, libgd2-dev (<< 2.0.4-5), libgd-gif1-dev
Description: GD Graphics Library version 2 (development version)
 GD is a graphics library. It allows your code to quickly draw images
 complete with lines, arcs, text, multiple colours, cut and paste from
 other images, flood fills, and write out the result as a PNG file.
 This is particularly useful in World Wide Web applications, where PNG is
 one of the formats accepted for inline images by most browsers.
 .
 This is the full development version of the library, built without XPM
 (X pixmap) or fontconfig support.
 .
 Website: http://www.boutell.com/gd/

Package: libgd2-xpm
Architecture: any
Depends: ${shlibs:Depends}
Conflicts: libgd2-noxpm, libgd2 (<< 2.0.4-5)
Replaces: libgd2 (<< 2.0.4-2)
Suggests: libgd-tools
Description: GD Graphics Library version 2
 GD is a graphics library. It allows your code to quickly draw images
 complete with lines, arcs, text, multiple colours, cut and paste from
 other images, flood fills, and write out the result as a PNG file.
 This is particularly useful in World Wide Web applications, where PNG is
 one of the formats accepted for inline images by most browsers.
 .
 This is the runtime package of the library, built with XPM (X pixmap)
 and fontconfig support.
 .
 Website: http://www.boutell.com/gd/

Package: libgd2-noxpm
Architecture: any
Depends: ${shlibs:Depends}
Conflicts: libgd2-xpm, libgd2 (<< 2.0.4-5)
Replaces: libgd2 (<< 2.0.4-2)
Suggests: libgd-tools
Description: GD Graphics Library version 2 (without XPM support)
 GD is a graphics library. It allows your code to quickly draw images
 complete with lines, arcs, text, multiple colours, cut and paste from
 other images, flood fills, and write out the result as a PNG file.
 This is particularly useful in World Wide Web applications, where PNG is
 one of the formats accepted for inline images by most browsers.
 .
 This is the runtime package of the library, built without XPM (X pixmap)
 or fontconfig support.
 .
 Website: http://www.boutell.com/gd/

Package: libgd2
Architecture: all
Section: oldlibs
Depends: libgd2-noxpm (>= 2.0.4-2) | libgd2-xpm (>= 2.0.4-2)
Conflicts: libgd-tools (<<2.0.0)
Replaces: libgd-tools (<<2.0.0)
Suggests: libgd-tools
Description: GD Graphics Library version 2
 GD is a graphics library...
 .
 This is a transitional package, provided for backwards compatibility
 only. You can safely remove this package when no other package depend
 on it.

Package: libgd2-dev
Architecture: all
Section: oldlibs
Depends: libgd2-noxpm-dev (>= 2.0.4-2) | libgd2-xpm-dev (>= 2.0.4-2)
Conflicts: libgd-dev, libgd1g-dev, libgd1-altdev
Description: GD Graphics Library version 2 (development version)
 GD is a graphics library...
 .
 This is a transitional package, provided for backwards compatibility
 only. You can safely remove this package when no other package depend
 on it.
