#!/usr/bin/make -f

VERSION=$(shell expr `pwd` : '.*-\([0-9.]*\)')
VERSION_MAJOR=$(shell expr `pwd` : '.*-\([0-9]\+\)')
VERSION_REVISION=$(shell expr `pwd` : '.*-[0-9]\+\.[0-9]\+\.\([0-9]\+\)')

# compile flags
COMPILER = gcc
libgd_la_LDFLAGS=-version-info $(VERSION_MAJOR):$(VERSION_REVISION)

CFLAGS = -Wall -g -D_REENTRANT -pipe -Wl,--disable-rpath
ifneq (,$(findstring noopt,$(DEB_BUILD_OPTIONS)))
CFLAGS += -O0
else
CFLAGS += -O2
endif

# build dirs, targets and binaries
BUILD-ARCH-TARGETS = build-libgd2-noxpm build-libgd2-xpm
STAMP-ARCH-TARGETS = $(patsubst build-%,stamp-%,$(BUILD-ARCH-TARGETS))
BINARY-ARCH-TARGETS = $(patsubst build-%,binary-%,$(BUILD-ARCH-TARGETS))
TOOLS =	pngtogd pngtogd2 gdtopng gd2topng gd2copypal gdparttopng webpng
TESTS = gddemo gdtest

# Upstream detection is buggy
export PTHREAD_LIBS = -lpthread

configure: configure-stamp
configure-stamp:
	dh_testdir
	chmod -R a=r,a+X,u+w *
	chmod a+x debian/rules configure
	cp -f /usr/share/misc/config.* config/
	-mkdir $(BUILD-ARCH-TARGETS)
	cd $(CURDIR)/build-libgd2-noxpm && ../configure --prefix=/usr --without-x --without-fontconfig --disable-rpath
	cd $(CURDIR)/build-libgd2-xpm && ../configure --prefix=/usr --with-x --disable-rpath
	echo "debian/tmp-noxpm/usr/lib/libgd.so.$(VERSION) /usr/lib" > debian/libgd2-noxpm.install
	echo "debian/tmp-xpm/usr/lib/libgd.so.$(VERSION) /usr/lib" > debian/libgd2-xpm.install
	echo "/usr/lib/libgd.so.$(VERSION) /usr/lib/libgd.so.$(VERSION_MAJOR)" > debian/libgd2-noxpm.links
	echo "/usr/lib/libgd.so.$(VERSION) /usr/lib/libgd.so.$(VERSION_MAJOR)" > debian/libgd2-xpm.links
	echo "/usr/lib/libgd.so.$(VERSION) /usr/lib/libgd.so" > debian/libgd2-noxpm-dev.links
	echo "/usr/lib/libgd.so.$(VERSION) /usr/lib/libgd.so" > debian/libgd2-xpm-dev.links
	echo "libgd 2 libgd2-noxpm (>= $(VERSION)) | libgd2-xpm (>= $(VERSION))" > debian/libgd2-noxpm.shlibs
	echo "libgd 2 libgd2-xpm (>= $(VERSION))" > debian/libgd2-xpm.shlibs
	echo "libgd 2 libgd2-noxpm (>= $(VERSION)) | libgd2-xpm (>= $(VERSION))" > debian/shlibs.local
	touch $@

build: $(BUILD-ARCH-TARGETS)

# Build shared libc6 library without Xpm support.
build-libgd2-noxpm: configure-stamp stamp-libgd2-noxpm
stamp-libgd2-noxpm:
	dh_testdir
	cd build-libgd2-noxpm && $(MAKE) libgd_la_LDFLAGS="$(libgd_la_LDFLAGS)"
	LD_PRELOAD=$(CURDIR)/build-libgd2-noxpm/.libs/libgd.so $(CURDIR)/build-libgd2-noxpm/gddemo
	LD_PRELOAD=$(CURDIR)/build-libgd2-noxpm/.libs/libgd.so $(CURDIR)/build-libgd2-noxpm/gdtest demoin.png
	perl debian/doc_cleaner.pl index.html | html2text -nobs -o README
	touch $@

# Build shared libc6 library with Xpm support.
build-libgd2-xpm: configure-stamp stamp-libgd2-xpm
stamp-libgd2-xpm:
	dh_testdir
	cd build-libgd2-xpm && $(MAKE) libgd_la_LDFLAGS="$(libgd_la_LDFLAGS)"
	touch $@

clean:
	dh_testdir
	dh_testroot
	rm -f build-stamp configure-stamp $(STAMP-ARCH-TARGETS) README
	cd debian && rm -f libgd2-noxpm.install libgd2-noxpm.links libgd2-noxpm-dev.links libgd2-noxpm.shlibs
	cd debian && rm -f libgd2-xpm.install libgd2-xpm.links libgd2-xpm-dev.links libgd2-xpm.shlibs
	cd debian && rm -f shlibs.local
	rm -rf $(BUILD-ARCH-TARGETS)
	rm -rf debian/tmp-noxpm debian/tmp-xpm
	cd test && rm -f gdtest_wbmp_to_png.png gdtest.jpg gdtest.wbmp
	rm -f demoout.png demooutp.png demoout.gif demooutp.gif
	dh_clean

binary-indep: build

binary-arch: build $(BINARY-ARCH-TARGETS)

install: DH_OPTIONS=
install: build
	dh_testdir
	dh_testroot
	dh_clean -k
	dh_installdirs
	d-devlibdeps debian/libgd2-noxpm-dev.substvars build-libgd2-noxpm/.libs/libgd.so.$(VERSION)
	d-devlibdeps debian/libgd2-xpm-dev.substvars build-libgd2-xpm/.libs/libgd.so.$(VERSION)

	-mkdir debian/tmp-noxpm debian/tmp-xpm
	cd $(CURDIR)/build-libgd2-noxpm && make install DESTDIR=$(CURDIR)/debian/tmp-noxpm
	cd $(CURDIR)/build-libgd2-xpm && make install DESTDIR=$(CURDIR)/debian/tmp-xpm

	dh_install

binary-common:
	dh_testdir
	dh_testroot
	dh_installchangelogs
	dh_installdocs -A README index.html readme.*
	dh_installexamples
	dh_installman
	dh_strip
	dh_link
	dh_compress
	dh_fixperms
	dh_installdeb
	dh_buildinfo
	dh_perl
#	dh_shlibdeps -Llibgd2-noxpm -ldebian/libgd2-noxpm/usr/lib #Requires debhelper 4.1.1 not in woody
	dh_shlibdeps -ldebian/libgd2-noxpm/usr/lib -- -Ldebian/libgd2-noxpm.shlibs
	dh_gencontrol
	dh_md5sums
	dh_builddeb

binary-indep: build install
	$(MAKE) -f debian/rules DH_OPTIONS=-i binary-common

binary-arch: build install
	$(MAKE) -f debian/rules DH_OPTIONS=-a binary-common

binary-%: build install
	make -f debian/rules binary-common DH_OPTIONS=-p$*

binary: binary-indep binary-arch
.PHONY: build clean binary-indep binary-arch binary install
