Package: winbind
Source: samba
Version: 2:4.8.0-12.netgear5
Architecture: amd64
Maintainer: Samba Debian Maintainers <pkg-samba-maint@lists.alioth.debian.org>
Installed-Size: 1539
Depends: samba (= 2:4.8.0-12.netgear5), libwbclient0 (= 2:4.8.0-12.netgear5), libbsd0 (>= 0.6.0), libc6 (>= 2.14), libcomerr2 (>= 1.01), libkrb5-3 (>= 1.6.dfsg.2), libldap-2.4-2 (>= 2.4.7), libpam0g (>= 0.99.7.1), libpopt0 (>= 1.14), libtalloc2 (>= 2.0.4~git20101213), libtdb1 (>= 1.2.7+git20101214), libtevent0 (>= 0.9.36), samba-libs
Enhances: libkrb5-26-heimdal
Section: net
Priority: optional
Homepage: http://www.samba.org/
Description: service to resolve user and group information from Windows NT servers
 Samba is an implementation of the SMB/CIFS protocol for Unix systems,
 providing support for cross-platform file sharing with Microsoft Windows, OS X,
 and other Unix systems.  Samba can also function as a domain controller
 or member server in both NT4-style and Active Directory domains.
 .
 These packages contain snapshot versions of Samba 4, the next-generation
 version of Samba.
 .
 This package provides the winbindd daemon, which provides a
 service for the Name Service Switch capability that is present
 in most modern C libraries (like the GNU C Library - glibc.). Please
 note that the functionality of this version of winbind is behind on that
 of the winbind package.
 .
 The service provided by winbindd is called `winbind' and
 can be used to resolve user and group information from a
 Windows NT server. The service can also provide authentication
 services via an associated PAM module.
