Source: exim
Section: mail
Priority: important
Maintainer: Mark Baker <mbaker@iee.org>
Standards-Version: 3.1.0
Build-depends: libpcre3-dev, libldap2-dev, libpam0g-dev, libident-dev,
 libwrap0-dev, libdb2-dev (>= 2.7.7-2.1), xlibs-dev, libxaw-dev

Package: exim
Architecture: any
Priority: important
Suggests: mail-reader, eximon
Provides: mail-transport-agent
Conflicts: mail-transport-agent, exim-doc-html (<=3.00-2), 
 suidregister (<<0.50)
Replaces: mail-transport-agent
Depends: ${shlibs:Depends}, cron (>=3.0pl1-42)
Recommends: netbase
Description: An MTA (Mail Transport Agent)
 This MTA is rather easier to configure than smail or sendmail.
 It is a drop-in replacement for sendmail/mailq/rsmtp.
 Advanced features include the ability to reject connections from
 known spam sites, and an extremely efficient queue processing
 algorithm.

Package: eximon
Architecture: any
Priority: optional
Depends: ${shlibs:Depends}, exim
Description: X monitor for the exim mail transport agent.
 This allows administrators to view the exim agent's mail queue 
 and logs, and perform a variety of actions on queued messages, 
 such as freezing, bouncing and thawing messages.
