#!/usr/bin/make -f

export DEB_BUILD_MAINT_OPTIONS = hardening=+all

%:
	dh ${@}

override_dh_auto_install:
	dh_auto_install -- LIBDIR=/lib/$(DEB_HOST_MULTIARCH) USRLIBDIR=/usr/lib/$(DEB_HOST_MULTIARCH)

override_dh_auto_test:
	# some tests do not yet work properly
	dh_auto_test || true

override_dh_install:
	dh_install --fail-missing

override_dh_strip:
	dh_strip --dbg-package=keyutils-dbg

override_dh_builddeb:
	dh_builddeb -- -Zxz
