Package: samba-vfs-modules
Source: samba
Version: 2:4.8.0-12.netgear5
Architecture: amd64
Maintainer: Samba Debian Maintainers <pkg-samba-maint@lists.alioth.debian.org>
Installed-Size: 1091
Depends: libbsd0 (>= 0.0), libc6 (>= 2.14), libdbus-1-3 (>= 1.0.2), libtalloc2 (>= 2.0.4~git20101213), libtdb1 (>= 1.2.7+git20101214), libtevent0 (>= 0.9.9), samba-libs (= 2:4.8.0-12.netgear5)
Enhances: samba
Replaces: samba-libs (<< 2:4.1.1+dfsg-1)
Section: net
Priority: optional
Homepage: http://www.samba.org/
Description: Samba Virtual FileSystem plugins
 Samba is an implementation of the SMB/CIFS protocol for Unix systems,
 providing support for cross-platform file sharing with Microsoft Windows, OS X,
 and other Unix systems.  Samba can also function as a domain controller
 or member server in both NT4-style and Active Directory domains.
 .
 This package contains plugins for the Samba server Virtual FileSystem.
