Source: libgpg-error
Section: libdevel
Maintainer: Jose Carlos Garcia Sogo <jsogo@debian.org>
Uploaders: Matthias Urlichs <smurf@debian.org>
Build-Depends: debhelper (>= 7.0.15), dpatch
Standards-Version: 3.8.1

Package: libgpg-error-dev
Priority: optional
Section: libdevel
Architecture: any
Depends: libgpg-error0 (= ${binary:Version}), ${shlibs:Depends}
Description: library for common error values and messages in GnuPG components
 Library that defines common error values for all GnuPG
 components.  Among these are GPG, GPGSM, GPGME, GPG-Agent, libgcrypt,
 pinentry, SmartCard Daemon and possibly more in the future.
 .
 This package contains the headers and other files needed to compile 
 against this library.

Package: libgpg-error0
Priority: important
Section: libs
Architecture: any
Depends: ${shlibs:Depends}
Description: library for common error values and messages in GnuPG components
 Library that defines common error values for all GnuPG
 components.  Among these are GPG, GPGSM, GPGME, GPG-Agent, libgcrypt,
 pinentry, SmartCard Daemon and possibly more in the future.

