Source: libapache2-mod-parp
Section: web
Priority: optional
Maintainer: Shiu Beng Kooi <shiu.kooi@netgear.com>
Build-Depends: debhelper (>= 9), apache2-threaded-dev (>= 2.2.0) | apache2-prefork-dev (>= 2.2.0), libapr1-dev
Standards-Version: 3.9.6

Package: libapache2-mod-parp
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, apache2.2-common, libapr1
Description: request parameter parser for Apache
 mod_parp is a HTTP request parameter parser module for the Apache web server.
 It processes the request message body as well as the query portion of the
 request URL. The module parsed this data and provides all parameter to other
 Apache modules by a table of name/value pairs.
 .
 This Package includes the mod-parp Module for Apache Version 2.2
