Source: portmap
Section: net
Priority: standard
Maintainer: Anthony Towns <ajt@debian.org>
Standards-Version: 3.1.1
Build-Depends: libwrap-dev, debhelper

Package: portmap
Architecture: any
Depends: ${shlibs:Depends}
Replaces: netbase (<< 4.00)
Description: The RPC portmapper
 Portmap is a server that converts RPC (Remote Procedure Call) program
 numbers into DARPA protocol port numbers.  It must be running in order
 to make RPC calls.
 .
 Services that use RPC include NFS and NIS.
