#!/usr/bin/make -f

%:
	dh --with quilt ${@}

override_dh_auto_clean:
	[ ! -f config.mak ] || $(MAKE) distclean

	rm -f config.guess config.sub

override_dh_auto_configure:
	cp -f /usr/share/misc/config.guess .
	cp -f /usr/share/misc/config.sub .

	./configure2 --prefix=/usr --disable-opts --disable-strip CFLAGS="$(CFLAGS)" LDFLAGS="-Wl,-z,defs"

override_dh_install:
	dh_install --fail-missing

override_dh_strip:
	dh_strip --dbg-package=libdvdread-dbg
