Source: raidar
Section: net
Priority: optional
Maintainer: Justin Maggard <justin.maggard@netgear.com>
Build-Depends: debhelper (>= 9)
Standards-Version: 3.9.6

Package: raidar
Architecture: any
Depends: ${misc:Depends},
         ${shlibs:Depends}
Description: ReadyNAS discovery service
 RAIDar is the ReadyNAS discovery service.  It is based on the iproxy
 project.
 .
 RAIDar is designed to enable networked devices to be configured without
 prior knowledge of their network setup. This is intended to aid initial
 setup, where a network device is deployed on a customer's network. It
 is desirable for the customer to be able to configure the device without
 the need for DHCP infrastructure or console access of any kind.
