Source: msmtp
Section: mail
Priority: extra
Maintainer: Julien Louis <ptitlouis@sysif.net>
Uploaders: martin f. krafft <madduck@debian.org>
Build-Depends: debhelper (>> 4.1.0), libgsasl7-dev, libssl-dev, cdbs
Standards-Version: 3.6.1

Package: msmtp
Architecture: any
Depends: ${shlibs:Depends}
Description: light SMTP client with support for server profiles
 msmtp is an SMTP client that can be used to send mails from Mutt and probably
 other MUAs (mail user agents). It forwards mails to an SMTP server (for
 example at a free mail provider), which takes care of the final delivery.
 Using profiles, it can be easily configured to use different SMTP servers
 with different configurations, which makes it ideal for mobile clients.
 .
 This package is compiled with GSASL and TLS support.
