#
# Platform support for ReadyNAS hardware
#

menuconfig READYNAS_PLATFORMS
	bool "Platform support for ReadyNAS hardware"
	depends on X86 || ARM
	---help---
	  Say Y here to get to see options for platform support for
	  various ReadyNAS models. This option alone does not add any kernel code.

	  If you say N, all options in this submenu will be skipped and disabled.

if READYNAS_PLATFORMS

config HD44780_LCD
	tristate "Hitachi HD44780 LCD using GPIO"
	---help---
	  Say yes here to enable the alpha numeric LCD driver using
	  Hitachi HD44780 accessed by GPIO.

config READYNAS_LCD
	tristate "NETGEAR ReadyNAS LCD driver"
	depends on HD44780_LCD || READYNAS_IO
	---help---
	  Alpha numeric LCD driver for NETGEAR ReadyNAS.

config READYNAS_IO
	tristate "NETGEAR ReadyNAS/X86_64 HW UI IO drivers"
	depends on X86_64 && NETGEAR
	select GPIO_IT8732
	select GPIO_NCT6775
	---help---
	  Pseudo GPIO and button handling drivers for NETGEAR ReadyNAS/X86_64.

config READYNAS_LED
	tristate "NETGEAR ReadyNAS LED drivers"
	depends on READYNAS_IO
	select NEW_LEDS
	select LEDS_CLASS
	---help---
	  Disk and front panel LED drivers for NETGEAR ReadyNAS/X86_64.

config GPIO_PWR
	tristate "Turn off system power using GPIO"
	depends on OF_GPIO
	help
	  Say yes here to enable turning off system power using GPIO.

endif # READYNAS_PLATFORMS
