Source: libedit
Section: libs
Priority: standard
Maintainer: Anibal Monsalve Salazar <anibal@debian.org>
Build-Depends: debhelper (>= 7), quilt, pmake (>= 1.45-8), groff-base,
 libbsd-dev (>= 0.1.3), libncurses5-dev, bsdmainutils
Standards-Version: 3.8.2
Vcs-Browser: http://cvsweb.netbsd.org/bsdweb.cgi/src/lib/libedit/
Homepage: http://ftp.netbsd.org/pub/NetBSD/NetBSD-release-5-0/src/lib/libedit/

Package: libedit2
Section: libs
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: BSD editline and history libraries
 The editline library provides generic line editing and
 history functions.
 .
 It slightly resembles GNU readline

Package: libedit-dev
Section: libdevel
Priority: optional
Architecture: any
Depends: libedit2 (= ${binary:Version}), libbsd-dev (>= 0.1.3), libncurses5-dev
Description: BSD editline and history libraries (development files)
 The editline library provides generic line editing and
 history functions.
 .
 It slightly resembles GNU readline
