Source: libfile-ncopy-perl
Section: perl
Priority: optional
Maintainer: Jens Peter Secher <jps@debian.org>
Build-Depends-Indep: debhelper (>= 4), perl (>= 5.6.0-16)
Standards-Version: 3.6.1

Package: libfile-ncopy-perl
Architecture: all
Depends: ${perl:Depends}
Description: file copying like cp for perl
 The File::NCopy module provides a function that copies files to
 directories, or a single file to another file.  It can also use a
 reference to a file handle.  The functionality is very similar to
 the cp program.
