Source: db3
Section: libs
Priority: optional
Maintainer: Debian Berkeley DB Maintainers <pkg-db-devel@lists.alioth.debian.org>
Uploaders: Matthew Wilcox <willy@debian.org>, Clint Adams <schizo@debian.org>, Andreas Barth <aba@not.so.argh.org>
Build-Depends: debhelper (>= 3.0.11), tcl8.3-dev, autoconf, automake, binutils (>= 2.11.90.0.7-1), procps [!hurd-i386], bsdutils [hurd-i386]
Standards-Version: 3.5.8

Package: libdb3-util
Section: utils
Priority: optional
Architecture: any
Depends: ${shlibs:Depends}
Description: Berkeley v3 Database Utilities
 These are utilities that help you to use the Berkeley v3
 database library.
 .
 Many programs use the Berkeley Database to store their data. Other
 versions of the database can be found in the db2, db4.0, db4.1 and
 db4.2 packages.

Package: libdb3
Section: libs
Conflicts: libdb2 (<< 2:2.7.7-3)
Architecture: any
Priority: required
Depends: ${shlibs:Depends}
Description: Berkeley v3 Database Libraries [runtime]
 This is the runtime package for programs that use the Berkeley v3
 database library.
 .
 Many programs use the Berkeley Database to store their data. Other
 versions of the database can be found in the db2, db4.0, db4.1 and
 db4.2 packages.

Package: libdb3-dev
Section: libdevel
Priority: optional
Conflicts: libdb2-dev, libdb1-dev, libdb-dev
Provides: libdb-dev
Depends: libdb3 (= ${Source-Version})
Suggests: db3-doc
Architecture: any
Description: Berkeley v3 Database Libraries [development]
 This is the development package which contains headers and static
 libraries for the Berkeley v3 database library.
 .
 Many programs use the Berkeley Database to store their data. Other
 versions of the database can be found in the db2, db4.0, db4.1 and
 db4.2 packages.

Package: db3-doc
Section: doc
Priority: extra
Architecture: all
Description: Berkeley v3 Database Documentation [html]
 Complete documentation for all of DB3's APIs and utilities.
 .
 Many programs use the Berkeley Database to store their data. Other
 versions of the database can be found in the db2, db4.0, db4.1 and
 db4.2 packages.

Package: libdb3++c102
Section: libs
Conflicts: libdb2++ (<< 2:2.7.7-3), libdb3++
Architecture: any
Depends: ${shlibs:Depends}
Description: Berkeley v3 Database Libraries for C++ [runtime]
 This is the runtime package for programs that use the Berkeley v3
 database library.  This is only for programs which use the C++
 interface.
 .
 Many programs use the Berkeley Database to store their data. Other
 versions of the database can be found in the db2, db4.0, db4.1 and
 db4.2 packages.

Package: libdb3++-dev
Section: libdevel
Priority: optional
Conflicts: libdb2++-dev, libdb++-dev
Replaces: libdb3++c102
Provides: libdb++-dev
Architecture: any
Depends: libdb3++c102 (= ${Source-Version}), libdb3-dev (= ${Source-Version})
Description: Berkeley v3 Database Libraries for C++ [development]
 This is the development package which contains headers and static
 libraries for the Berkeley v3 database library. This is only for programs
 which will use the C++ interface.
 .
 Many programs use the Berkeley Database to store their data. Other
 versions of the database can be found in the db2, db4.0, db4.1 and
 db4.2 packages.

Package: libdb3-tcl
Section: interpreters
Priority: extra
Architecture: any
Depends: ${shlibs:Depends}
Description: Berkeley v3 Database Libraries for TCL [module]
 This package provides a TCL module suitable accessing Berkeley v3
 databases from within TCL programs.
 .
 Many programs use the Berkeley Database to store their data. Other
 versions of the database can be found in the db2, db4.0, db4.1 and
 db4.2 packages.
