#!/usr/bin/make -f

CFLAGS := -O2 -Wall -g
CC := gcc
PWD := $(shell pwd)

# the dbs rules
TAR_DIR := db-3.2.9
include debian/scripts/dbs-build.mk

# dpkg-arch rules
ifeq (,$(DEB_BUILD_GNU_TYPE))
  include debian/scripts/dpkg-arch.mk
endif

# Setup debhelper
export DH_COMPAT=2

# FHS options
configure_args = --prefix=/usr --localstatedir=/var --sysconfdir=/etc \
--libexecdir=/usr/sbin --mandir=/usr/share/man

# Build options
configure_args += --enable-compat185 --enable-cxx --enable-shared \
--enable-rpc --enable-tcl --enable-dump185 --with-tcl=/usr/lib/tcl8.3 \
--enable-test

$(BUILD_TREE)/dist/configure: $(addprefix $(BUILD_TREE)/dist/, configure.in acconfig.h aclocal/mutex.m4 aclocal/tcl.m4)
	cd $(BUILD_TREE)/dist && ./s_config

build: $(STAMP_DIR)/build-stamp

$(STAMP_DIR)/pre-build-stamp: $(unpacked) $(patched) $(BUILD_TREE)/dist/configure
	dh_testdir
	cd $(BUILD_TREE)/build_unix && CFLAGS="$(CFLAGS)" CC="$(CC)" JAVAC="gcj -C" LIBXSO_LIBS="-lstdc++" \
		../dist/configure $(configure_args) --host=$(DEB_BUILD_GNU_TYPE)
	touch $(STAMP_DIR)/pre-build-stamp

$(STAMP_DIR)/build-stamp: $(STAMP_DIR)/pre-build-stamp
	dh_testdir
	$(MAKE) -C $(BUILD_TREE)/build_unix
	touch $(STAMP_DIR)/build-stamp

clean:
	dh_testdir
	rm -rf $(SOURCE_DIR) $(STAMP_DIR)
	perl debian/scripts/dh_split clean
	dh_clean

pre-binary: build $(dh_mak_deps)
	dh_testdir
	dh_testroot
	dh_clean -k
	dh_installdirs
	$(MAKE) DESTDIR=`pwd`/debian/tmp docdir=/usr/share/doc/db3-doc/html \
		install -C $(BUILD_TREE)/build_unix

	# Rename the utils
	cd debian/tmp/usr/bin/ && for util in *; do \
		new=$$(echo $$util | sed 's,db_,db3_,'); \
		mv $$util $$new; \
	done

	# Symlinks for non-Debian db3 compiled apps
	ln -sf libdb3.so.3.0.2 debian/tmp/usr/lib/libdb-3.so
	ln -sf libdb3.so.3.0.2 debian/tmp/usr/lib/libdb-3.2.so
	ln -sf libdb3_cxx.so.3.0.2 debian/tmp/usr/lib/libdb_cxx.so
	ln -sf libdb3_cxx.so.3.0.2 debian/tmp/usr/lib/libdb_cxx-3.so
	ln -sf libdb3_cxx.so.3.0.2 debian/tmp/usr/lib/libdb_cxx-3.2.so

	# Make things happy happy
	ln -sf libdb3.so.3 debian/tmp/usr/lib/libdb.so
	ln -sf libdb3.a debian/tmp/usr/lib/libdb.a

	dh_movefiles

binary-indep:
	dh_testdir
	dh_testroot
	dh_installdirs -i
	dh_installdocs -i
	dh_installchangelogs -i
	dh_compress -i
	dh_fixperms -i
	dh_installdeb -i
	dh_gencontrol -i
	dh_md5sums -i
	dh_builddeb -i

binary-arch: pre-binary $(dh_mak_deps)
	dh_testdir
	dh_testroot
	dh_installdirs -a
	dh_installdocs -a
	dh_installchangelogs -a
	dh_undocumented -a
	dh_strip -a
	dh_compress -a
	dh_fixperms -a
	dh_makeshlibs -aV
	dh_installdeb -a
	dh_shlibdeps -a
	dh_gencontrol -a
	dh_md5sums -a
	dh_builddeb -a

binary: binary-arch binary-indep
.PHONY: build clean binary-indep binary-arch binary pre-binary
