Source: pwauth
Section: utils
Priority: optional
Maintainer: Hai Zaar <haizaar@haizaar.com>
Build-Depends: debhelper (>= 7), libpam0g-dev, cdbs
Standards-Version: 3.8.1

Package: pwauth
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Recommends: libapache2-mod-authnz-external (>= 3.1.0)
Description: authenticator for mod_authnz_external and the Apache HTTP Daemon
 Pwauth is an authenticator designed to be used with
 mod_auth_external or mod_authnz_external and the Apache
 HTTP Daemon to support reasonably secure web
 authentication out of the system password database on most
 versions of Unix. Particulary - secure authentication
 against PAM.
