#
# Input misc drivers configuration for SX8636
#
#	depends on I2C && I2C_I801
menu "Semtech Capacitive Touch Sensors"

config INPUT_SX8635
	tristate "Semtech SX8635"
	depends on I2C_I801
	help
	  Say Y here if you want to use the SX8635 for Capacitive Buttons/Wheel.

	  To compile this driver as a module, choose M here: the
	  module will be called sx8635.


endmenu
