Source: libexif
Section: libs
Priority: optional
Maintainer: Frederic Peters <fpeters@debian.org>
Build-Depends: debhelper (>> 5.0.0), doxygen, graphviz, dpatch
Standards-Version: 3.7.2

Package: libexif-dev
Section: libdevel
Architecture: any
Depends: libexif12 (= ${Source-Version}), libc6-dev
Description: library to parse EXIF files (development files)
 Most digital cameras produce EXIF files, which are JPEG files with
 extra tags that contain information about the image. The EXIF library
 allows you to parse an EXIF file and read the data from those tags.

Package: libexif12
Section: libs
Architecture: any
Depends: ${shlibs:Depends}
Description: library to parse EXIF files
 Most digital cameras produce EXIF files, which are JPEG files with
 extra tags that contain information about the image. The EXIF library
 allows you to parse an EXIF file and read the data from those tags.
