Source: gphoto2
Section: utils
Priority: extra
Maintainer: Frederic Peters <fpeters@debian.org>
Build-Depends: debhelper (>> 3.0.0), libgphoto2-2-dev (>= 2.2.0-1), zlib1g-dev, libtool, libgpmg1-dev [], libjpeg62-dev, libexif-dev (>= 0.5.9), libcdk5-dev, libreadline5-dev | libreadline-dev, pkg-config, libncurses5-dev, libpopt-dev, type-handling (>= 0.2.1)
Build-Conflicts: liblockdev1-dev
Standards-Version: 3.6.2

Package: gphoto2
Section: utils
Architecture: any
Depends: ${shlibs:Depends}
Suggests: gtkam, gthumb
Description: The gphoto2 digital camera command-line client
 The gphoto2 library can be used by applications to access various
 digital camera models.
 .
 This package provide the gphoto2 command-line frontend.

